<a [routerLink]="'/matter/my-matter'" class="back-link">
  <fui-icons [icon]="'arrowLeft'" [size]="'sizes'" [color]="'primary'" />
  <span>Return</span>
</a>
<h1 class="title-page">5889-1 Matter Project Name</h1>
<p>
  Data entered in the 'Matter Descriptions' field on the matter information
  page.
</p>

<!-- TABS  -->
<div class="tabs">
  <fui-tabs [dataTabs]="dataTabs">
    <fui-tabs-content [id]="'Overview'">
      Content not available!
    </fui-tabs-content>
    <fui-tabs-content [id]="'Information'">
      Content not available!
    </fui-tabs-content>
    <fui-tabs-content [id]="'Timesheet'">
      <h1>Timesheet Tab</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Expenses'">
      <h1>Expenses Tab</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Documents'">
      Content not available!
    </fui-tabs-content>
  </fui-tabs>
</div>
<!-- TABS  -->
