@import "../my-matter.component.scss";

.tabs {
  margin: 20px 0px;
}
.back-link {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  &:hover {
    span {
      text-decoration: underline;
    }
  }
  fui-icons {
    margin-right: 5px;
  }
}
.card-create-activity {
  padding: 25px 20px 25px 20px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 5px;
  margin: 30px 0px 20px 0px;
}

.card-history-activity {
  padding: 25px 20px 25px 20px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 5px;
  margin: 30px 0px 0px 0px;
}

.grid  {
  display: grid;
  fui-text {
    margin-top: 30px;
    margin-bottom: 10px;
    &:last-child {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}
