<a [routerLink]="'/matter/my-matter'" class="back-link">
  <fui-icons [icon]="'arrowLeft'" [size]="'sizes'" [color]="'primary'" />
  <span>Return</span>
</a>
<h1 class="title-page">5889-1 Matter Project Name</h1>
<p>
  Data entered in the 'Matter Descriptions' field on the matter information
  page.
</p>

<!-- TABS  -->
<div class="tabs">
  <fui-tabs [dataTabs]="dataTabs">
    <fui-tabs-content [id]="'Overview'">
      Content not available!
    </fui-tabs-content>
    <fui-tabs-content [id]="'Information'">
      Content not available!
    </fui-tabs-content>
    <fui-tabs-content [id]="'Timesheet'">
      <!-- Create Timesheet -->
      <div class="card-create-activity">
        <app-create-timesheet />
      </div>
      <!-- Create Timesheet -->

      <!-- Table Timesheet -->
      <div class="card-create-activity">
        <!-- UTILITY TABLE DISPLAY DATE & FILTER  -->
        <app-utility
          [currentDate]="currentDate"
          [startDateForm]="startDateForm"
          [endDateForm]="endDateForm"
          [filterApplied]="filterApplied"
          [dataTimesheet]="dataTimesheet"
        />
        <!-- UTILITY TABLE DISPLAY DATE & FILTER  -->

        <!-- TIMESHEET MOVER  -->
        <app-move-matter
          *ngIf="timesheetSelected.length > 0"
          [listMatters]="mattersData"
          [timesheetSelected]="timesheetSelected"
          (clearSelectionOut)="clearSelectionOut($event)"
        />
        <!-- TIMESHEET MOVER  -->

        <!-- TABLE TIMESHEET  -->
        <app-table-timesheet
          [page]="page"
          [limit]="limit"
          [listActivity]="activitesData"
          [listMatters]="mattersData"
          [totalItems]="totalItems"
          [dataTimesheet]="dataTimesheet"
          [timesheetChecked]="timesheetSelected"
          (onPageChangeOut)="onPageChangeOut($event)"
          (timesheetCheckedOut)="timesheetSelectedOut($event)"
        />
        <!-- TABLE TIMESHEET  -->
      </div>
      <!-- Table Timesheet -->
    </fui-tabs-content>
    <fui-tabs-content [id]="'Expenses'">
      <app-expenses />
    </fui-tabs-content>
    <fui-tabs-content [id]="'Documents'">
      Content not available!
    </fui-tabs-content>
  </fui-tabs>
</div>
<!-- TABS  -->
