@import "../my-matter.component.scss";

.title-page {
  margin: 30px 0px;
}
.tabs {
  margin: 20px 0px;
}
.back-link {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  &:hover {
    span {
      text-decoration: underline;
    }
  }
  fui-icons {
    margin-right: 5px;
  }
}
