@import "../../app.component.scss";
:host {
  width: -webkit-fill-available;
  display: block;
}
.mb-5 {
  margin-bottom: 5px;
  display: flex;
}
.flex {
  display: flex;
  gap: 10px;
  &-start {
    display: flex;
    justify-content: start;
  }
  &-between {
    display: flex;
    justify-content: space-between;
  }
  &.gap-5 {
    gap: 5px;
  }
  fui-form-control-layout {
    width: -webkit-fill-available;
  }
}
.checkbox {
  display: flex;
  align-items: center;
  input {
    margin-right: 5px;
    display: flex;
  }
}
.label {
  margin-bottom: 5px;
  display: flex;
  margin-right: 5px;
}
