@import "../../../../styles.scss";

.section-two-card {
  display: flex;
  width: -webkit-fill-available;
  margin-top: 20px;
  .card-productivity {
    width: 30%;
    padding: 25px 20px 25px 20px;
    background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
    border-radius: 5px;
    margin: 10px 15px 0px 0px;
  }
  .card-ytd {
    width: 70%;
    padding: 25px 20px 25px 20px;
    background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
    border-radius: 5px;
    margin: 10px 0px 0px 15px;
  }
}

.card-create-activity {
  padding: 25px 20px 25px 20px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 5px;
  margin: 30px 0px 0px 0px;
}

.card-history-activity {
  padding: 25px 20px 25px 20px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 5px;
  margin: 30px 0px 0px 0px;
}

@media (max-width: 1000px) {
  .section-two-card {
    display: grid;
    .card-productivity {
      width: -webkit-fill-available;
      margin: 20px 0px 0px 0px;
    }
    .card-ytd {
      width: -webkit-fill-available;
      margin: 20px 0px 0px 0px;
    }
  }
}
