@import "../history-activity.component.scss";

.tag-bg {
  background-color: var(--fuiWarningSecondary, $fuiWarningSecondary);
}

.white-bg {
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 3px;
}

.min {
  &-w-100 {
    min-width: 100px;
  }
  &-w-200 {
    min-width: 200px;
  }
}
.w-50 {
  width: 50px;
}
