.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mb-15 {
  margin-bottom: 15px;
}

.label {
  margin-bottom: 5px;
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
