<shared-page-generic-default
  [title]="'Practice Area'"
  [description]="'Available practice area for the organization'"
  [breadcrums]="link"
>
  <fui-form-control-layout formsearch>
    <fui-input-field
      [type]="'text'"
      [placeholder]="'Search...'"
      [size]="'m'"
      [invalid]="false"
    >
      <fui-icons
        left-icon
        [label]="'left'"
        [icon]="'search'"
        [size]="'sizem'"
        [color]="'text'"
      />
    </fui-input-field>
  </fui-form-control-layout>

  <fui-button-icon
    cta
    [type]="'button'"
    [option]="'iconText'"
    [icon]="'plus'"
    [text]="'Add Practice Area'"
    [size]="'m'"
    (onClick)="toggleOpenFlyout('create', true)"
  />

  <!-- DATA AVAILABLE  -->
  <fui-table-tree
    *ngIf="datapa.length > 0"
    content
    [limit]="limit"
    [totalItems]="totalItems"
    [showInfo]="true"
    [info]="'Practice Area'"
    [pagination]="true"
    (onPageChanges)="onPageChanges($event)"
  >
    <!-- HEADER  -->
    <fui-table-head-tree
      *ngFor="let item of title; let i = index"
      [fieldName]="item"
      [sortFeature]="item !== ''"
      [utils]="{
        index: i,
        dataLength: title.length,
        action: true,
        activeField: sortData ? sortData.fieldName : ''
      }"
      (sortOut)="toggleSort($event)"
    >
      <fui-text [textWrap]="'nowrap'">{{ item }}</fui-text>
    </fui-table-head-tree>
    <!-- HEADER  -->

    <!-- LEVEL 1  -->
    <ng-container *ngFor="let item of datapa">
      <fui-table-row-tree>
        <fui-table-data-tree [showDropIcon]="false">
          <fui-text [textWrap]="'nowrap'"> {{ item.text }} </fui-text>
        </fui-table-data-tree>
        <fui-table-data-tree [showDropIcon]="false">
          <fui-badge
            [text]="item.status ? 'Active' : 'Inactive'"
            [color]="item.status ? 'success' : 'default'"
          />
        </fui-table-data-tree>
        <fui-table-data-tree [showDropIcon]="false">
          <fui-button-icon
            [fullWidth]="'fit'"
            [type]="'button'"
            [style]="'secondary'"
            [option]="'icon'"
            [color]="'primary'"
            [icon]="'pencil'"
            [size]="'s'"
            (onClick)="toggleOpenFlyout('update', true)"
          ></fui-button-icon>
          <fui-button-icon
            [fullWidth]="'fit'"
            [color]="'danger'"
            [type]="'button'"
            [style]="'secondary'"
            [option]="'icon'"
            [icon]="'trash'"
            [size]="'s'"
            (onClick)="toggleModalDelete({ name: item.text, status: true })"
          ></fui-button-icon>
        </fui-table-data-tree>
      </fui-table-row-tree>
    </ng-container>
    <!-- LEVEL 1  -->
  </fui-table-tree>
  <!-- DATA AVAILABLE  -->

  <!-- EMPTY MESSAGE  -->
  <shared-empty-data content [dataLength]="datapa.length" />
  <!-- EMPTY MESSAGE  -->
</shared-page-generic-default>

<!-- FLYOUT  -->
<shared-flyout-simple
  [isOpenFlyout]="openFlyout"
  [titleFlyout]="
    createUpdate === 'create' ? 'Add Practice Area' : 'Update Practice Area'
  "
  (closeOut)="toggleOpenFlyout('create', false)"
>
  <div body>
    <!-- PRACTICE AREA  -->
    <div class="mb-15">
      <fui-text class="label">Practice Area</fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [placeholder]="'Practice area'"
          [type]="'text'"
          [size]="'m'"
          [invalid]="false"
          [formControlField]="paForm"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- PRACTICE AREA  -->
  </div>

  <div footer class="flex-between">
    <fui-button-icon
      [type]="'button'"
      [option]="'text'"
      [text]="'Cancel'"
      [style]="'empty'"
      (onClick)="toggleOpenFlyout('create', false)"
    />
    <fui-button-icon
      *ngIf="createUpdate === 'create'"
      [type]="'button'"
      [option]="'text'"
      [text]="'Save'"
      [style]="'secondary'"
      (onClick)="toggleUpdateCreateData('create', false)"
    />
    <fui-button-icon
      *ngIf="createUpdate === 'update'"
      [type]="'button'"
      [option]="'text'"
      [text]="'Update Location'"
      [style]="'secondary'"
      (onClick)="toggleUpdateCreateData('update', false)"
    />
  </div>
</shared-flyout-simple>
<!-- FLYOUT  -->

<!-- MODAL DELETE  -->
<shared-modal-delete
  [openModalDelete]="openModalDelete"
  (actionOut)="toggleModalDelete($event)"
/>
<!-- MODAL DELETE  -->

<!-- TOAST -->
<fui-toast />
<!-- TOAST -->
