<div
  class="container"
  *ngIf="filterDate || filterMatter || filterTimeDescription"
>
  <p>Applied Filters</p>
  <p class="toggle-clear" (click)="clearFilterAllAction()">Clear All</p>
  <fui-badge
    *ngIf="filterDate"
    [color]="'text'"
    [size]="'sizem'"
    [isBadgeIcon]="true"
    [iconPosition]="'end'"
    [icon]="'cross'"
    [sizeIcon]="'sizes'"
    (onClickBadge)="clearFilterDateAction()"
    >Date</fui-badge
  >
  <fui-badge
    *ngIf="filterMatter"
    [color]="'text'"
    [size]="'sizem'"
    [isBadgeIcon]="true"
    [iconPosition]="'end'"
    [icon]="'cross'"
    [sizeIcon]="'sizes'"
    (onClickBadge)="clearFilterMatterAction()"
    >Matter</fui-badge
  >
  <fui-badge
    *ngIf="filterTimeDescription"
    [color]="'text'"
    [size]="'sizem'"
    [isBadgeIcon]="true"
    [iconPosition]="'end'"
    [icon]="'cross'"
    [sizeIcon]="'sizes'"
    (onClickBadge)="clearFilterTimeDescriptinAction()"
    >Time Description</fui-badge
  >
</div>
