<fui-flyout
  [openFlyout]="isOpenFlyout"
  [size]="'m'"
  (overlayOut)="toggleCloseFlyout()">
  <fui-flyout-header>
    <div class="px-20 py-5">
      <h2>{{ title }}</h2>
    </div>
  </fui-flyout-header>

  <fui-flyout-body>
    <!-- MESSAGE INFO -->
    <div class="msg-info" *ngIf="actionButton === 'updateTag'">
      <fui-text [color]="'primary'" [weight]="'semibold'">Feel free to
        modify!</fui-text>
      <fui-text [size]="'m'">Editing or reject & remove tagged timesheet will
        not affect the other
        member timesheet, they have their own version!</fui-text>
    </div>
    <!-- MESSAGE INFO -->

    <div class="p-10">
      <!-- TAG ENTRY -->
      <div class="my-30"
        *ngIf="actionButton === 'updateTag' && timesheetSelected?.pending">
        <fui-badge
          [color]="'hollow'"
          [size]="'m'"
          [iconShow]="true"
          [icon]="'user'"
          [iconPosition]="'start'"
          [weight]="'semibold'"
          [text]="'Tagged timesheet by ' + timesheetSelected?.tagBy" />
      </div>
      <!-- TAG ENTRY -->

      <!-- FEE EARNER FORM  -->
      <div class="form" *ngIf="showFeeEarnerForm">
        <fui-text>Fee Earner</fui-text>
        <div class="form-control">
          <fui-combo-box
            [invalid]="feeEarnerForm.invalid && feeEarnerForm.dirty"
            [message]="'Activity is required!'"
            [comboxForm]="feeEarnerForm"
            [singleSelection]="true"
            [leftIcon]="'search'"
            [size]="'m'"
            [placeholder]="'Fee earner'"
            [optionValue]="optionFeeEarner"
            [selectedValue]="selectedFeeEarner" />
        </div>
      </div>
      <!-- FEE EARNER FORM  -->

      <div class="mb-25">
        <!-- ACTIVITY FORM  -->
        <div class="mb-5">
          <fui-text *ngIf="showActivityForm">What did you do?</fui-text>
        </div>
        <div class="mb-10" *ngIf="showActivityForm">
          <fui-combo-box
            [invalid]="activityForm.invalid && activityForm.dirty"
            [message]="'Activity is required!'"
            [comboxForm]="activityForm"
            [singleSelection]="true"
            [size]="'m'"
            [placeholder]="'Activity/verb'"
            [optionValue]="optionActivity"
            [selectedValue]="selectedActivity" />
        </div>
        <!-- ACTIVITY FORM  -->

        <!-- OBJECT/EVENT FORM  -->
        <div class="mb-10" *ngIf="showObjectEventForm">
          <fui-form-control-layout>
            <fui-textarea
              [size]="'m'"
              [formControlField]="objectEventForm"
              [rows]="1"
              [placeholder]="'Object/Event'"
              [invalid]="objectEventForm.invalid && objectEventForm.dirty">
              <fui-icons
                *ngIf="objectEventForm.invalid && objectEventForm.dirty"
                right-icon
                [label]="'right'"
                [icon]="'alert'"
                [size]="'sizem'"
                [color]="'danger'" />
            </fui-textarea>
            <fui-validator-field
              validator
              [message]="'Object/Event is required!'" />
          </fui-form-control-layout>
        </div>
        <!-- OBJECT/EVENT FORM  -->

        <!-- TOPICS FORM  -->
        <div class="mb-10" *ngIf="showTopicForm">
          <fui-form-control-layout>
            <fui-textarea
              [size]="'m'"
              [formControlField]="topicForm"
              [rows]="1"
              [placeholder]="'Topics'"
              [invalid]="topicForm.invalid && topicForm.dirty">
              <fui-icons
                *ngIf="topicForm.invalid && topicForm.dirty"
                right-icon
                [label]="'right'"
                [icon]="'alert'"
                [size]="'sizem'"
                [color]="'danger'" />
            </fui-textarea>
            <fui-validator-field validator [message]="'Topics is required!'" />
          </fui-form-control-layout>
        </div>
        <!-- TOPICS FORM  -->

        <!-- ADD DESC FORM  -->
        <div class="mb-10" *ngIf="showAddDescForm">
          <fui-form-control-layout>
            <fui-textarea
              [size]="'m'"
              [formControlField]="addDescForm"
              [rows]="1"
              [placeholder]="'Additional description'"
              [invalid]="addDescForm.invalid && addDescForm.dirty">
              <fui-icons
                *ngIf="addDescForm.invalid && addDescForm.dirty"
                right-icon
                [label]="'right'"
                [icon]="'alert'"
                [size]="'sizem'"
                [color]="'danger'" />
            </fui-textarea>
            <fui-validator-field
              validator
              [message]="'Additional description is required!'" />
          </fui-form-control-layout>
          <div class="mt-5">
            <fui-text class="italic" [size]="'s'" [color]="'text'">{{
              note
              }}</fui-text>
          </div>
        </div>
        <!-- ADD DESC FORM  -->
      </div>

      <!-- MATTER FORM  -->
      <div class="my-25" *ngIf="showMatterForm">
        <div class="flex flex-between">
          <div class="mb-5">
            <fui-text>Which matter?</fui-text>
          </div>
          <div class="flex gap-5 mb-5" *ngIf="showCheckLockMatter">
            <input
              type="checkbox"
              [disabled]="!enableMatterForm"
              [(ngModel)]="lockMatter"
              [checked]="lockMatter" />
            <fui-text>Lock</fui-text>
            <fui-tooltip
              [position]="'top'"
              [align]="'end'"
              [content]="
              'Allows you to keep using this value after adding new timesheet.'
            "><fui-icons [icon]="'questionInCircle'" /></fui-tooltip>
          </div>
        </div>
        <fui-combo-box
          [leftIcon]="'search'"
          [comboxForm]="matterForm"
          [disabled]="lockMatter || !enableMatterForm"
          [invalid]="matterForm.invalid && matterForm.dirty"
          [message]="'Matter is required!'"
          [singleSelection]="true"
          [size]="'m'"
          [placeholder]="'Search by number or project name'"
          [optionValue]="optionMatter"
          [selectedValue]="selectedOptionMatter" />
      </div>
      <!-- MATTER FORM  -->

      <div class="flex flex-between flex-items-center my-25 gap-20"
        *ngIf="showDateForm || showDurationForm">

        <!-- DATE FORM -->
        <div class="sub-form" *ngIf="showDateForm">
          <div class="flex flex-between mb-5">
            <fui-text>Date</fui-text>
            <div class="flex gap-5" *ngIf="showCheckLockDate">
              <input
                type="checkbox"
                [disabled]="
                  !enableDateForm ||
                  actionButton === 'update' ||
                  actionButton === 'updateTag'
                "
                [(ngModel)]="lockDate"
                [checked]="lockDate" />
              <fui-text>Lock</fui-text>
              <fui-tooltip
                [position]="'top'"
                [align]="'center'"
                [content]="
                  'Allows you to keep using this value after adding new timesheet.'
                "><fui-icons [icon]="'questionInCircle'" /></fui-tooltip>
            </div>
          </div>
          <fui-date-picker
            class="form-control"
            [dateFormat]="'DD-MM-YYYY'"
            [dateFormControl]="dateFormControl"
            [disabled]="lockDate || !enableDateForm"
            [position]="'top'"
            [message]="'Date is required!'"
            [isInvalid]="dateFormControl.invalid && dateFormControl.dirty" />
        </div>
        <!-- DATE FORM -->

        <!-- DURATION FORM -->
        <div class="sub-form" *ngIf="showDurationForm">
          <div class="mb-5">
            <fui-text>Duration</fui-text>
          </div>
          <fui-time-selection
            class="form-control"
            [position]="'top'"
            [timeFormControl]="durationForm"
            [timeFormat]="'24h'"
            [isInvalid]="durationForm.invalid && durationForm.dirty"
            [minuteInterval]="'15 minutes'"
            [message]="'Duration is required!'" />
        </div>
        <!-- DURATION FORM -->
      </div>
    </div>
  </fui-flyout-body>

  <fui-flyout-footer>
    <div class="flex flex-between" *ngIf="actionButton === 'create'">
      <fui-button-icon
        [fullWidth]="'fit'"
        (onClick)="toggleCloseFlyout()"
        [type]="'button'"
        [option]="'text'"
        [style]="'empty'"
        [color]="'text'"
        [text]="'Cancel'" />
      <div class="flex flex-between gap-10">
        <fui-button-icon
          [fullWidth]="'fit'"
          [type]="'button'"
          [option]="'text'"
          [style]="'secondary'"
          [text]="'Save & Close'" />
        <fui-button-icon
          [fullWidth]="'fit'"
          [type]="'button'"
          [option]="'iconText'"
          [icon]="'save'"
          [style]="'filled'"
          [text]="'Save'" />
      </div>
    </div>
    <div class="flex flex-between" *ngIf="actionButton === 'update'">
      <fui-button-icon
        [fullWidth]="'fit'"
        (onClick)="toggleCloseFlyout()"
        [type]="'button'"
        [option]="'text'"
        [style]="'empty'"
        [color]="'text'"
        [text]="'Cancel'" />
      <fui-button-icon
        [fullWidth]="'fit'"
        [type]="'button'"
        [option]="'text'"
        [style]="'filled'"
        [text]="'Update Timesheet'" />
    </div>
    <div
      class="flex flex-between"
      *ngIf="actionButton === 'updateTag'">
      <fui-button-icon
        [fullWidth]="'fit'"
        (onClick)="toggleCloseFlyout()"
        [type]="'button'"
        [option]="'text'"
        [style]="'empty'"
        [color]="'text'"
        [text]="'Cancel'" />
      <div class="flex flex-between gap-10">
        <fui-button-icon
          [fullWidth]="'fit'"
          [type]="'button'"
          [option]="'text'"
          [color]="'danger'"
          [style]="'secondary'"
          [text]="'Reject & Remove'" />
        <fui-button-icon
          [fullWidth]="'fit'"
          [type]="'button'"
          [option]="'text'"
          [style]="'filled'"
          [text]="'Accept'" />
      </div>
    </div>
  </fui-flyout-footer>
</fui-flyout>
