@import "../../app.component.scss";

/** Message Information */
.msg-info {
  padding: 15px;
  background-color: var(--fuiPrimarySecondary, $fuiPrimarySecondary);
  border-radius: 5px;
  fui-text {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    &:last-child {
      margin: 0px;
    }
  }
}

