<shared-page-generic-default
  [title]="'Location'"
  [description]="'Setup available countries, provinces and cities'"
  [breadcrums]="link"
>
  <fui-form-control-layout formsearch>
    <fui-input-field
      [type]="'text'"
      [placeholder]="'Search...'"
      [size]="'m'"
      [invalid]="false"
    >
      <fui-icons
        left-icon
        [label]="'left'"
        [icon]="'search'"
        [size]="'sizem'"
        [color]="'text'"
      />
    </fui-input-field>
  </fui-form-control-layout>

  <fui-button-icon
    cta
    [type]="'button'"
    [option]="'iconText'"
    [icon]="'plus'"
    [text]="'Add Location'"
    [size]="'m'"
    (onClick)="toggleOpenFlyout('create', true)"
  />

  <!-- DATA AVAILABLE  -->
  <fui-table
    *ngIf="dataLocation.length > 0"
    content
    [showInfo]="false"
    [limit]="limit"
    [totalItems]="totalItems"
    (onPageChanges)="onPageChanges($event)"
  >
    <fui-table-head *ngFor="let header of title">
      <div class="flex">
        <fui-text [textWrap]="'nowrap'">{{ header }}</fui-text>
        <fui-popover [position]="'bottom'" *ngIf="header !== ''">
          <fui-icons [size]="'sizexs'" [icon]="'sortable'" />
          <div popover-body>
            <fui-button-icon
              [type]="'button'"
              [option]="'iconText'"
              [size]="'s'"
              [fullWidth]="'fit'"
              [style]="'empty'"
              [icon]="'sortAscending'"
              [text]="'Ascending'"
            />
            <fui-button-icon
              [type]="'button'"
              [option]="'iconText'"
              [size]="'s'"
              [fullWidth]="'fit'"
              [style]="'empty'"
              [icon]="'sortDescending'"
              [text]="'Descending'"
            />
          </div>
        </fui-popover>
      </div>
    </fui-table-head>
    <fui-table-body>
      <ng-container
        *ngFor="let country of dataLocation; let countryIndex = index"
      >
        <!-- COUNTRY -->
        <fui-table-body-row>
          <fui-table-body-data class="w-100">
            <div class="flex-10-start">
              <fui-button-icon
                *ngIf="country.child.length > 0"
                [fullWidth]="'fit'"
                [style]="'empty'"
                [color]="'text'"
                [type]="'button'"
                [option]="'icon'"
                [icon]="
                  showHideRow[countryIndex].status ? 'arrowDown' : 'arrowRight'
                "
                (onClick)="
                  showHideRow[countryIndex].status =
                    !showHideRow[countryIndex].status
                "
              ></fui-button-icon>
              <fui-text>{{ country.location }}</fui-text>
            </div>
          </fui-table-body-data>
          <fui-table-body-data>
            <fui-badge [text]="country.type" [color]="'hollow'" />
          </fui-table-body-data>
          <fui-table-body-data>
            <div class="flex-10-end">
              <fui-button-icon
                [fullWidth]="'fit'"
                [type]="'button'"
                [style]="'secondary'"
                [option]="'icon'"
                [icon]="'pencil'"
                [size]="'s'"
                (onClick)="toggleOpenFlyout('update', true)"
              ></fui-button-icon>
              <fui-button-icon
                [fullWidth]="'fit'"
                [color]="'danger'"
                [type]="'button'"
                [style]="'secondary'"
                [option]="'icon'"
                [icon]="'trash'"
                [size]="'s'"
                (onClick)="
                  toggleModalDelete({ name: country.location, status: true })
                "
              ></fui-button-icon>
            </div>
          </fui-table-body-data>
        </fui-table-body-row>
        <!-- COUNTRY -->

        @if (showHideRow[countryIndex].status) {
        <ng-container
          *ngFor="let province of country.child; let provinceIndex = index"
        >
          <!-- PROVINCE -->
          <fui-table-body-row>
            <fui-table-body-data>
              <div class="flex-10-start relative-5">
                <fui-button-icon
                  *ngIf="province.child.length > 0"
                  [fullWidth]="'fit'"
                  [style]="'empty'"
                  [color]="'text'"
                  [type]="'button'"
                  [option]="'icon'"
                  [icon]="
                    showHideRow[countryIndex].child.status[provinceIndex]
                      ? 'arrowDown'
                      : 'arrowRight'
                  "
                  (onClick)="
                    showHideRow[countryIndex].child.status[provinceIndex] =
                      !showHideRow[countryIndex].child.status[provinceIndex]
                  "
                ></fui-button-icon>
                <fui-text>{{ province.location }}</fui-text>
              </div>
            </fui-table-body-data>
            <fui-table-body-data>
              <fui-badge [text]="province.type" [color]="'hollow'" />
            </fui-table-body-data>
            <fui-table-body-data>
              <div class="flex-10-end">
                <fui-button-icon
                  [fullWidth]="'fit'"
                  [type]="'button'"
                  [style]="'secondary'"
                  [option]="'icon'"
                  [icon]="'pencil'"
                  [size]="'s'"
                  (onClick)="toggleOpenFlyout('update', true)"
                />
                <fui-button-icon
                  [fullWidth]="'fit'"
                  [color]="'danger'"
                  [type]="'button'"
                  [style]="'secondary'"
                  [option]="'icon'"
                  [icon]="'trash'"
                  [size]="'s'"
                  (onClick)="
                    toggleModalDelete({ name: province.location, status: true })
                  "
                />
              </div>
            </fui-table-body-data>
          </fui-table-body-row>
          <!-- PROVINCE -->
          @if (showHideRow[countryIndex].child.status[provinceIndex]) {
          <ng-container
            *ngFor="let city of province.child; let cityIndex = index"
          >
            <!-- CITY  -->
            <fui-table-body-row>
              <fui-table-body-data>
                <div class="flex-10-start relative-10">
                  <fui-text>{{ city.location }}</fui-text>
                </div>
              </fui-table-body-data>
              <fui-table-body-data>
                <fui-badge [text]="city.type" [color]="'hollow'" />
              </fui-table-body-data>
              <fui-table-body-data>
                <div class="flex-10-end">
                  <fui-button-icon
                    [fullWidth]="'fit'"
                    [type]="'button'"
                    [style]="'secondary'"
                    [option]="'icon'"
                    [icon]="'pencil'"
                    [size]="'s'"
                    (onClick)="toggleOpenFlyout('update', true)"
                  ></fui-button-icon>
                  <fui-button-icon
                    [fullWidth]="'fit'"
                    [color]="'danger'"
                    [type]="'button'"
                    [style]="'secondary'"
                    [option]="'icon'"
                    [icon]="'trash'"
                    [size]="'s'"
                    (onClick)="
                      toggleModalDelete({ name: city.location, status: true })
                    "
                  ></fui-button-icon>
                </div>
              </fui-table-body-data>
            </fui-table-body-row>
            <!-- CITY  -->
          </ng-container>
          }
        </ng-container>
        }
      </ng-container>
    </fui-table-body>
  </fui-table>
  <!-- DATA AVAILABLE  -->

  <!-- EMPTY MESSAGE  -->
  <shared-empty-data content [dataLength]="dataLocation.length" />
  <!-- EMPTY MESSAGE  -->
</shared-page-generic-default>

<!-- FLYOUT  -->
<shared-flyout-simple
  [isOpenFlyout]="openFlyout"
  [titleFlyout]="createUpdate === 'create' ? 'Add Location' : 'Update Location'"
  (closeOut)="toggleOpenFlyout('create', false)"
>
  <div body>
    <fui-text class="label">Select location type to be add</fui-text>
    <fui-form-control-layout>
      <fui-select-field
        [size]="'m'"
        [placeholder]="'Country, Province or City'"
        [invalid]="false"
        [formControlField]="locationForm"
        [selectOptions]="selectOption"
      ></fui-select-field>
    </fui-form-control-layout>

    <div class="my-25" *ngIf="locationForm.value === 'Province' || locationForm.value === 'City'">
      <hr />
    </div>

    <!-- COUNTRY  -->
    <div
      class="mb-15"
      *ngIf="locationForm.value === 'Province' || locationForm.value === 'City'"
    >
      <fui-text class="label">Country</fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [placeholder]="'Select country'"
          [size]="'m'"
          [invalid]="false"
          [formControlField]="countryForm"
          [selectOptions]="countryOption"
        ></fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- COUNTRY  -->

    <!-- PROVINCE  -->
    <div class="mb-15" *ngIf="locationForm.value === 'City'">
      <fui-text class="label">Province</fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [placeholder]="'Select province'"
          [size]="'m'"
          [invalid]="false"
          [formControlField]="provinceForm"
          [selectOptions]="provinceOption"
        ></fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- PROVINCE  -->

    <!-- FORM INPUT LOCATION NAME -->
    <div
      class="mb-15"
      *ngIf="locationForm.value !== '' && locationForm.value !== null"
    >
      <fui-text class="label">{{ locationForm.value }} Name</fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [placeholder]="'Input location name'"
          [type]="'text'"
          [size]="'m'"
          [invalid]="false"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- FORM INPUT LOCATION NAME -->
  </div>

  <div footer class="flex-between">
    <fui-button-icon
      [type]="'button'"
      [option]="'text'"
      [text]="'Cancel'"
      [style]="'empty'"
      (onClick)="toggleOpenFlyout('create', false)"
    />
    <fui-button-icon
      *ngIf="createUpdate === 'create'"
      [type]="'button'"
      [option]="'text'"
      [text]="'Save'"
      [style]="'secondary'"
      (onClick)="toggleUpdateCreateData('create', false)"
    />
    <fui-button-icon
      *ngIf="createUpdate === 'update'"
      [type]="'button'"
      [option]="'text'"
      [text]="'Update Location'"
      [style]="'secondary'"
      (onClick)="toggleUpdateCreateData('update', false)"
    />
  </div>
</shared-flyout-simple>
<!-- FLYOUT  -->

<!-- MODAL DELETE  -->
<shared-modal-delete
  [openModalDelete]="openModalDelete"
  (action)="toggleModalDelete($event)"
/>
<!-- MODAL DELETE  -->

<!-- TOAST -->
<fui-toast />
<!-- TOAST -->
