<div class="container fui-row">
  <div class="fui-col">
    <div class="date">
      {{ startDateForm.value | date : "d MMMM yyyy" }} -
      {{ endDateForm.value | date : "d MMMM yyyy" }}
    </div>
    <div class="duration">
      <fui-tooltip [position]="'top'" [custom]="true">
        <fui-badge
          [isBadgeIcon]="true"
          [icon]="'clock'"
          [color]="'ghost'"
          [size]="'sizem'"
          >35h 16m</fui-badge
        >
        <div title>
          <p class="date">
            {{ startDateForm.value | date : "d MMMM yyyy" }} -
            {{ endDateForm.value | date : "d MMMM yyyy" }}
          </p>
        </div>
        <div content>
          <div class="tootips">Billable: 130h 32m</div>
          <div class="tootips">Nonbillable: 130h 32m</div>
        </div>
      </fui-tooltip>
    </div>
  </div>
  <div class="fui-col">
    <fui-button-icon
      [type]="'button'"
      [style]="'secondary'"
      [color]="'text'"
      [option]="'iconText'"
      [icon]="'filter'"
      [text]="'Filter'"
      (onClick)="toggleOpenFlyout()"
    />
  </div>
</div>

<div class="filter-applied">
  <app-filter-applied
    [filterApllied]="filterApplied"
    (clearFilterPerItemOut)="clearFilterPerItemOut($event)"
    (clearAllFilterOut)="clearAllFilterOut($event)"
  />
</div>

<!-- Flyout -->
<fui-flyout
  [zIndex]="2"
  [open]="isOpenFlyout"
  [flyoutSize]="'s'"
  [flyoutPadding]="'s'"
>
  <fui-flyout-header (onCloseFlyout)="toggleCloseFlyout()">
    <div class="header-flyout">
      <h2>Filter</h2>
    </div>
  </fui-flyout-header>
  <fui-flyout-body>
    <div class="flyout-body">
      <div class="form">
        <label for="desc" class="label">Date</label>
        <div class="time-description">
          <fui-date-range
            [startDateControl]="startDateForm"
            [endDateControl]="endDateForm"
            (onChangeStartDate)="changeStartDate($event)"
            (onChangeEndDate)="changeEndDate($event)"
          />
        </div>
        <span
          class="filter-valid"
          *ngIf="startDateForm.value === '' || endDateForm.value === ''"
        >
          <fui-icons [icon]="'iInCircle'" [color]="'danger'" [size]="'sizes'" />
          Date range is required!
        </span>
        <span class="filter-valid" *ngIf="invalidStartEndDate()">
          <fui-icons [icon]="'iInCircle'" [color]="'danger'" [size]="'sizes'" />
          the start date cannot exceed the end date!
        </span>
      </div>
      <div class="form">
        <label for="desc" class="label">Time Description</label>
        <div class="time-description">
          <fui-form-control-layout>
            <fui-input-field
              [formControlField]="descriptionForm"
              [placeholder]="'Description'"
              [type]="'text'"
              [size]="'m'"
              [invalid]="false"
            />
          </fui-form-control-layout>
        </div>
      </div>
    </div>
  </fui-flyout-body>
  <fui-flyout-footer [isFlyoutFooterCustom]="true">
    <div class="footer-flyout">
      <fui-button-icon
        (onClick)="clearFiltersAll()"
        [type]="'button'"
        [option]="'text'"
        [style]="'secondary'"
        [text]="'Cancel'"
        [size]="'m'"
        [color]="'text'"
      />
      <div class="footer-flyout-btn">
        <fui-button-icon
          (onClick)="clearFilters()"
          [type]="'button'"
          [option]="'text'"
          [style]="'secondary'"
          [text]="'Clear Filters'"
          [size]="'m'"
          [color]="'primary'"
        />
        <fui-button-icon
          [type]="'button'"
          [disabled]="
            startDateForm.value === '' ||
            endDateForm.value === '' ||
            invalidStartEndDate()
          "
          [option]="'iconText'"
          [style]="'filled'"
          [text]="'Apply Filter'"
          [size]="'m'"
          [color]="
            startDateForm.value === '' ||
            endDateForm.value === '' ||
            invalidStartEndDate()
              ? 'disabled'
              : 'primary'
          "
          [icon]="'filter'"
          [iconSide]="'left'"
          (onClick)="applyFilterAction()"
        />
      </div>
    </div>
  </fui-flyout-footer>
</fui-flyout>
<!-- Flyout -->
