@import "../../detail-matter.component.scss";

/** Row & Column */
.fui-row {
  display: flex;
  justify-content: space-between;
}

.fui-col {
  display: flex;
  align-items: center;
}

.date {
  font-weight: bold;
}


/** Flyout Config */
.header-flyout {
  padding: 15px;
}
.flyout-body {
  padding: 15px;
}
.form {
  margin-bottom: 15px;
}
.line-hr {
  border-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  margin: 20px 0px 20px 0px;
}
.time-description {
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-flyout {
  padding: 10px;
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  .footer-flyout-btn {
    width: -webkit-fill-available;
    justify-content: end;
    display: flex;
    fui-button-icon {
      margin: 0px 0px 0px 10px;
    }
  }
}
.filter-valid {
  display: flex;
  font-size: small;
  color: var(--fuiColorDanger, $fuiColorDanger);
  margin-top: 8px;
  fui-icons {
    margin-right: 4px;
  }
}

.duration {
  margin-left: 10px;
  fui-badge {
    .content {
      margin-top: 3px;
    }
  }
}

.tootips {
  margin: 5px 0px;
  &:last-child {
    margin: 0px;
  }
}

.label {
  font-size: smaller;
}

.filter-applied {
  margin: 20px 0px;
}
