@import "../../app.component.scss";

.back-link {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  margin-bottom: 30px;
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  &:hover {
    span {
      text-decoration: underline;
    }
  }
  fui-icons {
    margin-right: 5px;
  }
}
