<div class="flex">
  <fui-button-icon
    class="toggle-filter"
    [size]="'m'"
    [type]="'button'"
    [option]="'iconText'"
    [text]="'Filter'"
    [icon]="'filter'"
    [style]="'secondary'"
    [color]="'text'"
    [shadow]="true"
    (onClick)="isOpenModal = true"
  />
  @for (item of filterData; track $index) {
  <fui-popover
    [position]="'bottom'"
    [align]="'start'"
    *ngIf="item.status === true"
  >
    <fui-badge
      [color]="'text'"
      [size]="'sizem'"
      [isBadgeIcon]="true"
      [icon]="'arrowDown'"
      [sizeIcon]="'sizes'"
      [iconPosition]="'end'"
    >
      <div class="title-badge">
        <div class="total-selected">{{ counterSelected(item.options) }}</div>
        {{ item.label }}
      </div>
    </fui-badge>
    <div popover-body>
      <div class="body-popover">
        <fui-form-control-layout class="form">
          <fui-input-field
            [formControlField]="item.formControl"
            [type]="'text'"
            [size]="'m'"
            [placeholder]="'Search ' + item.label"
            [invalid]="false"
          >
            <fui-icons
              left-icon
              [label]="'left'"
              [icon]="'search'"
              [size]="'sizes'"
              [color]="'text'"
            />
          </fui-input-field>
        </fui-form-control-layout>
        <fui-selectable
          *ngIf="item.options.length > 0"
          [options]="item.options"
          [singleSelection]="false"
          [allowExclusions]="false"
          (selectClick)="clickHandle($event)"
        />
        <div *ngIf="item.options.length === 0" class="no-option">
          No Options!
        </div>
      </div>
    </div>
  </fui-popover>
  }
</div>

<fui-modal [open]="isOpenModal">
  <fui-modal-header [iconCloseShow]="false" (onCloseModal)="closelModal()">
    <div class="container-title">
      <div class="title-modal">
        <fui-text [color]="'text'" [weight]="'bold'" [size]="'sizel'">
          Select Filter
        </fui-text>
      </div>
    </div>
  </fui-modal-header>
  <fui-modal-body>
    <div class="modal">
      <fui-badge
        *ngFor="let item of filterData"
        [color]="item.status ? 'success' : 'text'"
        [size]="'sizes'"
        [isBadgeIcon]="true"
        [icon]="item.status ? 'check' : 'cross'"
        [sizeIcon]="'sizes'"
        [iconPosition]="'start'"
        (onClickBadge)="selectFilter(item)"
      >
        {{ item.label }}
      </fui-badge>
    </div>
  </fui-modal-body>
  <fui-modal-footer [isCustomModalFooter]="true">
    <div class="foot">
      <fui-button-icon
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="'Cancel'"
        [style]="'secondary'"
        [color]="'text'"
        [shadow]="true"
        (onClick)="pickUpFilter(false)"
      />
      <fui-button-icon
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="'Clear All'"
        [style]="'secondary'"
        [color]="'text'"
        [shadow]="true"
        (onClick)="pickUpFilter(false)"
      />
      <fui-button-icon
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="'Take it'"
        [style]="'filled'"
        [color]="'primary'"
        [shadow]="true"
        (onClick)="pickUpFilter(true)"
      />
    </div>
  </fui-modal-footer>
</fui-modal>
