@import "../detail-matter.component.scss";

.card-pic {
  margin-top: 10px;
  padding: 15px;
  background-color: var(--fuiPrimarySecondary, $fuiPrimarySecondary);
  border-radius: 10px;
}

.label-icon {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.legend {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  .legend-title {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.overdue-card {
  color: #e7664c;
  border: 2px solid #e7664c;
  background-color: #f8e9e9;
}

@media (max-width: 400px) {
  .legend {
    align-items: baseline;
    .legend-title {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.color-square {
  width: 15px;
  height: 15px;
  border-radius: 5px;
}
.color-square.primary {
  background-color: var(--fuiColorPrimary, $fuiColorPrimary);
}
.color-square.orange {
  background-color: #e7664c;
}
.color-square.disabled {
  background-color: #d3dae6;
}
