@import "../history-activity.component.scss";
.mt-20 {
  margin-top: 20px;
}
.header-tb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--fuiColorLightShade, $fuiColorLightShade);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--fuiColorLightShade, $fuiColorLightShade);
  padding: 5px 0px;

  &.first {
    border-bottom-width: 0px;
  }

  .right-util {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 10px;
  }
}

hr {
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
}

.flex-btn {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.tag-bg {
  background-color: var(--fuiWarningSecondary, $fuiWarningSecondary);
}

.white-bg {
  display: flex;
  width: fit-content;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 3px;
}
