@import "../layouts/layouts.component.scss";

/** Flyout Config */
.header-flyout {
  padding: 15px;
}
.flyout-body {
  padding: 15px;
  .form {
    margin-bottom: 20px;
    .form-control {
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}
.footer-flyout {
  padding: 10px;
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  .footer-flyout-btn {
    width: -webkit-fill-available;
    justify-content: end;
    display: flex;
    fui-button-icon {
      margin: 0px 0px 0px 10px;
    }
  }
}

.sub-form {
  margin-right: 15px;
  &:last-child {
    margin: 0;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fui-button-icon {
    &:last-child {
      margin-left: 10px;
    }
  }
}

.checkbox {
  align-items: center;
  display: flex;
  fui-text {
    margin-left: 5px;
    margin-right: 5px;
  }
}
