<div class="card">
  <div class="grid">
    <fui-text class="head-label" [weight]="'semibold'"
      >Transaction/Case Information</fui-text
    >
    <fui-text class="mt-10" [weight]="'light'"
      >Details on the matter including scope of work, counterparties, entities
      involved, and team members for this matter.</fui-text
    >
  </div>

  <!-- Matter Descriptions  -->
  <div class="grid">
    <fui-text class="mt-20">Matter Descriptions</fui-text>
    <p class="soft-text mt-10">
      Provide brief details of the matter, highlight any significant aspect: Any
      ground-breaking / landmark/ innovative aspects? Legal technical /
      geographical complexities? Importance to the market/ industry sector?
      Relevance in terms of size or value?
    </p>
  </div>
  <!-- Matter Descriptions  -->

  <!-- Scope of Work  -->
  <div class="grid">
    <fui-text class="mt-20">Scope of Work</fui-text>
    <p class="soft-text mt-10">
      Please state AHP's scope of work. If the matter involved other PG's,
      please identify them and their roles
    </p>
  </div>
  <!-- Scope of Work  -->
</div>
