@import "../history-activity.component.scss";

.flex {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
.text {
  font-size: medium;
}
.toggle {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    .toggle-clear {
      text-decoration: underline;
    }
  }
}
.toggle-clear {
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  margin: 0px 5px;
  text-wrap: nowrap;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.vertical-line {
  width: 2px;
  height: 30px;
  background-color: var(--fuiColorLightShade, $fuiColorLightShade);;
  margin: 0px 20px;
}

.header-modal {
  padding: 10px;
}
.body-modal {
  width: 380px;
  padding: 10px;
}
.footer-modal {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-bottom: 10px;
  fui-button-icon {
    margin: 0px 5px;
  }
}
.selector {
  margin-top: 20px;
  .checkbox {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    .title {
      margin-left: 5px;
      font-size: smaller;
    }
  }
}
