<div class="flex">
  <fui-badge
    [color]="'text'"
    [size]="'sizedefault'"
    [isBadgeIcon]="true"
    [icon]="'cross'"
    [iconPosition]="'end'"
    (onClickBadge)="clearSelection()"
  >
    <p class="text">{{ timesheetSelected.length }} item on page selected</p>
  </fui-badge>
  <div class="vertical-line"></div>
  <div class="toggle" (click)="handleOpenModal()">
    <fui-icons [icon]="'push'" [size]="'sizem'" [color]="'primary'" />
    <p class="toggle-clear">Move</p>
  </div>
</div>

<!-- MODAL MOVE  -->
<fui-modal [open]="isModalOpen">
  <fui-modal-header (onCloseModal)="handleCloseModal()">
    <div class="header-modal"><h1>Move Time</h1></div>
  </fui-modal-header>
  <fui-modal-body>
    <div class="body-modal">
      <p>Move timesheet from this matter to other matter</p>
      <div class="selector">
        <div class="checkbox">
          <input type="checkbox" [(ngModel)]="showDesc" />
          <span class="title">Do not show sub-matter</span>
        </div>
        <fui-popover [position]="'bottom'">
          <fui-form-control-layout>
            <fui-input-field
              [placeholder]="'Search by number, project or client'"
              [formControlField]="searchForm"
              [type]="'text'"
              [size]="'m'"
              [invalid]="false"
              (onFocus)="openClose(true)"
              (onBlur)="openClose(false)"
            >
              <fui-icons left-icon [icon]="'search'" [size]="'sizem'" />
              <fui-loading
                *ngIf="loading"
                class="mx-5"
                right-icon
                [type]="'spinner'"
                [isLoading]="true"
                [size]="'sizel'"
              ></fui-loading>
              <fui-icons
                *ngIf="
                  searchForm.value !== '' &&
                  searchForm.value !== null &&
                  loading === false
                "
                right-icon
                (click)="this.searchForm.setValue('')"
                [label]="'right'"
                [icon]="'cross'"
                [size]="'sizem'"
                [color]="'text'"
              />
            </fui-input-field>
          </fui-form-control-layout>
          <div popover-body>
            <div class="container-option">
              <div
                class="option-matter"
                (click)="selectionOption(item)"
                *ngFor="let item of listMatters"
              >
                <p class="{{ +showDesc ? 'title mb-0' : 'title' }}">
                  {{ item.matter }} - {{ item.description }}
                </p>
                <p *ngIf="!showDesc">Binford Ltd.; Acme Co. and 3 other</p>
              </div>
            </div>
          </div>
        </fui-popover>
      </div>
    </div>
  </fui-modal-body>
  <fui-modal-footer [isCustomModalFooter]="true">
    <div class="footer-modal">
      <fui-button-icon
        [type]="'button'"
        [option]="'text'"
        [text]="'Cancel'"
        [color]="'primary'"
        [style]="'secondary'"
        (onClick)="handleCloseModal()"
      />
      <fui-button-icon
        (onClick)="moveTimesheet()"
        [type]="'button'"
        [option]="'text'"
        [text]="'Move Timesheet'"
        [color]="'primary'"
        [style]="'filled'"
      />
    </div>
  </fui-modal-footer>
</fui-modal>
<!-- MODAL MOVE  -->
