@import "../../../app.component.scss";

.flex {
  display: flex;
  align-items: baseline;
  app-form-search {
    width: 100%;
    margin-right: 10px;
  }
}

.container {
  margin-top: 20px;
}

.loader {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}
