@import "../../../app.component.scss";

.container {
  &:last-child {
    padding: 25px 20px;
    width: auto;
    background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  }
}

@media (max-width: 760px) {
  .container {
    flex-wrap: wrap;
  }
}
