@import "../../../app.component.scss";

.container {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  gap: 10px 10px;
  &:last-child {
    padding: 25px 20px;
    width: auto;
    background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  }

  fui-form-control-layout {
    width: -webkit-fill-available;
  }

  .group-btn {
    display: flex;
    gap: 10px 10px;
  }
}

shared-filter-applied {
  margin: 20px 0px;
  display: block;
}

.content-wrapper {
  display: block;
  app-card-all-matter {
    margin-bottom: 20px;
    display: block;
  }
}

.loader {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }
}
