@import "../../app.component.scss";

.vertical-line {
  width: 2px;
  height: 30px;
  background-color: var(--fuiColorLightShade, $fuiColorLightShade);
}

.body-modal {
  width: 350px;
}
.cursor {
  &:hover {
    cursor: pointer;
  }
}
.option-matter {
  border-bottom: 1px solid var(--fuiColorLightShade, $fuiColorLightShade);
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.container-option {
  min-width: 300px;
  width: 100%;
  max-height: 250px;
}

@media (max-width: 1000px) {
  .flex {
    display: block;
  }
  .toggle {
    margin-top: 10px;
  }
  .vertical-line {
    display: none;
  }
  .body-modal {
    width: 300px;
  }
}
