@import "../../app.component.scss";

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.text {
  font-size: medium;
}
.toggle {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    .toggle-clear {
      text-decoration: underline;
    }
  }
}
.toggle-clear {
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  margin: 0px 5px;
  text-wrap: nowrap;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.vertical-line {
  width: 2px;
  height: 30px;
  background-color: var(--fuiColorLightShade, $fuiColorLightShade);
  margin: 0px 20px;
}

.header-modal {
  padding: 10px;
}
.body-modal {
  width: 350px;
  padding: 10px;
}
.footer-modal {
  display: flex;
  padding: 0px 5px;
  justify-content: end;
  margin-top: 10px;
  margin-bottom: 10px;
  fui-button-icon {
    margin: 0px 5px;
  }
}
.selector {
  margin-top: 20px;
  .checkbox {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    .title {
      margin-left: 5px;
      font-size: smaller;
    }
  }
}

.container-option {
  min-width: 300px;
  border-radius: 8px;
  width: -webkit-fill-available;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  height: fit-content;
  max-height: 250px;
  overflow-y: auto;
  .option-matter {
    border-bottom-width: 1px;
    border-bottom-color: var(--fuiColorLightShade, $fuiColorLightShade);
    border-bottom-style: solid;
    display: grid;
    padding: 10px 15px;
    &:hover {
      cursor: pointer;
      background-color: var(--fuiColorLightShade, $fuiColorLightShade);
      .title {
        text-decoration: underline;
      }
    }
    .title {
      margin-bottom: 5px;
      font-weight: 600;
      &.mb-0 {
        margin: 0;
      }
    }
    &:last-child {
      border: none;
    }
  }
}

@media (max-width: 1000px) {
  .flex {
    display: block;
  }
  .toggle {
    margin-top: 10px;
  }
  .vertical-line {
    display: none;
  }
  .body-modal {
    width: 300px;
  }
}
