<div class="flex flex-items-center gap-10">
  <fui-badge
    [color]="'default'"
    [size]="'s'"
    [iconShow]="true"
    [icon]="'cross'"
    [iconPosition]="'end'"
    (iconOnClick)="toggleReset()"
    [text]="totalItemSelected + ' item on page selected'">
  </fui-badge>
  <div class="vertical-line"></div>
  <fui-button-icon [fullWidth]="'fit'" [type]="'button'" [option]="'iconText'"
    [icon]="'push'"
    [style]="'empty'" [text]="'Move'" (onClick)="toggleOpenCloseModal(true)" />
  <fui-button-icon *ngIf="writeOff" [fullWidth]="'fit'" [type]="'button'"
    [option]="'text'"
    [color]="'danger'"
    [style]="'empty'" [text]="'Write-off'"
    (onClick)="toggleOpenCloseModal(true)" />
</div>

<!-- MODAL MOVE  -->
<fui-modal [open]="isModalOpen">
  <fui-modal-header (onCloseModal)="toggleOpenCloseModal(false)">
    <div class="p-10">
      <fui-text [weight]="'bold'" [size]="'xl'">Move Time</fui-text>
    </div>
  </fui-modal-header>
  <fui-modal-body>
    <div class="body-modal p-10">
      <fui-text [size]="'m'">Move timesheet from this matter to other
        matter</fui-text>
      <div class="mt-30 mb-20">

        <div class="cursor flex flex-items-center gap-5 mb-10 w-fit"
          (click)="toggleCheckbox()">
          <input class="cursor" type="checkbox" [(ngModel)]="showDesc" />
          <fui-text [size]="'s'">Do not show sub-matter</fui-text>
        </div>

        <fui-popover [position]="'bottom'">
          <fui-form-control-layout>
            <fui-input-field
              [placeholder]="'Search by number, project or client'"
              [formControlField]="searchForm"
              [type]="'text'"
              [size]="'m'"
              [invalid]="false">
              <fui-icons left-icon [icon]="'search'" [size]="'sizem'" />
              <fui-loading
                *ngIf="loading"
                class="mx-5"
                right-icon
                [type]="'spinner'"
                [isLoading]="true"
                [size]="'sizel'"></fui-loading>
              <fui-icons
                *ngIf="
                  searchForm.value !== '' &&
                  searchForm.value !== null &&
                  loading === false
                "
                right-icon
                (click)="this.searchForm.setValue('')"
                [label]="'right'"
                [icon]="'cross'"
                [size]="'sizem'"
                [color]="'text'" />
            </fui-input-field>
          </fui-form-control-layout>
          <div popover-body class="p-5">
            <div
              class="container-option flex flex-column flex-center border-radius-10 w-full h-fit overflow-y-auto">
              <div
                class="option-matter py-5"
                (click)="toggleSelectMatter(item)"
                *ngFor="let item of listMatters">
                <div class="mb-5">
                  <fui-text [weight]="'semibold'">{{ item.matter }} - {{
                    item.description }}</fui-text>
                </div>
                <fui-text *ngIf="!showDesc">Binford Ltd.
                  Acme Co. and 3 other</fui-text>

              </div>
              <div class="p-5" *ngIf="listMatters.length === 0">
                <fui-text [size]="'s'">No
                  Option!</fui-text>
              </div>
            </div>
          </div>
        </fui-popover>
      </div>
    </div>
  </fui-modal-body>

  <fui-modal-footer>
    <div class="flex px-10 flex-end mt-10 gap-10">
      <fui-button-icon
        [fullWidth]="'fit'"
        [type]="'button'"
        [option]="'text'"
        [text]="'Cancel'"
        [color]="'text'"
        [style]="'empty'"
        (onClick)="toggleOpenCloseModal(false)" />
      <fui-button-icon
        [fullWidth]="'fit'"
        (onClick)="toggleMoveTimesheet()"
        [type]="'button'"
        [option]="'iconText'"
        [icon]="'push'"
        [text]="'Move Timesheet'"
        [color]="'primary'"
        [style]="'filled'" />
    </div>
  </fui-modal-footer>
</fui-modal>
<!-- MODAL MOVE  -->
