@import "../../../app.component.scss";

.title-page {
  margin-bottom: 20px;
}
.filter-applied {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  .filter {
    overflow-x: auto;
    margin-left: 10px;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 20px 20px;
}
.loader {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  fui-form-control-layout {
    width: 100%;
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  .filter-applied {
    display: block;
    .overflow {
      margin-bottom: 10px;
      padding-bottom: 5px;
      overflow-x: auto;
    }
    .filter {
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}


@media (max-width: 1000px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
