<h1 class="title-page">My Matter</h1>

<!-- FORM SEARCH & FILTER BUTTON  -->
<div class="container">
  <!-- FORM SEARCH -->
  <fui-form-control-layout>
    <fui-input-field
      [type]="'text'"
      [borderRadius]="['6px', '6px', '6px', '6px']"
      [invalid]="false"
      [size]="'m'"
      [placeholder]="'Search by Number or Project Name'"
    >
      <fui-icons
        left-icon
        [color]="'text'"
        [icon]="'search'"
        [size]="'sizem'"
      />
    </fui-input-field>
  </fui-form-control-layout>
  <!-- FORM SEARCH  -->

  <!-- BUTTON FILTER FOR OPEN FLYOUT -->
  <fui-button-icon
    [color]="'text'"
    [type]="'button'"
    [option]="'iconText'"
    [icon]="'filter'"
    [style]="'secondary'"
    [size]="'m'"
    [text]="'Filter'"
    (onClick)="openFilterFlyout()"
  />
  <!-- BUTTON FILTER FOR OPEN FLYOUT -->
</div>
<!-- FORM SEARCH & FILTER BUTTON  -->

<!-- FILTER FLYOUT  -->
<shared-filter-matter-flyout
  [isOpenFlyout]="isOpenFlyoutFilter"
  (action)="actionFilter($event)"
/>
<!-- FILTER FLYOUT  -->

<!-- FILTER SECTION  -->
<div class="filter-applied">
  <!-- FILTER TAB SECTION  -->
  <div class="overflow">
    <shared-button-group
      [btnList]="btnFilterList"
      (action)="actionFilterBtn($event)"
    />
  </div>
  <!-- FILTER TAB SECTION  -->

  <!-- FILTER APPLIED SECTION  -->
  <div class="overflow filter">
    <shared-filter-applied
      [filterApllied]="filterApllied"
      (action)="actionFilterApplied($event)"
    />
  </div>
  <!-- FILTER APPLIED SECTION  -->
</div>

<!-- CONTENT CARD LOOP  -->
<div class="card-container">
  <app-content-card [type]="1" />
  <app-content-card [type]="2" />
  <app-content-card [type]="3" />
  <app-content-card [type]="4" />

  <app-content-card [type]="4" />
  <app-content-card [type]="3" />
  <app-content-card [type]="2" />
  <app-content-card [type]="1" />
</div>
<!-- CONTENT CARD LOOP  -->

<!-- LOAD BUTTON  -->
<div class="loader">
  <fui-button-icon
    [type]="'button'"
    [option]="'iconText'"
    [icon]="'refresh'"
    [color]="'text'"
    [style]="'secondary'"
    [text]="'Load more results'"
  />
</div>
<!-- LOAD BUTTON  -->
