@import "../../../app.component.scss";

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 20px 20px;
}

@media (max-width: 760px) {
  .filter-applied {
    display: block;
  }
}


@media (max-width: 760px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
