<div class="utility block">
  <div class="sub-utility block">
    <div class="date-duration">
      <!-- TOTAL DURATION -->
      <div class="duration">
        <fui-text [weight]="'semibold'">Total Hours</fui-text>
        <fui-tooltip [position]="'top'" [content]="'Total Hours'">
          <fui-badge
            [color]="'ghost'"
            [size]="'sizem'"
            [isBadgeIcon]="true"
            [icon]="'clock'"
            [iconPosition]="'start'"
          >
            <div class="content">
              {{ calculateTotalDuration(dataTimesheet) }}
            </div>
          </fui-badge>
        </fui-tooltip>
      </div>
      <!-- TOTAL DURATION -->
    </div>
  </div>
  <div class="flex-between">
    <!-- BTN DOWNLOAD -->
    <fui-button-icon
      [type]="'button'"
      [option]="'iconText'"
      [text]="'Update Rate'"
      [style]="'secondary'"
      [size]="'m'"
      [color]="'text'"
      [icon]="'refresh'"
    />
    <!-- BTN DOWNLOAD -->

    <!-- BTN DOWNLOAD -->
    <fui-button-icon
      [type]="'button'"
      [option]="'icon'"
      [style]="'secondary'"
      [size]="'m'"
      [color]="'text'"
      [icon]="'download'"
      [iconSide]="'left'"
    />
    <!-- BTN DOWNLOAD -->

    <!-- BTN OPEN FILTER FLYOUT -->
    <fui-button-icon
      [type]="'button'"
      [option]="'icon'"
      [style]="'secondary'"
      [size]="'m'"
      [color]="'text'"
      [icon]="'filter'"
      (onClick)="openFilterFlyout()"
    />
    <!-- BTN OPEN FILTER FLYOUT -->

    <!-- BTN OPEN CREATE TIMESHEET FLYOUT -->
    <fui-button-icon
      [type]="'button'"
      [option]="'icon'"
      [style]="'filled'"
      [text]="'Filter'"
      [size]="'m'"
      [color]="'primary'"
      [icon]="'plusInCircle'"
      (onClick)="openCreateFlyout()"
    />
    <!-- BTN OPEN CREATE TIMESHEET FLYOUT -->
  </div>
</div>

<!-- FLYOUT FILTER -->
<fui-flyout
  [zIndex]="2"
  [open]="isOpenFilterFlyout"
  [flyoutSize]="'s'"
  [flyoutPadding]="'s'"
>
  <fui-flyout-header (onCloseFlyout)="closeFilterFlyout()">
    <div class="header-flyout">
      <fui-text [size]="'sizexl'" [weight]="'semibold'">Filter</fui-text>
    </div>
  </fui-flyout-header>
  <fui-flyout-body>
    <div class="flyout-body">
      <div class="form">
        <label for="desc" class="label">Date</label>
        <div class="time-description">
          <fui-date-range
            [startDateControl]="startDateForm"
            [dateFormat]="'DD-MM-YYYY'"
            [endDateControl]="endDateForm"
            (onChangeStartDate)="changeStartDate($event)"
            (onChangeEndDate)="changeEndDate($event)"
          />
        </div>
        <span
          class="filter-valid"
          *ngIf="startDateForm.value === '' || endDateForm.value === ''"
        >
          <fui-icons [icon]="'iInCircle'" [color]="'danger'" [size]="'sizes'" />
          Date range is required!
        </span>
        <span class="filter-valid" *ngIf="invalidStartEndDate()">
          <fui-icons [icon]="'iInCircle'" [color]="'danger'" [size]="'sizes'" />
          the start date cannot exceed the end date!
        </span>
      </div>
      <div class="form">
        <label for="desc" class="label">Name</label>
        <div class="time-description">
          <fui-combo-box
            (selection)="selectionMatter($event)"
            [comboxForm]="searchMatterForm"
            [size]="'m'"
            [placeholder]="'Name'"
            [optionValue]="optionMatter"
            [selectedValue]="selectedMatter"
          />
        </div>
      </div>
      <div class="form">
        <label for="desc" class="label">Time Description</label>
        <div class="time-description">
          <fui-form-control-layout>
            <fui-input-field
              [formControlField]="descriptionForm"
              [placeholder]="'e.g Meeting with client'"
              [type]="'text'"
              [size]="'m'"
              [invalid]="false"
            />
          </fui-form-control-layout>
        </div>
      </div>
      <hr class="line-hr" />
      <div class="form">
        <label for="desc" class="label">Write-off Status</label>
        <div class="time-description">
          <fui-form-control-layout>
            <fui-select-field
              [formControlField]="writeOffForm"
              [invalid]="false"
              [size]="'m'"
              [selectOptions]="optionWriteOff"
            />
          </fui-form-control-layout>
        </div>
      </div>
      <div class="form">
        <label for="desc" class="label">Billing Number</label>
        <div class="time-description">
          <fui-combo-box
            (selection)="selectionBillingNumber($event)"
            [comboxForm]="billingNumberSearch"
            [size]="'m'"
            [placeholder]="'Billing Number'"
            [optionValue]="optionBillingNumber"
            [selectedValue]="selectedBillingNumber"
          />
        </div>
      </div>
    </div>
  </fui-flyout-body>
  <fui-flyout-footer [isFlyoutFooterCustom]="true">
    <div class="footer-flyout">
      <fui-button-icon
        (onClick)="clearFiltersAll()"
        [type]="'button'"
        [option]="'text'"
        [style]="'secondary'"
        [text]="'Cancel'"
        [size]="'m'"
        [color]="'text'"
      />
      <div class="footer-flyout-btn">
        <fui-button-icon
          (onClick)="clearFilters()"
          [type]="'button'"
          [option]="'text'"
          [style]="'secondary'"
          [text]="'Clear Filters'"
          [size]="'m'"
          [color]="'primary'"
        />
        <fui-button-icon
          [type]="'button'"
          [disabled]="
            startDateForm.value === '' ||
            endDateForm.value === '' ||
            invalidStartEndDate()
          "
          [option]="'iconText'"
          [style]="'filled'"
          [text]="'Apply Filter'"
          [size]="'m'"
          [color]="
            startDateForm.value === '' ||
            endDateForm.value === '' ||
            invalidStartEndDate()
              ? 'disabled'
              : 'primary'
          "
          [icon]="'filter'"
          [iconSide]="'left'"
          (onClick)="applyFilterAction()"
        />
      </div>
    </div>
  </fui-flyout-footer>
</fui-flyout>
<!-- FLYOUT FILTER -->
