@import "../detail-matter.component.scss";

.input-activity {
  height: fit-content;
  display: grid;
}

.container {
  width: 100%;
  .sub-container {
    display: flex;
    margin-top: 5px;
    align-items: end;
    &:last-child {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.checkbox {
  align-items: center;
  display: flex;
}
input {
  margin-right: 5px;
}
.title {
  font-size: small;
}
.title-mb {
  font-size: small;
  margin-bottom: 5px;
}
.input {
  margin-top: 5px;
}

.lock-wrap {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 350px;
}

.form {
  margin-right: 15px;
  width: -webkit-fill-available;
  align-self: baseline;
  &:last-child {
    margin-right: 0px;
  }
}

.create-btn {
  margin-bottom: 2px;
}

.create-btn-min {
  display: none;
}

fui-date-picker {
  border: none;
}
.mention-selector {
  margin: 5px 0px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (max-width: 1000px) {
  .input-activity {
    display: block;
  }
  .form {
    margin: 20px 0px 20px 0px;
  }
  .form.combo-box {
    width: auto;
  }
  .form.matter {
    width: auto;
  }
  .create-btn {
    display: none;
  }
  .create-btn-min {
    display: block;
  }
}

/* app.component.css */
.hidden-overflow {
  overflow-y: hidden;
  height: 200px; /* Set a specific height */
}

.show-overflow {
  overflow-y: visible; /* Change to visible when needed */
}

/** Other Layout */
.container-sec {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  .sub-container {
    gap: 5px;
    margin-right: 10px;
    margin-top: 5px;
    align-items: end;
    &:last-child {
      margin-right: 0px;
      // margin-top: 20px;
      // margin-bottom: 20px;
    }
  }
}
.form-sec {
  // margin-right: 15px;
  margin-top: 15px;
  width: -webkit-fill-available;
  align-self: baseline;
  &:last-child {
    margin-right: 0px;
  }
}
