<div class="header productivity">
  <fui-text [weight]="'semibold'" [size]="'sizem'">Productivity</fui-text>
  <fui-popover [position]="'bottom'">
    <div class="select">
      <span class="title-select">This Month </span>
      <fui-icons
        class="icon-title"
        [icon]="'arrowDown'"
        [size]="'sizes'"
        [color]="'primary'"
      />
    </div>
    <div popover-body>
      <div class="container-option">
        <div class="wrap-icon">
          <fui-icons
            class="icon-prod"
            [icon]="'check'"
            [size]="'sizes'"
            [color]="'primary'"
          />
        </div>
        <div class="wrap-option">
          <span class="option-pop">Today</span>
          <span class="option-pop">This Week</span>
          <span class="option-pop">This Month</span>
          <span class="option-pop">This Year</span>
        </div>
      </div>
    </div>
  </fui-popover>
</div>
<div class="body" *ngIf="data.length > 0">
  <div class="progress">
    <app-skeleton [active]="loading">
      <fui-progress
        [value]="data[0]"
        [max]="100"
        [color]="'primary'"
        [size]="'sizedefault'"
        [label]="'134 of 160 Billable Hours'"
      />
    </app-skeleton>
  </div>
  <div class="progress">
    <app-skeleton [active]="loading">
      <fui-progress
        class="progress"
        [value]="data[1]"
        [max]="100"
        [color]="'text'"
        [size]="'sizedefault'"
        [label]="'80 of 120 Non-Billable Hours'"
      />
    </app-skeleton>
  </div>
  <div class="legend">
    <span class="legend-title">
      <div class="color-square primary"></div>
      <fui-text>Billable</fui-text>
    </span>
    <span class="legend-title"
      ><div class="color-square text"></div>
      <fui-text [textWrap]="'nowrap'"> Non-Billable </fui-text></span
    >
    <span class="legend-title"
      ><div class="color-square disabled"></div>
      <fui-text>Untracked</fui-text></span
    >
  </div>
</div>
<app-skeleton [active]="loading">
  <app-empty-data
    [title]="'N/A'"
    [subTitle]="'You don’t have any target data for productivity'"
    [dataLength]="data.length"
  />
</app-skeleton>
