@import "../my-timesheet.component.scss";

.color-square {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.color-square.primary {
  background-color: var(--fuiColorPrimary, $fuiColorPrimary);
}
.color-square.text {
  background-color: var(--fuiColorDarkShade, $fuiColorDarkShade);
}
.color-square.disabled {
  background-color: #d3dae6;
}

.link-click {
  text-wrap: nowrap;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &.primary {
    color: var(--fuiColorPrimary, $fuiColorPrimary);
  }
}
