<div class="container">
  <div class="flex-between">
    <!-- LEFT CONTENT  -->
    <div class="flex">
      <!-- BEFORE BUTTON LOOP  -->
      <fui-button-icon
        [ngStyle]="{ margin: btn.margin }"
        *ngFor="let btn of leftBeforeBtnUtil; let i = index"
        [type]="'button'"
        [option]="btn.option"
        [color]="btn.color"
        [text]="btn.text"
        [icon]="btn.icon"
        [size]="btn.size"
        [iconSide]="btn.iconSide"
        [style]="btn.style"
        [disabled]="btn.disabled"
        (onClick)="toggleBtn(btn.id)"
      />
      <!-- BEFORE BUTTON LOOP  -->

      <!-- BEFORE BADGE LOOP  -->
      <fui-badge
        *ngFor="let badge of leftBeforeBagdeUtil; let i = index"
        [ngStyle]="{ margin: badge.margin }"
        [color]="badge.color"
        [size]="badge.size"
        [isBadgeIcon]="badge.isBadgeIcon"
        [icon]="badge.icon"
        [iconPosition]="badge.iconPosition"
        [underline]="badge.underline"
        [rounded]="badge.rounded"
      >
        {{ badge.text }}
      </fui-badge>
      <!-- BEFORE BADGE LOOP  -->

      <!-- CUSTOM CONTENT  -->
      <ng-content select="[left-util]"></ng-content>
      <!-- CUSTOM CONTENT  -->

      <!-- AFTER BUTTON LOOP  -->
      <fui-button-icon
        *ngFor="let btn of leftAfterBtnUtil; let i = index"
        [ngStyle]="{ margin: btn.margin }"
        [type]="'button'"
        [option]="btn.option"
        [color]="btn.color"
        [text]="btn.text"
        [icon]="btn.icon"
        [size]="btn.size"
        [iconSide]="btn.iconSide"
        [style]="btn.style"
        [disabled]="btn.disabled"
        (onClick)="toggleBtn(btn.id)"
      />
      <!-- AFTER BUTTON LOOP  -->

      <!-- AFTER BADGE LOOP  -->
      <fui-badge
        *ngFor="let badge of leftAfterBagdeUtil; let i = index"
        [ngStyle]="{ margin: badge.margin }"
        [color]="badge.color"
        [size]="badge.size"
        [isBadgeIcon]="badge.isBadgeIcon"
        [icon]="badge.icon"
        [iconPosition]="badge.iconPosition"
        [underline]="badge.underline"
        [rounded]="badge.rounded"
      >
        {{ badge.text }}
      </fui-badge>
      <!-- AFTER BADGE LOOP  -->
    </div>
    <!-- LEFT CONTENT  -->

    <!-- -------------------------------------------- -->

    <!-- RIGHT CONTENT  -->
    <div class="flex">
      <!-- BUTTON AFTER LOOP  -->
      <fui-button-icon
        *ngFor="let btn of rightBeforeBtnUtil; let i = index"
        [ngStyle]="{ margin: btn.margin }"
        [type]="'button'"
        [option]="btn.option"
        [color]="btn.color"
        [text]="btn.text"
        [icon]="btn.icon"
        [size]="btn.size"
        [iconSide]="btn.iconSide"
        [style]="btn.style"
        [disabled]="btn.disabled"
        (onClick)="toggleBtn(btn.id)"
      />
      <!-- BUTTON AFTER LOOP  -->

      <!-- BADGE BEFORE LOOP  -->
      <fui-badge
        *ngFor="let badge of rightBeforeBagdeUtil; let i = index"
        [ngStyle]="{ margin: badge.margin }"
        [color]="badge.color"
        [size]="badge.size"
        [isBadgeIcon]="badge.isBadgeIcon"
        [icon]="badge.icon"
        [iconPosition]="badge.iconPosition"
        [underline]="badge.underline"
        [rounded]="badge.rounded"
      >
        {{ badge.text }}
      </fui-badge>
      <!-- BADGE BEFORE LOOP  -->

      <!-- CUSTOM CONTENT  -->
      <ng-content select="[right-util]"></ng-content>
      <!-- CUSTOM CONTENT  -->

      <!-- BUTTON AFTER LOOP  -->
      <fui-button-icon
        *ngFor="let btn of rightAfterBtnUtil; let i = index"
        [ngStyle]="{ margin: btn.margin }"
        [type]="'button'"
        [option]="btn.option"
        [color]="btn.color"
        [text]="btn.text"
        [icon]="btn.icon"
        [size]="btn.size"
        [iconSide]="btn.iconSide"
        [style]="btn.style"
        [disabled]="btn.disabled"
        (onClick)="toggleBtn(btn.id)"
      />
      <!-- BUTTON AFTER LOOP  -->

      <!-- BADGE AFTER LOOP  -->
      <fui-badge
        *ngFor="let badge of rightAfterBagdeUtil; let i = index"
        [ngStyle]="{ margin: badge.margin }"
        [color]="badge.color"
        [size]="badge.size"
        [isBadgeIcon]="badge.isBadgeIcon"
        [icon]="badge.icon"
        [iconPosition]="badge.iconPosition"
        [underline]="badge.underline"
        [rounded]="badge.rounded"
      >
        {{ badge.text }}
      </fui-badge>
      <!-- BADGE AFTER LOOP  -->

      <!-- CUSTOM CONTENT  -->
      <ng-content select="[after-right-util]"></ng-content>
      <!-- CUSTOM CONTENT  -->
    </div>
    <!-- RIGHT CONTENT  -->
  </div>
</div>
