<shared-flyout-simple
  [isOpenFlyout]="isFlyoutLumpsumTerm"
  [titleFlyout]="title"
  (closeOut)="openFlyouLumpsumTerm()"
>
  <div body>
    <!-- NAME  -->
    <div class="form-control">
      <fui-text class="label"> Payment Order </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'number'"
          [formControlField]="lumpsumPaymentOrderForm"
          [invalid]="false"
          [placeholder]="'Type payment order'"
          [size]="'m'"
          [invalid]="
            lumpsumPaymentOrderForm.invalid && lumpsumPaymentOrderForm.dirty
          "
        >
          <fui-icons
            *ngIf="
              lumpsumPaymentOrderForm.invalid && lumpsumPaymentOrderForm.dirty
            "
            right-icon
            [label]="'right'"
            [icon]="'alert'"
            [size]="'sizem'"
            [color]="'danger'"
          />
        </fui-input-field>
        <fui-validator-field
          validator
          [message]="'Payment order is required!'"
        />
      </fui-form-control-layout>
    </div>
    <!-- NAME  -->

    <!-- AMOUNT  -->
    <div class="form-control">
      <fui-text class="label"> Amount </fui-text>
      <fui-form-control-layout>
        <fui-prepend>
          <fui-text [size]="'sizexs'" [weight]="'semibold'">{{
            currencyForm.value
          }}</fui-text>
        </fui-prepend>
        <fui-input-field
          [formControlField]="lumpsumAmountForm"
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'Type amount'"
          [size]="'m'"
          [invalid]="lumpsumAmountForm.invalid && lumpsumAmountForm.dirty"
        >
          <fui-icons
            *ngIf="lumpsumAmountForm.invalid && lumpsumAmountForm.dirty"
            right-icon
            [label]="'right'"
            [icon]="'alert'"
            [size]="'sizem'"
            [color]="'danger'"
          />
        </fui-input-field>
        <fui-validator-field validator [message]="'Amount is required!'" />
      </fui-form-control-layout>
    </div>
    <!-- AMOUNT  -->

    <!-- DESC  -->
    <div class="form-control">
      <fui-text class="label"> Description </fui-text>
      <fui-form-control-layout>
        <fui-textarea
          [formControlField]="lumpsumdescForm"
          [placeholder]="'Type lumpsum description'"
          [size]="'m'"
          [invalid]="false"
        >
          <fui-icons
            *ngIf="lumpsumdescForm.invalid && lumpsumdescForm.dirty"
            right-icon
            [label]="'right'"
            [icon]="'alert'"
            [size]="'sizem'"
            [color]="'danger'"
          />
        </fui-textarea>
        <fui-validator-field validator [message]="'Description is required!'" />
      </fui-form-control-layout>
    </div>
    <!-- DESC  -->
  </div>
  <div footer class="flex-between footer-fly">
    <fui-button-icon
      (onClick)="openFlyouLumpsumTerm()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Cancel'"
    />
    <fui-button-icon
      (onClick)="openFlyouLumpsumTerm()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'filled'"
      [option]="'text'"
      [text]="title"
    />
  </div>
</shared-flyout-simple>
