<fui-flyout
  [zIndex]="2"
  [open]="isOpenFlyout"
  [flyoutSize]="'s'"
  [flyoutPadding]="'s'"
>
  <fui-flyout-header (onCloseFlyout)="toggleCloseFlyout()">
    <div class="header-flyout">
      <h2>Update Timesheet</h2>
    </div>
  </fui-flyout-header>
  <fui-flyout-body>
    <div class="flyout-body">
      <div class="form">
        <!-- Fee Earner FORM  -->
        <fui-text [size]="'sizes'" *ngIf="feeEarner === true">Fee Earner</fui-text>
        <div class="form-control" *ngIf="feeEarner === true">
          <fui-combo-box
            [invalid]="feeEarnerForm.invalid && feeEarnerForm.dirty"
            [message]="'Fee Earner is required!'"
            (selection)="selectionActivity($event)"
            [comboxForm]="feeEarnerForm"
            [singleSelection]="true"
            [size]="'m'"
            [placeholder]="'Fee Earner'"
            [optionValue]="optionActivity"
            [selectedValue]="selectedActivity"
          />
        </div>
        <!-- Fee Earner FORM  -->
        <!-- ACTIVITY FORM  -->
        <fui-text [size]="'sizes'">What did you do?</fui-text>
        <div class="form-control">
          <fui-combo-box
            [invalid]="activitySearch.invalid && activitySearch.dirty"
            [message]="'Activity is required!'"
            (selection)="selectionActivity($event)"
            [comboxForm]="activitySearch"
            [singleSelection]="true"
            [size]="'m'"
            [placeholder]="'Activity/verb'"
            [optionValue]="optionActivity"
            [selectedValue]="selectedActivity"
          />
        </div>
        <!-- ACTIVITY FORM  -->

        <!-- OBJECT/EVENT FORM  -->
        <div class="form-control">
          <fui-form-control-layout>
            <fui-input-field
              [formControlField]="objectEventForm"
              [placeholder]="'object/event'"
              [type]="'text'"
              [size]="'m'"
              [invalid]="objectEventForm.invalid && objectEventForm.dirty"
            >
              <fui-icons
                *ngIf="objectEventForm.invalid && objectEventForm.dirty"
                right-icon
                [label]="'right'"
                [icon]="'alert'"
                [size]="'sizem'"
                [color]="'danger'"
            /></fui-input-field>
            <fui-validator-field
              validator
              [message]="'Object/Event is required!'"
            />
          </fui-form-control-layout>
        </div>
        <!-- OBJECT/EVENT FORM  -->

        <!-- TOPICS FORM  -->
        <div class="form-control">
          <fui-form-control-layout>
            <fui-input-field
              [formControlField]="topicForm"
              [placeholder]="'topics'"
              [type]="'text'"
              [size]="'m'"
              [invalid]="topicForm.invalid && topicForm.dirty"
            >
              <fui-icons
                *ngIf="topicForm.invalid && topicForm.dirty"
                right-icon
                [label]="'right'"
                [icon]="'alert'"
                [size]="'sizem'"
                [color]="'danger'"
            /></fui-input-field>
            <fui-validator-field validator [message]="'Topics is required!'" />
          </fui-form-control-layout>
        </div>
        <!-- TOPICS FORM  -->

        <!-- ADD DESC FORM  -->
        <div class="form-control">
          <fui-form-control-layout>
            <fui-input-field
              [formControlField]="addDescForm"
              [placeholder]="'Additional description'"
              [type]="'text'"
              [size]="'m'"
              [invalid]="addDescForm.invalid && addDescForm.dirty"
            >
              <fui-icons
                *ngIf="addDescForm.invalid && addDescForm.dirty"
                right-icon
                [label]="'right'"
                [icon]="'alert'"
                [size]="'sizem'"
                [color]="'danger'"
            /></fui-input-field>
            <fui-validator-field
              validator
              [message]="'Additional description is required!'"
            />
          </fui-form-control-layout>
          <fui-text class="italic" [size]="'sizexs'" [color]="'disabled'"
            >*Conduct desk research & prepare summary on licensing
            regulation.</fui-text
          >
        </div>
        <!-- ADD DESC FORM  -->
      </div>

      <!-- MATTER FORM  -->
      <div class="form">
        <div class="flex-between">
          <fui-text [size]="'sizes'">Which matter?</fui-text>
        </div>
        <div class="form-control">
          <fui-combo-box
            [leftIcon]="'search'"
            [disabled]="true"
            (selection)="selectionMatter($event)"
            [comboxForm]="matterSearch"
            [invalid]="matterSearch.invalid && matterSearch.dirty"
            [message]="'Matter is required!'"
            [singleSelection]="true"
            [size]="'m'"
            [placeholder]="'Search by number or project name'"
            [optionValue]="optionMatter"
            [selectedValue]="selectedOptionMatter"
          />
        </div>
      </div>
      <!-- MATTER FORM  -->

      <div class="form">
        <div class="flex-between">
          <!-- DATE FORM -->
          <div class="sub-form">
            <div class="flex-between">
              <fui-text [size]="'sizes'">Date</fui-text>
            </div>
            <fui-date-picker
              class="form-control"
              format="MM/DD/YYYY"
              [position]="'top'"
              [dateFormControl]="dateFormControl"
              [message]="'Date is required!'"
              [isInvalid]="dateFormControl.invalid && dateFormControl.dirty"
            />
          </div>
          <!-- DATE FORM -->

          <!-- DURATION FORM -->
          <div class="sub-form">
            <fui-text [size]="'sizes'">Duration</fui-text>
            <fui-time-selection
              class="form-control"
              [timeFormControl]="durationForm"
              [position]="'top'"
              [isInvalid]="durationForm.invalid && durationForm.dirty"
              [message]="'Duration is required!'"
            />
          </div>
          <!-- DURATION FORM -->
        </div>
      </div>
    </div>
  </fui-flyout-body>
  <fui-flyout-footer [isFlyoutFooterCustom]="true">
    <div class="footer-flyout flex-between">
      <fui-button-icon
        (onClick)="toggleCloseFlyout()"
        [type]="'button'"
        [option]="'text'"
        [style]="'secondary'"
        [text]="'Cancel'"
      />
      <fui-button-icon
        [type]="'button'"
        [option]="'text'"
        [style]="'filled'"
        [text]="'Update Timesheet'"
      />
    </div>
  </fui-flyout-footer>
</fui-flyout>
