@import "../../app.component.scss";
.flex {
  display: flex;
  &.gap-5 {
    gap: 5px;
  }
  &-end {
    display: flex;
    justify-content: end;
  }
}
.align {
  &-center {
    align-items: center;
  }
}
.mr-5 {
  margin-right: 5px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  &-1 {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  &-2 {
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
  }
  &-3 {
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
