.layout {
  display: flex;
  .header {
    width: -webkit-fill-available;
    .body {
      padding: 20px;
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 20;
    }
  }
}
.logo {
  display: flex;
  margin-left: 10px;
  .img-logo {
    margin-right: 5px;
  }
}
