@import "../detail-matter.component.scss";

.wrap-container {
  border-radius: 5px;
  margin: 20px 0px 20px 0px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  padding: 25px 20px;
}

.w-fit {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}

.my-15 {
  margin: 15px 0px;
}
.my-25 {
  margin: 25px 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.grid-spec {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-start {
  display: flex;
  align-items: center;
  gap: 15px;
}
.flex-start-5 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.text-right {
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: end;
}

.flex-5 {
  display: flex;
  gap: 5px;
}

.p-15 {
  padding: 15px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.px-10 {
  padding: 0px 10px;
}
.px-15 {
  padding: 0px 15px;
}
.px-15-t-15 {
  padding: 25px 25px 0px 25px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blue-card {
  background-color: var(--fuiPrimarySecondary, $fuiPrimarySecondary);
  padding: 15px;
  border-radius: 10px;
}

.hover-underline {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--fuiBtnPrimaryText, $fuiBtnPrimaryText);
  }
}

.tab-btn {
  outline: none;
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
  &.active {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--fuiColorPrimary, $fuiColorPrimary);
  }
}

.overflow-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.overflow-y-auto-h-500 {
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
}
