@import "../../../../../styles.scss";

.input-activity {
  height: fit-content;
  display: grid;
}

.container {
  width: 100%;
  .sub-container {
    display: flex;
    margin-top: 5px;
    align-items: end;
    &:last-child {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.checkbox {
  align-items: center;
  display: flex;
}
input {
  margin-right: 5px;
}
.title {
  font-size: small;
}
.input {
  margin-top: 5px;
}

.lock-wrap {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 350px;
}

.form {
  margin-right: 15px;
  width: -webkit-fill-available;
  align-self: baseline;
}

.create-btn {
  margin-bottom: 2px;
}

.create-btn-min {
  display: none;
}

fui-date-picker {
  border: none;
}

@media (max-width: 1000px) {
  .input-activity {
    display: block;
  }
  .form {
    margin: 20px 0px 20px 0px;
  }
  .form.combo-box {
    width: auto;
  }
  .form.matter {
    width: auto;
  }
  .create-btn {
    display: none;
  }
  .create-btn-min {
    display: block;
  }
}

/* app.component.css */
.hidden-overflow {
  overflow-y: hidden;
  height: 200px; /* Set a specific height */
}

.show-overflow {
  overflow-y: visible; /* Change to visible when needed */
}

/** Add On*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--fuiColorMediumShade, $fuiColorMediumShade);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--fuiColorDarkShade, $fuiColorDarkShade);
}
