<div class="input-activity">
  <div class="form combo-box">
    <app-skeleton [active]="loading">
      <span class="title">What did you do?</span>
    </app-skeleton>
    <div class="input">
      <app-skeleton [active]="loading">
        <fui-combo-box
          [singleSelection]="true"
          [size]="'m'"
          [placeholder]="'Activity'"
          [optionValue]="optionActivity"
          [selectedValue]="selectedActivity"
        />
      </app-skeleton>
    </div>
  </div>
  <div class="form description">
    <app-skeleton [active]="loading">
      <span class="title">Description</span>
    </app-skeleton>
    <div class="input">
      <app-skeleton [active]="loading">
        <fui-form-control-layout class="description">
          <fui-input-field
            [placeholder]="'Description'"
            [type]="'text'"
            [size]="'m'"
            [invalid]="false"
          />
        </fui-form-control-layout>
      </app-skeleton>
    </div>
  </div>
  <div class="form matter">
    <app-skeleton [active]="loading">
      <div class="lock-wrap">
        <span class="title">Which matter?</span>
        <div class="checkbox">
          <input type="checkbox" />
          <span class="title">Lock</span>
        </div>
      </div>
    </app-skeleton>
    <div class="input">
      <app-skeleton [active]="loading">
        <fui-form-control-layout>
          <fui-input-field
            [placeholder]="'Number, Project, Client'"
            [type]="'text'"
            [size]="'m'"
            [invalid]="false"
          >
            <fui-icons
              left-icon
              [label]="'left'"
              [icon]="'search'"
              [size]="'sizem'"
              [color]="'text'"
            />
          </fui-input-field>
        </fui-form-control-layout>
      </app-skeleton>
    </div>
  </div>
  <div class="form date">
    <app-skeleton [active]="loading">
      <div class="lock-wrap">
        <span class="title">Date</span>
        <div class="checkbox">
          <input type="checkbox" />
          <span class="title">Lock</span>
        </div>
      </div>
    </app-skeleton>
    <div class="input">
      <app-skeleton [active]="loading">
        <fui-date-picker
          format="YYYY/DD/MM"
          [dateFormControl]="dateFormControl"
          (onChange)="onChangeHandler($event)"
          [(isInvalid)]="isInvalid"
        />
      </app-skeleton>
    </div>
  </div>
  <div class="form duration">
    <app-skeleton [active]="loading">
      <span class="title">Duration</span>
    </app-skeleton>
    <div class="input">
      <app-skeleton [active]="loading">
        <fui-time-selection />
      </app-skeleton>
    </div>
  </div>
  <app-skeleton [active]="loading">
    <fui-button-icon
      class="create-btn"
      [size]="'l'"
      [type]="'button'"
      [option]="'icon'"
      [style]="'filled'"
      [color]="'primary'"
      [icon]="'plusInCircleFilled'"
    />
    <fui-button-icon
      class="create-btn-min"
      [size]="'m'"
      [type]="'button'"
      [option]="'iconText'"
      [text]="'Create'"
      [style]="'filled'"
      [color]="'primary'"
      [icon]="'plusInCircleFilled'"
    />
  </app-skeleton>
</div>
