@import "../my-timesheet.component.scss";

.head-title {
  font-weight: bold;
}

.header.ytd {
  justify-content: space-between;
  font-weight: normal;
  display: flex;
}

.empty {
  margin-top: 30px;
}

.chart {
  margin-top: 5px;
}
