@import "../my-timesheet.component.scss";

.head-title {
  font-weight: bold;
}

.header.ytd {
  justify-content: space-between;
  font-weight: normal;
  display: flex;
}

.empty {
  margin-top: 30px;
}
.body {
  z-index: 3;
  overflow-x: auto;
}
.chart {
  margin-bottom: 5px;
  min-width: 1000px;
}
