<!-- <fui-page [isGrow]="true" [isRestrictWidth]="false" [direction]="'horizontal'"> -->
  <div class="container">
    <fui-page-sidebar
      [show]="showSidebar"
      (showEvent)="showEvent($event)"
    >
      <div class="h-screen">
        <div class="sidebar-container">
          <div class="logo">
            <div class="title">
              <img
                *ngIf="theme === 'light'"
                src="../../../assets/Logo.svg"
                class="img-logo"
                alt="logo"
              />
              <img
                *ngIf="theme === 'dark'"
                src="../../../assets/logo-white.svg"
                class="img-logo"
                alt="logo"
              />
              <h3 class="title">Quantum</h3>
            </div>
            <fui-button-icon
              class="close-btn"
              [type]="'button'"
              [size]="'m'"
              [option]="'icon'"
              [style]="'secondary'"
              [color]="'text'"
              [icon]="'cross'"
              [iconSide]="'left'"
              (onClick)="toggleSidebar()"
            />
          </div>
          <div class="side-nav">
            <div class="search-form">
              <fui-form-control-layout>
                <fui-input-field
                  [formControlField]="searchForm"
                  [placeholder]="'Search menu name'"
                  [type]="'text'"
                  [size]="'m'"
                  [invalid]="false"
                >
                  <fui-icons
                    left-icon
                    [label]="'left'"
                    [icon]="'search'"
                    [size]="'sizem'"
                    [color]="'text'"
                  />
                  <fui-icons
                    *ngIf="
                      searchForm.value !== '' &&
                      searchForm.value !== null &&
                      loading === false
                    "
                    right-icon
                    (click)="this.searchForm.setValue('')"
                    [label]="'right'"
                    [icon]="'cross'"
                    [size]="'sizem'"
                    [color]="'text'"
                  />
                  <fui-loading
                    *ngIf="loading"
                    class="mx-5"
                    right-icon
                    [type]="'spinner'"
                    [isLoading]="true"
                    [size]="'sizel'"
                  ></fui-loading>
                </fui-input-field>
              </fui-form-control-layout>
            </div>
          </div>
        </div>
        <div class="fui-sidenav">
          <fui-sidenav
            [highlightText]="searchForm.value"
            [dataSide]="dataSide"
          ></fui-sidenav>
        </div>
        <div class="profile">
          <hr />
          <div class="flex-signout" (click)="logout()">
            <fui-icons [icon]="'continuityBelow'" [color]="'text'" />
            <p>Sign Out</p>
          </div>
          <div class="flex">
            <div class="sub-flex">
              <fui-avatar
                [shape]="'user'"
                [type]="'initial'"
                [name]="nameUser"
                [size]="'sizes'"
                [color]="'primary'"
              ></fui-avatar>
              <fui-text>{{ nameUser }}</fui-text>
            </div>
            <fui-icons [icon]="'popout'" />
          </div>
        </div>
      </div>
    </fui-page-sidebar>
    <div class="wrap-body">
      <div class="page-body">
        <fui-header [display]="'flex'" [position]="'fixed-top'" [shadow]="true">
          <fui-header-panel class="header">
            <fui-button-icon
              [type]="'button'"
              [size]="'m'"
              [option]="'icon'"
              [style]="'secondary'"
              [color]="'text'"
              [icon]="showSidebar ? 'menuLeft' : 'menuRight'"
              [iconSide]="'left'"
              (onClick)="toggleSidebar()"
            />
          </fui-header-panel>
          <fui-header-panel class="header">
            <fui-button-icon
              class="icon-mode"
              *ngIf="themeService.getTheme() === 'ahp-light'"
              [type]="'button'"
              [size]="'m'"
              [option]="'icon'"
              [style]="'secondary'"
              [color]="'text'"
              [icon]="'moon'"
              [iconSide]="'left'"
              (onClick)="toggleMode('ahp-dark')"
            />
            <fui-button-icon
              class="icon-mode"
              *ngIf="themeService.getTheme() === 'ahp-dark'"
              [type]="'button'"
              [size]="'m'"
              [option]="'icon'"
              [style]="'secondary'"
              [color]="'text'"
              [icon]="'sun'"
              [iconSide]="'left'"
              (onClick)="toggleMode('ahp-light')"
            />
            <fui-button-icon
              [type]="'button'"
              [size]="'m'"
              [option]="'icon'"
              [style]="'secondary'"
              [color]="'text'"
              [icon]="'bell'"
              [iconSide]="'left'"
            />
            <span class="count-notif">{{ notifyCount }}</span>
            <fui-button-icon
              [type]="'button'"
              [size]="'m'"
              [option]="'icon'"
              [style]="'secondary'"
              [color]="'text'"
              [icon]="'email'"
              [iconSide]="'left'"
            />
            <span class="count-notif">{{ emailCount }}</span>
            <fui-popover class="create-new" [position]="'bottom'" [align]="'end'">
              <fui-button-icon
                [type]="'button'"
                [size]="'m'"
                [option]="'iconText'"
                [text]="'Create New'"
                [style]="'filled'"
                [color]="'primary'"
                [icon]="'arrowDown'"
                [iconSide]="'right'"
              />
              <div popover-body class="select-option">
                <!-- TAB 1  -->
                <div
                  class="tab-1"
                  [ngStyle]="{ display: tab !== 1 ? 'none' : 'block' }"
                >
                  <fui-text class="title" [size]="'sizem'"
                    ><b>Select Options</b></fui-text
                  >
                  <hr />
                  <a class="timesheet" (click)="toggleOpenFlyout()"
                    ><fui-icons [icon]="'clock'" [color]="'text'" />
                    <fui-text>Timesheet</fui-text></a
                  >
                  <a class="timesheet"><fui-text>Matter Opening</fui-text></a>
                  <a class="timesheet between" (click)="clickTab(2)"
                    ><fui-text>Payment Request</fui-text
                    ><fui-icons [icon]="'arrowRight'" [color]="'text'"
                  /></a>
                  <a class="timesheet"><fui-text>Leave Request</fui-text></a>
                </div>
                <!-- TAB 1  -->

                <!-- TAB 2  -->
                <div
                  class="tab-2"
                  [ngStyle]="{ display: tab !== 2 ? 'none' : 'block' }"
                >
                  <div class="flex">
                    <fui-icons
                      class="back"
                      [icon]="'sortLeft'"
                      [color]="'text'"
                      (click)="clickTab(1)"
                    />
                    <fui-text class="title" [size]="'sizem'"
                      ><b>Payment Request</b></fui-text
                    >
                  </div>
                  <hr />
                  <a class="timesheet">
                    <fui-text>Payment For Vendor</fui-text></a
                  >
                  <a class="timesheet"
                    ><fui-text>Payment For Employee</fui-text></a
                  >
                  <a class="timesheet"><fui-text>Cash Advance</fui-text></a>
                </div>
                <!-- TAB 2  -->
              </div>
            </fui-popover>
          </fui-header-panel>
        </fui-header>
        <div class="wrap-page-body">
          <ng-content />
        </div>
      </div>
    </div>
  </div>

  <!-- </fui-page> -->
  <shared-modal-delete
    [openModalDelete]="logoutModal"
    (deleteActionOut)="logoutAction()"
    [title]="'Are you sure want to sign out?'"
    [desc]="''"
    [btnContinue]="'Sign Out'"
  />

  <shared-flyout-timesheet
    [title]="'Add Timesheet'"
    [showFeeEarnerForm]="false"
    [isOpenFlyout]="isOpenFlyout"
    (closeOut)="closeOut($event)"
  />
