@import "../../../styles.scss";

.h-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  /** Add On*/
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--fuiColorMediumShade, $fuiColorMediumShade);
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--fuiColorDarkShade, $fuiColorDarkShade);
  }
}
.fui-sidenav {
  overflow-y: auto;
  padding: 0px 20px;
  flex: 1;
}

/** Container Page */
.container {
  height: 100vh;
  display: flex;
}

/** Header Style */
.header {
  padding: 8px 15px 8px 15px;
  &:last-child {
    padding: 8px 15px 8px 5px;
  }
}
.count-notif {
  margin-right: 5px;
  top: -10px;
  left: -5px;
  position: relative;
  background-color: var(--fuiColorAccent, $fuiColorAccent);
  color: var(--fuiColorGhost, $fuiColorGhost);
  padding: 3px 4px 3px 5px;
  border-radius: 5px;
  font-size: 10px;
}
.create-new {
  margin-right: 10px;
  .select-option {
    min-width: 200px;
    text-wrap: nowrap;
    .tab-1 {
      .timesheet {
        margin-bottom: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
          fui-text {
            text-decoration: underline;
          }
          cursor: pointer;
        }
        &:last-child {
          margin: 0;
        }
        fui-icons {
          margin-right: 3px;
        }
        &.between {
          justify-content: space-between;
        }
      }
    }
    .tab-2 {
      .flex {
        display: flex;
        align-items: center;
        .back {
          margin-right: 5px;
        }
      }
      .timesheet {
        margin-bottom: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
          fui-text {
            text-decoration: underline;
          }
          cursor: pointer;
        }
        &:last-child {
          margin: 0;
        }
        fui-icons {
          margin-right: 3px;
        }
        &.between {
          justify-content: space-between;
        }
      }
    }
  }
}
.title {
  display: block;
  margin: 1px 0px;
}
.icon-mode {
  display: flex;
  margin-right: 10px;
}
/** Sidebar Style */
.sidebar-container {
  padding: 20px;
  .logo {
    align-items: center;
    justify-content: space-between;
    display: flex;
    .title {
      display: flex;
    }
    .img-logo {
      margin: 0px 5px 0px 0px;
      width: 20px;
    }
  }
  .side-nav {
    margin-top: 30px;
  }
}
.close-btn {
  display: none;
}

@media (max-width: 1000px) {
  .close-btn {
    display: inline;
  }
}

/** Body Style */
.wrap-body {
  width: 100%;
}
.page-body {
  width: -webkit-fill-available;
  width: -moz-available;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: var(--fuiColorEmptyShade, $fuiColorEmptyShade);
}
.wrap-page-body {
  padding: 25px;
}

.profile {
  padding: 0px 20px;
  margin-bottom: 20px;
  .flex {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .sub-flex {
      margin-right: 20px;
      align-items: center;
      display: flex;
      fui-avatar {
        margin-right: 10px;
      }
    }
  }
}

.flex-signout {
  display: flex;
  margin: 20px 0px;
  width: fit-content;
  fui-icons {
    margin-right: 5px;
  }
  &:hover {
    cursor: pointer;
    p {
      text-decoration: underline;
    }
  }
}
