@import "../../../styles.scss";

.page-view {
  width: 100dvw;
  height: 100dvh;
}

hr {
  border: none;
  border-top: 1px solid var(--fuiColorLightShade, $fuiColorLightShade);
}

/** Header Style */
.email-btn {
  position: relative;
  margin-right: 20px;
  .count-notif {
    height: fit-content;
    top: -5px;
    right: -5px;
    position: absolute;
    background-color: var(--fuiColorAccent, $fuiColorAccent);
    color: var(--fuiColorGhost, $fuiColorGhost);
    padding: 3px 4px 3px 5px;
    border-radius: 5px;
    font-size: 10px;
  }
}
.item-notif {
  &:hover {
    cursor: pointer;
    background-color: var(--fuiColorLightShade, $fuiColorLightShade);
  }
}
.comment-text {
  font-size: small;
}
.w-1280 {
  width: 100%;
  max-width: 1280px;
}
.w-200 {
  width: 200px;
}
.min-w-250 {
  min-width: 250px;
}
.mt-2 {
  margin-top: 2px;
}
.h-max-250 {
  max-height: 250px;
}

.cursor {
  &:hover {
    cursor: pointer;
    .link-click,
    .link-click-title {
      text-decoration: underline;
    }
  }
}
.link-click {
  text-wrap: nowrap;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &.danger {
    color: var(--fuiColorDanger, $fuiColorDanger);
  }
}
.link-click-title {
  font-weight: 600;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media (max-width: 760px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .page-view {
    height: 100dvh;
  }
}
