@import "../../../styles.scss";

/** Container Page */
.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

/** Header Style */
.header {
  padding: 8px 15px 8px 15px;
}
.count-notif {
  margin-right: 5px;
  top: -10px;
  left: -5px;
  position: relative;
  background-color: var(--fuiColorAccent, $fuiColorAccent);
  color: var(--fuiColorGhost, $fuiColorGhost);
  padding: 3px 4px 3px 5px;
  border-radius: 5px;
  font-size: 10px;
}
.create-new {
  margin-right: 10px;
}

/** Sidebar Style */
.sidebar-container {
  padding: 20px;
  .logo {
    align-items: center;
    justify-content: space-between;
    display: flex;
    .title {
      display: flex;
    }
    .img-logo {
      margin: 0px 5px 0px 0px;
      width: 20px;
    }
  }
  .side-nav {
    margin-top: 30px;
  }
}
.close-btn {
  display: none;
}
@media (max-width: 1000px) {
  .close-btn {
    display: inline;
  }
}

/** Body Style */
.wrap-body {
  width: 100%;
}
.page-body {
  padding: 25px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 400px) {
  .page-body {
    padding: 20px;
  }
}
