<!-- FORM SEARCH MATTER -->
<div class="container">
  <!-- INPUT FORM SEARCH -->
  <fui-form-control-layout class="full-width mr-10">
    <fui-input-field
      [type]="'text'"
      [invalid]="false"
      [size]="'m'"
      [placeholder]="'Search by Number or Project Name'"
    >
      <fui-icons
        left-icon
        [color]="'text'"
        [icon]="'search'"
        [size]="'sizem'"
      />
    </fui-input-field>
  </fui-form-control-layout>
  <!-- INPUT FORM SEARCH -->

  <!-- BUTTON FILTER FOR OPEN FLYOUT -->
  <fui-button-icon
    (onClick)="toggleOpenFlyout()"
    [color]="'text'"
    [type]="'button'"
    [option]="'iconText'"
    [icon]="'filter'"
    [style]="'secondary'"
    [size]="'m'"
    [text]="'Filter'"
  />
  <!-- BUTTON FILTER FOR OPEN FLYOUT -->
</div>
<!-- FORM SEARCH MATTER -->

<!-- FLYOUT FILTER -->
<fui-flyout
  [zIndex]="2"
  [open]="isOpenFlyout"
  [flyoutSize]="'s'"
  [flyoutPadding]="'s'"
>
  <!-- HEADER FLYOUT -->
  <fui-flyout-header (onCloseFlyout)="toggleCloseFlyout()">
    <div class="header-flyout">
      <h2>Matter Filter</h2>
    </div>
  </fui-flyout-header>
  <!-- HEADER FLYOUT -->

  <!-- BODY FLYOUT -->
  <fui-flyout-body>
    <div class="body-flyout">
      <!-- STANDARD FILTER -->
      <div class="standard-filter">
        <!-- FORM CLIENT NAME -->
        <div for="form" class="label-form">Client Name</div>
        <fui-form-control-layout class="full-width">
          <fui-input-field
            [formControlField]="clientNameForm"
            [type]="'text'"
            [invalid]="false"
            [size]="'m'"
            [placeholder]="'Type client name'"
          >
            <fui-icons
              left-icon
              [color]="'text'"
              [icon]="'search'"
              [size]="'sizem'"
            />
          </fui-input-field>
        </fui-form-control-layout>
        <!-- FORM CLIENT NAME -->

        <!-- MATTER NUMBER -->
        <div for="form" class="label-form">Matter Number</div>
        <fui-combo-box
          [invalid]="false"
          [message]="'Matter Number is required!'"
          [singleSelection]="true"
          [size]="'m'"
          [placeholder]="'Select matter number(s)'"
          [optionValue]="[]"
          [selectedValue]="[]"
        />
        <!-- MATTER NUMBER -->

        <!-- FORM PROJECT NAME -->
        <div for="form" class="label-form">Project Name</div>
        <div class="form-group">
          <fui-form-control-layout class="child-form-adv full-width">
            <fui-select-field
              [formControlField]="projectNameFormType"
              [invalid]="true"
              [size]="'m'"
              [selectOptions]="selectOption"
            >
            </fui-select-field>
          </fui-form-control-layout>

          <fui-form-control-layout class="child-form full-width">
            <fui-input-field
              [type]="'text'"
              [invalid]="false"
              [size]="'m'"
              [placeholder]="'Type matter description'"
            >
            </fui-input-field>
          </fui-form-control-layout>
        </div>
        <!-- FORM PROJECT NAME -->

        <!-- FORM MATTER DESCRIPTION -->
        <div for="form" class="label-form">Matter Description</div>
        <div class="form-group">
          <fui-form-control-layout class="child-form-adv full-width">
            <fui-select-field
              [formControlField]="matterDescriptionFormType"
              [invalid]="true"
              [size]="'m'"
              [selectOptions]="selectOption"
            >
            </fui-select-field>
          </fui-form-control-layout>

          <fui-form-control-layout class="child-form full-width">
            <fui-input-field
              [type]="'text'"
              [invalid]="false"
              [size]="'m'"
              [placeholder]="'Type matter description'"
            >
            </fui-input-field>
          </fui-form-control-layout>
        </div>
        <!-- FORM MATTER DESCRIPTION -->
      </div>
      <!-- STANDARD FILTER -->

      <!-- HR HALF  -->
      <hr class="half-hr" />
      <!-- HR HALF  -->

      <!-- ADVANCE FILTER -->
      <fui-collapsible-nav-group
        class="collapsible"
        [isCollapsed]="isCollapsible"
      >
        <!-- HEADER AND TOGGLE  -->
        <div header class="header-collapsible" (click)="toggleCollapsible()">
          <p class="label-form">Advance Filter</p>
          <fui-icons [icon]="isCollapsible ? 'arrowDown' : 'arrowRight'" />
        </div>
        <!-- HEADER AND TOGGLE  -->

        <!-- BODY AND TOGGLE  -->
        <div body>
          <div class="wrap-advance-filter">
            <!-- MATTER CATEGORY FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form mt-0">Matter Category</div>
              <fui-combo-box
                [optionValue]="matterCategoryOption"
                [selectedValue]="matterCategorySelected"
                [placeholder]="'Select matter category'"
              />
            </div>
            <!-- MATTER CATEGORY FORM -->

            <!-- PRACTICE AREA FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Practice Area</div>
              <fui-combo-box
                [optionValue]="pacticeAreaOption"
                [selectedValue]="pacticeAreaSelected"
                [placeholder]="'Select practice area'"
              />
            </div>
            <!-- PRACTICE AREA FORM -->

            <!-- PRACTICE GROUP FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Practice Group</div>
              <fui-combo-box
                [optionValue]="pacticeGroupOption"
                [selectedValue]="pacticeGroupSelected"
                [placeholder]="'Select practice group'"
              />
            </div>
            <!-- PRACTICE GROUP FORM -->

            <!-- MATTER TYPE FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Matter Type</div>
              <fui-combo-box
                [optionValue]="matterTypeOption"
                [selectedValue]="matterTypeSelected"
                [placeholder]="'Select matter type'"
              />
            </div>
            <!-- MATTER TYPE FORM -->

            <!-- FEE STRUCTURE FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Fee Structure</div>
              <fui-combo-box
                [optionValue]="feeStructureOption"
                [selectedValue]="feeStructureSelected"
                [placeholder]="'Select fee structure'"
              />
            </div>
            <!-- FEE STRUCTURE FORM -->

            <!-- MATTER PIC FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Matter PIC</div>
              <fui-combo-box
                [optionValue]="matterPICOption"
                [selectedValue]="matterPICSelected"
                [placeholder]="'Select matter PIC'"
              />
            </div>
            <!-- MATTER PIC FORM -->

            <!-- MATTER MEMBERS FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Matter Members</div>
              <fui-combo-box
                [optionValue]="matterMemberOption"
                [selectedValue]="matterMemberSelected"
                [placeholder]="'Select matter members'"
              />
            </div>
            <!-- MATTER MEMBERS FORM -->

            <!-- UNBILLED AMOUNT HIGHER OR EQUAL TO FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">
                Unbilled Amount higher or equal to
              </div>
              <fui-form-control-layout class="full-width">
                <fui-prepend>
                  <div class="prepend-title">USD</div>
                </fui-prepend>
                <fui-input-field
                  [formControlField]="usdForm"
                  [type]="'text'"
                  [invalid]="false"
                  [size]="'m'"
                  [placeholder]="'Specify the unbilled amount'"
                >
                </fui-input-field>
              </fui-form-control-layout>
            </div>
            <!-- UNBILLED AMOUNT HIGHER OR EQUAL TO FORM -->

            <!-- COMPLETION DATE FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Completion Date</div>
              <fui-date-range
                [position]="'top'"
                [startDateControl]="completionDateStart"
                [endDateControl]="completionDateEnd"
              />
            </div>
            <!-- COMPLETION DATE FORM -->

            <!-- CREATION DATE FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Creation Date</div>
              <fui-date-range
                [position]="'top'"
                [startDateControl]="creationDateStart"
                [endDateControl]="creationDateEnd"
              />
            </div>
            <!-- CREATION DATE FORM -->
            <div class="scroller"></div>
          </div>
        </div>
        <!-- BODY AND TOGGLE  -->
      </fui-collapsible-nav-group>
      <!-- ADVANCE FILTER -->
    </div>
  </fui-flyout-body>
  <!-- BODY FLYOUT -->

  <!-- FOOTER FLYOUT -->
  <fui-flyout-footer [isFlyoutFooterCustom]="true">
    <div class="footer-flyout">
      <fui-button-icon
        [type]="'button'"
        [option]="'text'"
        [text]="'Cancel'"
        [style]="'secondary'"
        [color]="'text'"
      />
      <div class="sub-button">
        <fui-button-icon
          [type]="'button'"
          [option]="'text'"
          [text]="'Clear Filters'"
          [style]="'secondary'"
          [color]="'primary'"
        />
        <fui-button-icon
          [type]="'button'"
          [icon]="'filter'"
          [option]="'iconText'"
          [text]="'Apply Filters'"
          [style]="'filled'"
          [color]="'primary'"
        />
      </div>
    </div>
  </fui-flyout-footer>
  <!-- FOOTER FLYOUT -->
</fui-flyout>
<!-- FLYOUT FILTER -->
