<!-- Utility -->
<div class="utility block">
  <div class="sub-utility block">
    <div class="date-duration">
      <fui-button-icon
        *ngIf="!filterDate"
        [type]="'button'"
        [option]="'icon'"
        [icon]="'arrowLeft'"
        [style]="'secondary'"
        [color]="'text'"
        (onClick)="moveDate(-5)"
      />
      <p class="date" *ngIf="!filterDate">
        {{ lastDate | date : "d MMMM yy" }} -
        {{ currentDate | date : "d MMMM yy" }}
      </p>
      <p class="date" *ngIf="filterDate">
        {{ startDateForm.value | date : "d MMMM yy" }} -
        {{ endDateForm.value | date : "d MMMM yy" }}
      </p>
      <fui-button-icon
        *ngIf="
          currentDate.toDateString() !== nowDate.toDateString() &&
          (!filterDate || !filterMatter || !filterDesc)
        "
        [type]="'button'"
        [option]="'icon'"
        [icon]="'arrowRight'"
        [style]="'secondary'"
        [color]="'text'"
        (onClick)="moveDate(5)"
      />
      <app-skeleton [active]="loading">
        <div class="duration">
          <fui-badge
            [color]="'ghost'"
            [size]="'sizem'"
            [isBadgeIcon]="true"
            [icon]="'clock'"
            [iconPosition]="'start'"
          >
            <div *ngIf="!filterDate">
              {{ totalDuration }}
            </div>
            <div *ngIf="filterDate">
              {{ calculateTotalDurationFilter() }}
            </div>
          </fui-badge>
        </div>
      </app-skeleton>
    </div>
  </div>
  <div class="desktop">
    <fui-button-icon
      [type]="'button'"
      [option]="'iconText'"
      [style]="'secondary'"
      [text]="'Filter'"
      [size]="'m'"
      [color]="'text'"
      [icon]="'filter'"
      [iconSide]="'left'"
      (onClick)="handleOpenFlyout()"
    />
  </div>
</div>
<!-- Filter -->
<div class="utility" *ngIf="filterDate">
  <div class="sub-utility">
    <p class="text">Applied Filters</p>
    <span class="clear-all" (click)="clearFiltersAll()">Clear All</span>
    <fui-badge
      *ngIf="filterMatter"
      (onClickBadge)="filterMatter = false"
      class="badge-filter"
      [color]="'text'"
      [size]="'sizel'"
      [isBadgeIcon]="true"
      [icon]="'cross'"
      [sizeIcon]="'sizes'"
      [iconPosition]="'end'"
    >
      Matter
    </fui-badge>
    <fui-badge
      *ngIf="filterDate"
      (onClickBadge)="filterDate = false"
      class="badge-filter"
      [color]="'text'"
      [size]="'sizel'"
      [isBadgeIcon]="true"
      [icon]="'cross'"
      [sizeIcon]="'sizes'"
      [iconPosition]="'end'"
    >
      Date
    </fui-badge>
    <fui-badge
      *ngIf="filterDesc"
      (onClickBadge)="filterDesc = false"
      class="badge-filter"
      [color]="'text'"
      [size]="'sizel'"
      [isBadgeIcon]="true"
      [icon]="'cross'"
      [sizeIcon]="'sizes'"
      [iconPosition]="'end'"
    >
      Description
    </fui-badge>
  </div>
</div>
<!-- Selected -->
<div class="utility last" *ngIf="filterDate">
  <div class="sub-utility">
    <fui-badge
      class="badge-selected"
      [color]="'text'"
      [size]="'sizel'"
      [isBadgeIcon]="true"
      [icon]="'cross'"
      [sizeIcon]="'sizes'"
      [iconPosition]="'end'"
    >
      {{ selectItem.length }} item on page selected
    </fui-badge>
    <div class="vertical-line" *ngIf="filterDate"></div>
    <span class="move-matter" (click)="moveTimesheet()">
      <fui-icons [icon]="'push'" [size]="'sizem'" [color]="'primary'" />
      Move
    </span>
  </div>
</div>
<!-- Utility -->

<app-skeleton [active]="loading">
  <!-- Table with filter -->
  <fui-table
    *ngIf="filterDate"
    [limit]="limit"
    [totalItems]="totalItems"
    [showInfo]="false"
    (onPageChanges)="onPageChanges($event)"
  >
    <fui-table-head>
      <input type="checkbox" [checked]="selectItem.length === 5" />
    </fui-table-head>
    <fui-table-head
      [ngStyle]="{ width: header === 'Description' ? '100%' : 'auto' }"
      *ngFor="let header of title"
    >
      <span class="header">{{ header }}</span>
    </fui-table-head>
    <fui-table-body *ngFor="let data of dateTimesheetFilter; let z = index">
      <fui-table-body-row>
        <fui-table-body-data>
          <input type="checkbox" />
        </fui-table-body-data>
        <fui-table-body-data class="row-date">{{
          data.date ? (data.date | date : "d MMMM yy") : ""
        }}</fui-table-body-data>
        <fui-table-body-data class="row-matter">
          <fui-badge [color]="'ghost'" [size]="'sizem'" [isBadgeIcon]="false">
            <div>{{ data.matter.matter }}</div>
          </fui-badge>
        </fui-table-body-data>
        <!-- Conditional false -->
        <fui-table-body-data *ngIf="showHideEditFilter[z]" class="row-duration">
          {{ data.description }}</fui-table-body-data
        >
        <fui-table-body-data
          *ngIf="showHideEditFilter[z]"
          class="row-duration"
          >{{ convertTimeToAngularFormat(data.duration) }}</fui-table-body-data
        >
        <!-- Conditional false -->
        <!-- Conditional true -->
        <fui-table-body-data
          *ngIf="!showHideEditFilter[z]"
          class="sub-row-description"
          ><div style="display: flex">
            <fui-combo-box
              style="margin-right: 5px; width: -webkit-fill-available"
              [invalid]="
                activitySearch.invalid &&
                (activitySearch.dirty || activitySearch.touched)
              "
              [message]="'Activity is required!'"
              [comboxForm]="activitySearch"
              [singleSelection]="true"
              [size]="'m'"
              [placeholder]="'Activity/verb'"
              [optionValue]="optionActivity"
              [selectedValue]="selectedActivity"
            />
            <fui-form-control-layout
              style="margin-right: 5px; width: -webkit-fill-available"
              class="description"
            >
              <fui-input-field
                [formControlField]="objectEventForm"
                [placeholder]="'object/event'"
                [type]="'text'"
                [size]="'m'"
                [invalid]="
                  objectEventForm.invalid &&
                  (objectEventForm.dirty || objectEventForm.touched)
                "
              >
                <fui-icons
                  *ngIf="
                    objectEventForm.invalid &&
                    (objectEventForm.dirty || objectEventForm.touched)
                  "
                  right-icon
                  [label]="'right'"
                  [icon]="'alert'"
                  [size]="'sizem'"
                  [color]="'danger'"
              /></fui-input-field>
              <fui-validator-field
                validator
                [message]="'Object/Event is required!'"
              />
            </fui-form-control-layout>
            <fui-date-picker
              style="margin-right: 5px"
              format="YYYY/DD/MM"
              [dateFormControl]="dateFormControl"
              [message]="'Date is required!'"
              [isInvalid]="
                dateFormControl.invalid &&
                (dateFormControl.dirty || dateFormControl.touched)
              "
            />
          </div>
        </fui-table-body-data>
        <fui-table-body-data
          *ngIf="!showHideEditFilter[z]"
          class="sub-row-duration"
        >
          <fui-time-selection
            [timeFormControl]="durationForm"
            [isInvalid]="
              durationForm.invalid &&
              (durationForm.dirty || durationForm.touched)
            "
            [message]="'Duration is required!'"
          />
        </fui-table-body-data>
        <!-- Conditional true -->
        <fui-table-body-data>
          <div class="wrap-action">
            <fui-button-icon
              *ngIf="showHideEditFilter[z]"
              (onClick)="toggleRowEditFilter(z, data)"
              [type]="'button'"
              [option]="'icon'"
              [style]="'secondary'"
              [size]="'m'"
              [color]="'primary'"
              [icon]="'pencil'"
              [iconSide]="'left'"
            />
            <fui-button-icon
              *ngIf="showHideEditFilter[z]"
              (onClick)="deleteConfirm(data.uuid)"
              [type]="'button'"
              [option]="'icon'"
              [style]="'secondary'"
              [size]="'m'"
              [color]="'danger'"
              [icon]="'trash'"
              [iconSide]="'left'"
            />
            <fui-button-icon
              (onClick)="updateTimesheet(z, z, data.uuid)"
              *ngIf="!showHideEditFilter[z]"
              [type]="'button'"
              [option]="'icon'"
              [style]="'secondary'"
              [size]="'m'"
              [color]="'success'"
              [icon]="'save'"
              [iconSide]="'left'"
            />
            <fui-button-icon
              *ngIf="!showHideEditFilter[z]"
              (onClick)="cancelRowEditFilter(z)"
              [type]="'button'"
              [option]="'icon'"
              [style]="'secondary'"
              [size]="'m'"
              [color]="'text'"
              [icon]="'cross'"
              [iconSide]="'left'"
            />
          </div>
        </fui-table-body-data>
      </fui-table-body-row>
    </fui-table-body>
  </fui-table>
  <!-- Table with filter -->

  <!-- Table without filter -->
  <div class="container-tb-no-filter" *ngIf="!filterDate">
    <fui-collapsible-nav-group
      *ngFor="let date of dateTimesheet; let i = index"
      [isCollapsed]="showHideData[i]"
    >
      <div header class="header-tb">
        <div class="left-tb">
          <span>
            <app-skeleton [active]="loading">
              {{ date.date | date : "d MMMM yy" }}
            </app-skeleton>
          </span>
          <app-skeleton [active]="loading" style="width: 100%">
            <fui-horizontal-stack
              class="{{ 0 === 0 ? 'invisible' : '' }}"
              [showPercentage]="false"
              [progress]="progress[i]"
            />
          </app-skeleton>
        </div>
        <div class="right-tb">
          <div class="duration">
            <app-skeleton [active]="loading">
              <fui-badge
                [color]="'ghost'"
                [size]="'sizem'"
                [isBadgeIcon]="true"
                [icon]="'clock'"
                [iconPosition]="'start'"
              >
                <div>
                  {{ calculateTotalDuration(date.data) }}
                </div>
              </fui-badge>
            </app-skeleton>
          </div>
          <div style="margin-left: 10px">
            <app-skeleton [active]="loading">
              <fui-button-icon
                [type]="'button'"
                [option]="'icon'"
                [style]="'secondary'"
                [size]="'m'"
                [color]="'text'"
                [icon]="showHideData[i] ? 'arrowDown' : 'arrowRight'"
                [iconSide]="'left'"
                (onClick)="toggleRow(i)"
              />
            </app-skeleton>
          </div>
        </div>
      </div>
      <div body>
        <fui-table
          *ngIf="date.data.length > 0"
          [limit]="limit"
          [totalItems]="totalItems"
          (onPageChanges)="onPageChanges($event)"
          [showInfo]="false"
          [pagination]="false"
        >
          @for (header of titleSub; track $index) {
          <fui-table-head
            [ngStyle]="{ width: header === 'Description' ? '100%' : 'auto' }"
          >
            <span class="header">{{ header }}</span>
          </fui-table-head>
          }
          <fui-table-body *ngFor="let data of date.data; let z = index">
            <fui-table-body-row>
              <fui-table-body-data
                class="sub-row-matter {{
                  data.tagEntityList.length > 0 ? 'tagged-cell' : ''
                }}"
              >
                <fui-badge
                  [color]="'ghost'"
                  [size]="'sizem'"
                  [isBadgeIcon]="false"
                >
                  <div style="margin-top: 2px">{{ data.matter.matter }}</div>
                </fui-badge>
              </fui-table-body-data>
              <fui-table-body-data
                *ngIf="showHideEdit[i][z]"
                class="sub-row-description {{
                  data.tagEntityList.length > 0 ? 'tagged-cell' : ''
                }}"
                ><div style="min-width: 200px; margin-right: 5px">
                  {{ data.description }}
                  <br />
                  <span class="tag-badge" *ngIf="data.tagEntityList.length > 0"
                    ><fui-icons
                      [icon]="'user'"
                      [size]="'sizes'"
                      [color]="'text'"
                    />
                    Tagged entry by {{ data.tagEntityList[0].tagBy }}</span
                  >
                </div>
              </fui-table-body-data>
              <fui-table-body-data
                *ngIf="showHideEdit[i][z]"
                class="sub-row-duration {{
                  data.tagEntityList.length > 0 ? 'tagged-cell' : ''
                }}"
              >
                <div>{{ convertTimeToAngularFormat(data.duration) }}</div>
              </fui-table-body-data>
              <fui-table-body-data
                *ngIf="!showHideEdit[i][z]"
                class="sub-row-description {{
                  data.tagEntityList.length > 0 ? 'tagged-cell' : ''
                }}"
                ><div style="display: flex; width: -webkit-fill-available">
                  <fui-combo-box
                    style="margin-right: 5px; width: -webkit-fill-available"
                    [invalid]="
                      activitySearch.invalid &&
                      (activitySearch.dirty || activitySearch.touched)
                    "
                    [message]="'Activity is required!'"
                    [comboxForm]="activitySearch"
                    [singleSelection]="true"
                    [size]="'m'"
                    [placeholder]="'Activity/verb'"
                    [optionValue]="optionActivity"
                    [selectedValue]="selectedActivity"
                  />
                  <fui-form-control-layout
                    style="margin-right: 5px; width: -webkit-fill-available"
                    class="description"
                  >
                    <fui-input-field
                      [formControlField]="objectEventForm"
                      [placeholder]="'object/event'"
                      [type]="'text'"
                      [size]="'m'"
                      [invalid]="
                        objectEventForm.invalid &&
                        (objectEventForm.dirty || objectEventForm.touched)
                      "
                    >
                      <fui-icons
                        *ngIf="
                          objectEventForm.invalid &&
                          (objectEventForm.dirty || objectEventForm.touched)
                        "
                        right-icon
                        [label]="'right'"
                        [icon]="'alert'"
                        [size]="'sizem'"
                        [color]="'danger'"
                    /></fui-input-field>
                    <fui-validator-field
                      validator
                      [message]="'Object/Event is required!'"
                    />
                  </fui-form-control-layout>
                  <fui-date-picker
                    style="margin-right: 5px; width: 100%"
                    format="YYYY/DD/MM"
                    [dateFormControl]="dateFormControl"
                    [message]="'Date is required!'"
                    [isInvalid]="
                      dateFormControl.invalid &&
                      (dateFormControl.dirty || dateFormControl.touched)
                    "
                  />
                </div>
              </fui-table-body-data>
              <fui-table-body-data
                *ngIf="!showHideEdit[i][z]"
                class="sub-row-duration {{
                  data.tagEntityList.length > 0 ? 'tagged-cell' : ''
                }}"
              >
                <fui-time-selection
                  [timeFormControl]="durationForm"
                  [isInvalid]="
                    durationForm.invalid &&
                    (durationForm.dirty || durationForm.touched)
                  "
                  [message]="'Duration is required!'"
                />
              </fui-table-body-data>
              <fui-table-body-data class="{{
                data.tagEntityList.length > 0 ? 'tagged-cell' : ''
              }}">
                <div
                  class="wrap-action {{
                    data.tagEntityList.length > 0 ? 'tagged-cell' : ''
                  }}"
                >
                  <fui-button-icon
                    *ngIf="showHideEdit[i][z]"
                    (onClick)="toggleRowEdit(i, z, data)"
                    [type]="'button'"
                    [option]="'icon'"
                    [style]="'secondary'"
                    [size]="'m'"
                    [color]="'primary'"
                    [icon]="'pencil'"
                    [iconSide]="'left'"
                  />
                  <fui-button-icon
                    *ngIf="showHideEdit[i][z]"
                    (onClick)="deleteConfirm(data.uuid)"
                    [type]="'button'"
                    [option]="'icon'"
                    [style]="'secondary'"
                    [size]="'m'"
                    [color]="'danger'"
                    [icon]="'trash'"
                    [iconSide]="'left'"
                  />
                  <fui-button-icon
                    (onClick)="updateTimesheet(i, z, data.uuid)"
                    *ngIf="!showHideEdit[i][z]"
                    [type]="'button'"
                    [option]="'icon'"
                    [style]="'secondary'"
                    [size]="'m'"
                    [color]="'success'"
                    [icon]="'save'"
                    [iconSide]="'left'"
                  />
                  <fui-button-icon
                    *ngIf="!showHideEdit[i][z]"
                    (onClick)="cancelRowEdit(i, z)"
                    [type]="'button'"
                    [option]="'icon'"
                    [style]="'secondary'"
                    [size]="'m'"
                    [color]="'text'"
                    [icon]="'cross'"
                    [iconSide]="'left'"
                  />
                </div>
              </fui-table-body-data>
            </fui-table-body-row>
          </fui-table-body>
        </fui-table>
        <p class="no-activity" *ngIf="date.data.length === 0">
          You don’t have any time recorded on this period.
        </p>
      </div>
    </fui-collapsible-nav-group>
    <app-skeleton [active]="loading">
      <app-empty-data [dataLength]="dateTimesheet.length" />
    </app-skeleton>
  </div>
  <!-- Table without filter -->
</app-skeleton>

<!-- Flyout -->
<fui-flyout
  [zIndex]="2"
  [open]="isOpenFlyout"
  [flyoutSize]="'s'"
  [flyoutPadding]="'s'"
>
  <fui-flyout-header (onCloseFlyout)="handleCloseFlyout()">
    <div class="header-flyout">
      <h2>Filter</h2>
    </div>
  </fui-flyout-header>
  <fui-flyout-body>
    <div class="flyout-body">
      <div class="form">
        <label for="desc" class="label">Date</label>
        <div class="time-description">
          <fui-date-range
            [startDateControl]="startDateForm"
            [endDateControl]="endDateForm"
            (onChangeStartDate)="changeStartDate($event)"
            (onChangeEndDate)="changeEndDate($event)"
          />
        </div>
        <span
          class="filter-valid"
          *ngIf="startDateForm.value === '' || endDateForm.value === ''"
        >
          Date range is required!
        </span>
        <span class="filter-valid" *ngIf="invalidStartEndDate()">
          the start date cannot exceed the end date!
        </span>
      </div>
      <div class="form">
        <label for="desc" class="label">Matter</label>
        <div class="time-description">
          <fui-combo-box
            [comboxForm]="searchMatter"
            [size]="'m'"
            [placeholder]="'Matter'"
            [optionValue]="optionMatter"
            [selectedValue]="selectedMatter"
            (selection)="selectionFilterMatter($event)"
          />
        </div>
      </div>
      <hr class="line-hr" />
      <div class="form">
        <label for="desc" class="label">Time Description</label>
        <div class="time-description">
          <fui-form-control-layout>
            <fui-input-field
              [formControlField]="descForm"
              [placeholder]="'Description'"
              [type]="'text'"
              [size]="'m'"
              [invalid]="false"
            />
          </fui-form-control-layout>
        </div>
      </div>
    </div>
  </fui-flyout-body>
  <fui-flyout-footer [isFlyoutFooterCustom]="true">
    <div class="footer-flyout">
      <fui-button-icon
        (onClick)="handleCloseFlyout()"
        [type]="'button'"
        [option]="'text'"
        [style]="'secondary'"
        [text]="'Cancel'"
        [size]="'m'"
        [color]="'text'"
      />
      <div class="footer-flyout-btn">
        <fui-button-icon
          (onClick)="clearFilters()"
          [type]="'button'"
          [option]="'text'"
          [style]="'secondary'"
          [text]="'Clear Filters'"
          [size]="'m'"
          [color]="'primary'"
        />
        <fui-button-icon
          [type]="'button'"
          [disabled]="
            startDateForm.value === '' ||
            endDateForm.value === '' ||
            invalidStartEndDate()
          "
          [option]="'iconText'"
          [style]="'filled'"
          [text]="'Apply Filter'"
          [size]="'m'"
          [color]="
            startDateForm.value === '' ||
            endDateForm.value === '' ||
            invalidStartEndDate()
              ? 'disabled'
              : 'primary'
          "
          [icon]="'filter'"
          [iconSide]="'left'"
          (onClick)="filterFind(page, limit)"
        />
      </div>
    </div>
  </fui-flyout-footer>
</fui-flyout>
<!-- Flyout -->

<!-- modal -->
<fui-modal [open]="isModalOpen">
  <fui-modal-header (onCloseModal)="handleCloseModal()">
    <div class="title-modal">
      <h1>Move Time</h1>
    </div>
  </fui-modal-header>
  <fui-modal-body>
    <div class="modal">
      <p>
        This will move time of selected member to a new matter for the same
        dates. The original matter will no longer have this time.
      </p>

      <div class="matter-search">
        <div class="flex">
          <input type="checkbox" />
          <p>Do not show sub-matter</p>
        </div>
        <fui-combo-box
          [leftIcon]="'search'"
          [comboxForm]="searchMatter"
          [size]="'m'"
          [placeholder]="'Search by Number, Project, Client'"
          [singleSelection]="true"
          [optionValue]="optionMatter"
          [selectedValue]="selectedMatter"
          (selection)="selectionFilterMatter($event)"
        />
      </div>
    </div>
  </fui-modal-body>
  <fui-modal-footer [isCustomModalFooter]="true">
    <div class="title-modal foot">
      <fui-button-icon
        class="create-btn"
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="'Cancel'"
        [style]="'secondary'"
        [color]="'text'"
      />
      <fui-button-icon
        class="create-btn"
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="'Move Timesheet'"
        [style]="'filled'"
        [color]="'primary'"
      />
    </div>
  </fui-modal-footer>
</fui-modal>

<!-- Modal Delete -->
<fui-modal [open]="isModalDelete">
  <fui-modal-header (onCloseModal)="handleCloseModal()">
    <div class="title-modal">
      <h3>Delete Confirmation?</h3>
    </div>
  </fui-modal-header>
  <fui-modal-body>
    <div class="modal">
      <p>This data will be permanently deleted. Do you want to continue?</p>
    </div>
  </fui-modal-body>
  <fui-modal-footer [isCustomModalFooter]="true">
    <div class="title-modal foot">
      <fui-button-icon
        (onClick)="cancelDelete()"
        class="create-btn"
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="'Cancel'"
        [style]="'secondary'"
        [color]="'text'"
      />
      <fui-button-icon
        (onClick)="deleteTimesheet(uuidDelete)"
        class="create-btn"
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="'Delete'"
        [style]="'filled'"
        [color]="'danger'"
      />
    </div>
  </fui-modal-footer>
</fui-modal>
<!-- modal -->
<fui-toast></fui-toast>
