@import "../my-timesheet.component.scss";

.container-table {
  margin-top: 30px;
}

.mb-15 {
  margin: 15px 0px;
  display: block;
}

.hour-minute {
  margin: 0px 10px;
}

/** Footer Flyout Config */
.footer-flyout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  .group-flex {
    display: flex;
    fui-button-icon {
      margin-right: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

/** Form Config */
.form {
  margin-bottom: 15px;
  fui-text {
    margin-bottom: 5px;
    display: flex;
  }
}
.filter-valid {
  display: flex;
  font-size: small;
  color: var(--fuiColorDanger, $fuiColorDanger);
  margin-top: 8px;
  fui-icons {
    margin-right: 4px;
  }
}
.line-hr {
  border-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  margin: 30px 0px;
}

.overlow-x {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  .wrap {
    width: 100%;
  }
}
