<fui-flyout [openFlyout]="isOpenFlyout" (overlayOut)="toggleCloseFlyout()">
  <fui-flyout-header (closeOut)="toggleCloseFlyout()">
    <div class="header-flyout">
      <fui-text [size]="'l'" [weight]="'semibold'">{{ titleFlyout }}</fui-text>
    </div>
  </fui-flyout-header>
  <fui-flyout-body>
    <div class="flyout-body">
      <!-- BODY -->
      <ng-content select="[body]"></ng-content>
      <!-- BODY -->
    </div>
  </fui-flyout-body>
  <fui-flyout-footer>
    <!-- FOOTER -->
    <ng-content select="[footer]"></ng-content>
    <!-- FOOTER -->
  </fui-flyout-footer>
</fui-flyout>
