@import "../all-matter.component.scss";

.card-all-matter {
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  padding: 20px;
  border-radius: 8px;
  .title {
    margin: 10px 0px;
  }
  .sub-title {
    margin: 25px 0px;
    font-size: large;
  }
  .status {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 5px;
  }

  .row-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
  }
  .row-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .column {
    display: flex;
    flex-direction: column;
    .item {
      // height: 75px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      .flex {
        margin-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
        fui-icons {
          margin-right: 5px;
        }
      }
    }
    &.mr-20 {
      margin-right: 20px;
    }
  }
}

/** Add On */
.partner {
  display: flex;
  flex-direction: column;
  margin: 3px 30px 8px 0px;
  fui-text {
    margin: 3px 0px;
  }
}
.btn-show {
  width: fit-content;
  outline: none;
  border: 0;
  background-color: transparent;
  color: var(--fuiBtnPrimaryText, $fuiBtnPrimaryText);
  padding: 0;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &.danger {
    color: var(--fuiBtnDangerText, $fuiBtnDangerText);
  }
}

.mr-10 {
  margin-right: 10px;
}

.vertical-line {
  width: 2px;
  height: 75px;
  background-color: var(--fuiColorLightShade, $fuiColorLightShade);
  margin: 0px 20px;
}

hr {
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
  border-style: solid;
}

@media (max-width: 1000px) {
  .vertical-line {
    display: none;
  }
}
