<div class="card-all-matter p-30 border-radius-10 bg-LightestShade">
  <div class="flex flex-wrap gap-5">
    <fui-badge [color]="'hollow'" [size]="'s'" [text]="'Billable'" />
    <fui-badge [color]="'hollow'" [size]="'s'" [text]="'Hourly'" />
    <fui-badge [color]="'success'" [size]="'s'" [text]="'Active'" />
    <fui-badge
      [color]="'hollow'"
      [iconShow]="true"
      [icon]="'timeRefresh'"
      [size]="'s'"
      [text]="'3 Jan 24'" />
  </div>
  <div class="my-20">
    <fui-text [weight]="'bold'" [size]="'xl'">3536 HIPAA Business Associate
      Agreement</fui-text>
  </div>
  <div class="my-20">
    <fui-text>Photo Relase Form</fui-text>
  </div>

  <!-- ROW  -->
  <div class="grid grid-custom gap-20">
    <!-- PARTNER ITEM  -->
    <div class="flex flex-column gap-5">
      <div class="flex gap-5">
        <fui-icons [icon]="'user'" />
        <fui-text>Partner</fui-text>
      </div>
      <fui-text class="flex flex-col my-5" [weight]="'semibold'">Brooklyn
        Simmons</fui-text>
        <button type="button" class="custom-button">Show matter members</button>
    </div>
    <!-- PARTNER ITEM  -->

    <!-- PRACTICE GROUP ITEM  -->
    <div class="flex flex-column gap-5">
      <fui-text>Practice Group</fui-text>
      <fui-text [weight]="'semibold'">Banking and
        Finance</fui-text>
    </div>
    <!-- PRACTICE GROUP ITEM  -->

    <!-- MATTER TYPE ITEM  -->
    <div class="flex flex-column gap-5">
      <fui-text>Matter Type</fui-text>
      <fui-text [weight]="'semibold'">Banking and
        Finance</fui-text>
    </div>
    <!-- MATTER TYPE ITEM  -->

    <!-- PRACTICE AREA ITEM  -->
    <div class="flex flex-column gap-5">
      <fui-text>Parctice Area</fui-text>
      <fui-text [weight]="'semibold'">Financial
        Technology</fui-text>
    </div>
    <!-- PRACTICE AREA ITEM  -->

    <!-- CLIENT NAME ITEM  -->
    <div class="flex flex-column gap-5">
      <fui-text>Client Name (3)</fui-text>
      <div class="flex flex-column gap-5">
        <fui-text class [weight]="'semibold'">Ome - Omega
          Corporation</fui-text>
        <fui-text class [weight]="'semibold'">Base - Base
          Corporation</fui-text>
      </div>
      <button type="button" class="custom-button">Show more</button>
    </div>
    <!-- CLIENT NAME ITEM  -->

    <!-- PAYING ENTITY ITEM  -->
    <div class="flex flex-column gap-5">
      <fui-text>Paying Entity (3)</fui-text>
      <fui-text class [weight]="'semibold'">Base - Base
        Corporation</fui-text>
    </div>
    <!-- PAYING ENTITY ITEM  -->

    <!-- ATTACHEMENT ITEM  -->
    <div class="flex flex-column gap-5">
      <div class="flex gap-5">
        <fui-icons [icon]="'document'" />
        <fui-text>Attachments</fui-text>
      </div>
      <fui-text class [weight]="'semibold'">Base - Base
        Corporation</fui-text>
        <button type="button" class="custom-button">Show attachments</button>
    </div>
    <!-- ATTACHEMENT ITEM  -->
  </div>
  <!-- ROW  -->

  <div class="my-30">
    <hr />
  </div>

  <div class="flex gap-10 justify-between-custom">

    <!-- Matter Value  -->
    <div class="flex flex-column gap-20">
      <fui-text [weight]="'semibold'">Matter Value</fui-text>
      <div class="grid grid-custom gap-10">
        <div class="flex flex-column gap-5">
          <fui-text [textWrap]="'nowrap'">Estimated Fee</fui-text>
          <fui-text [weight]="'semibold'" [textWrap]="'nowrap'">USD
            80.17</fui-text>
        </div>
        <div class="flex flex-column gap-5">
          <fui-text [textWrap]="'nowrap'">Total Timesheet</fui-text>
          <fui-text [weight]="'semibold'" [textWrap]="'nowrap'">USD
            9,636.67</fui-text>
        </div>
        <div class="flex flex-column gap-5">
          <fui-text [textWrap]="'nowrap'">Expense</fui-text>
          <fui-text [weight]="'semibold'" [textWrap]="'nowrap'">USD
            80.17</fui-text>
        </div>
        <div class="flex flex-column gap-5">
          <fui-text [textWrap]="'nowrap'">Overlimit</fui-text>
          <fui-text [weight]="'semibold'" [textWrap]="'nowrap'">USD
            80.17</fui-text>
        </div>
      </div>
    </div>
    <!-- Matter Value  -->

    <div class="vertical-line"></div>

    <!-- Collection Status  -->
    <div class="flex flex-column gap-20">
      <fui-text [weight]="'semibold'">Collection Status</fui-text>
      <div class="grid grid-custom gap-10">
        <div class="flex flex-column gap-5">
          <fui-text [textWrap]="'nowrap'">Unbilled</fui-text>
          <fui-text [weight]="'semibold'">USD 80.17</fui-text>
        </div>
        <div class="flex flex-column gap-5">
          <fui-text [textWrap]="'nowrap'">Awaiting Payment</fui-text>
          <fui-text [weight]="'semibold'">USD 9,636.67</fui-text>
        </div>
        <div class="flex flex-column gap-5">
          <fui-text [textWrap]="'nowrap'">Collected</fui-text>
          <fui-text [weight]="'semibold'">USD 80.17</fui-text>
        </div>
      </div>
    </div>
    <!-- Collection Status  -->
  </div>

  <div class="my-30">
    <hr />
  </div>

  <div class="flex flex-wrap flex-between gap-10">
    <fui-button-icon [fullWidth]="'fit'" [color]="'primary'" [type]="'button'"
      [option]="'text'"
      [style]="'empty'" [text]="'Information'" (onClick)="navigateToDetail()" />
    <div class="flex gap-5">
      <fui-button-icon [fullWidth]="'fit'" [color]="'danger'" [type]="'button'"
        [option]="'text'"
        [style]="'empty'" [text]="'Create Folder'" />
      <fui-button-icon [fullWidth]="'fit'" [color]="'danger'" [type]="'button'"
        [option]="'text'"
        [style]="'empty'" [text]="'Delete'" />
    </div>
  </div>
</div>
