<div class="card-all-matter">
  <div class="status">
    <fui-badge [color]="'hollow'" [size]="'s'" [text]="'Billable'" />
    <fui-badge [color]="'hollow'" [size]="'s'" [text]="'Hourly'" />
    <fui-badge [color]="'success'" [size]="'s'" [text]="'Active'" />
    <fui-badge
      [color]="'hollow'"
      [iconShow]="true"
      [icon]="'timeRefresh'"
      [size]="'s'"
      [text]="'3 Jan 24'"
    />
  </div>
  <h2 class="title">3536 HIPAA Business Associate Agreement</h2>
  <p class="sub-title">Photo Relase Form</p>

  <!-- ROW  -->
  <div class="row">
    <!-- COLUMN  -->
    <div class="column">
      <!-- PARTNER ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-icons [icon]="'user'" />
          <fui-text>Partner</fui-text>
        </div>
        <fui-text class="partner" [weight]="'semibold'"
          >Brooklyn Simmons</fui-text
        >
        <button class="btn-show">Show matter members</button>
      </div>
      <!-- PARTNER ITEM  -->

      <!-- CLIENT NAME ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-text>Client Name (3)</fui-text>
        </div>
        <div class="partner">
          <fui-text class="" [weight]="'semibold'"
            >Ome - Omega Corporation</fui-text
          >
          <fui-text class="" [weight]="'semibold'"
            >Base - Base Corporation</fui-text
          >
        </div>
        <button class="btn-show">Show more</button>
      </div>
      <!-- CLIENT NAME ITEM  -->
    </div>
    <!-- COLUMN  -->

    <!-- COLUMN  -->
    <div class="column">
      <!-- PRACTICE GROUP ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-text>Practice Group</fui-text>
        </div>
        <fui-text class="partner" [weight]="'semibold'"
          >Banking and Finance</fui-text
        >
      </div>
      <!-- PRACTICE GROUP ITEM  -->

      <!-- PAYING ENTITY ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-text>Paying Entity (3)</fui-text>
        </div>
        <div class="partner">
          <fui-text class="" [weight]="'semibold'"
            >Base - Base Corporation</fui-text
          >
        </div>
      </div>
      <!-- PAYING ENTITY ITEM  -->
    </div>
    <!-- COLUMN  -->

    <!-- COLUMN  -->
    <div class="column">
      <!-- MATTER TYPE ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-text>Matter Type</fui-text>
        </div>
        <fui-text class="partner" [weight]="'semibold'"
          >Banking and Finance</fui-text
        >
      </div>
      <!-- MATTER TYPE ITEM  -->

      <!-- ATTACHEMENT ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-icons [icon]="'document'" />
          <fui-text>Attachments</fui-text>
        </div>
        <div class="partner">
          <fui-text class="" [weight]="'semibold'"
            >Base - Base Corporation</fui-text
          >
        </div>
        <button class="btn-show">Show attachments</button>
      </div>
      <!-- ATTACHEMENT ITEM  -->
    </div>
    <!-- COLUMN  -->

    <!-- COLUMN  -->
    <div class="column">
      <!-- PRACTICE AREA ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-text>Parctice Area</fui-text>
        </div>
        <fui-text class="partner" [weight]="'semibold'"
          >Financial Technology</fui-text
        >
      </div>
      <!-- PRACTICE AREA ITEM  -->
    </div>
    <!-- COLUMN  -->
  </div>
  <!-- ROW  -->
  <hr />

  <!-- ROW  -->
  <div class="row-start">
    <!-- COLUMN  -->
    <div class="column mr-20">
      <!-- PRACTICE AREA ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-text [weight]="'semibold'">Matter Value</fui-text>
        </div>
        <div class="flex">
          <div class="partner">
            <fui-text>Estimated Fee</fui-text>
            <fui-text>USD 80.17</fui-text>
          </div>
          <div class="partner">
            <fui-text>Total Timesheet</fui-text>
            <fui-text>USD 9,636.67</fui-text>
          </div>
          <div class="partner">
            <fui-text>Expense</fui-text>
            <fui-text>USD 80.17</fui-text>
          </div>
          <div class="partner">
            <fui-text>Overlimit</fui-text>
            <fui-text>USD 80.17</fui-text>
          </div>
        </div>
      </div>
      <!-- PRACTICE AREA ITEM  -->
    </div>
    <!-- COLUMN  -->

    <div class="vertical-line"></div>

    <!-- COLUMN  -->
    <div class="column mr-20">
      <!-- PRACTICE AREA ITEM  -->
      <div class="item">
        <div class="flex">
          <fui-text [weight]="'semibold'">Collection Status</fui-text>
        </div>
        <div class="flex">
          <div class="partner">
            <fui-text>Unbilled</fui-text>
            <fui-text>USD 80.17</fui-text>
          </div>
          <div class="partner">
            <fui-text>Awaiting Payment</fui-text>
            <fui-text>USD 9,636.67</fui-text>
          </div>
          <div class="partner">
            <fui-text>Collected</fui-text>
            <fui-text>USD 80.17</fui-text>
          </div>
        </div>
      </div>
      <!-- PRACTICE AREA ITEM  -->
    </div>
    <!-- COLUMN  -->
  </div>
  <!-- ROW  -->
  <hr />
  <div class="row-foot">
    <button class="btn-show" (click)="navigateToDetail()">Information</button>
    <div>
      <button class="btn-show danger mr-10">Create Folder</button>
      <button class="btn-show danger">Delete</button>
    </div>
  </div>
</div>
