@import "../all-matter.component.scss";

.grid-custom {
  grid-template-columns: repeat(4, 1fr);
}
.grid-custom-2 {
  grid-template-columns: repeat(2, 1fr);
}

.justify-between-custom {
  justify-content: start;
}

.custom-button {
  padding: 0;
  outline: none;
  width: fit-content;
  border: none;
  background-color: transparent;
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.vertical-line {
  width: 2px;
  height: 75px;
  background-color: var(--fuiColorLightShade, $fuiColorLightShade);
  margin: 0px 20px;
}

hr {
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
  border-style: solid;
}

@media (max-width: 1000px) {
  .justify-between-custom {
    justify-content: space-between;
  }
  .grid-custom {
    grid-template-columns: repeat(1, 1fr);
  }
  .vertical-line {
    display: none;
  }
}
