@import "../all-matter.component.scss";

.card-all-matter {
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 8px;
}

.vertical-line {
  width: 2px;
  height: 75px;
  background-color: var(--fuiColorLightShade, $fuiColorLightShade);
  margin: 0px 20px;
}

hr {
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
  border-style: solid;
}

@media (max-width: 1000px) {
  .vertical-line {
    display: none;
  }
}
