<div class="input-activity">
  <div class="container">
    <div class="sub-container">
      <div class="form">
        <p class="title-mb">Fee Earner</p>
        <fui-form-control-layout class="full-width mr-10">
          <fui-input-field
            [type]="'text'"
            [invalid]="false"
            [size]="'m'"
            [placeholder]="'Search name'"
          >
            <fui-icons
              left-icon
              [color]="'text'"
              [icon]="'search'"
              [size]="'sizem'"
            />
          </fui-input-field>
        </fui-form-control-layout>
      </div>

      <div class="form combo-box">
        <p class="title">What did you do?</p>
        <div class="input">
          <fui-combo-box
            [invalid]="false"
            [message]="'Activity is required!'"
            [singleSelection]="true"
            [size]="'m'"
            [placeholder]="'Activity/verb'"
            [optionValue]="[]"
            [selectedValue]="[]"
          />
        </div>
      </div>
      <div class="form">
        <p class="title" style="visibility: hidden">What did you do?</p>
        <div class="input">
          <fui-form-control-layout class="full-width mr-10">
            <fui-input-field
              [type]="'text'"
              [invalid]="false"
              [size]="'m'"
              [placeholder]="'object/event'"
            >
            </fui-input-field>
          </fui-form-control-layout>
        </div>
      </div>
      <div class="form">
        <p class="title" style="visibility: hidden">What did you do?</p>
        <div class="input">
          <fui-form-control-layout class="full-width mr-10">
            <fui-input-field
              [type]="'text'"
              [invalid]="false"
              [size]="'m'"
              [placeholder]="'topics'"
            >
            </fui-input-field>
          </fui-form-control-layout>
        </div>
      </div>
      <div class="form">
        <p class="title" style="visibility: hidden">What did you do?</p>
        <div class="input">
          <fui-form-control-layout class="full-width mr-10">
            <fui-input-field
              [type]="'text'"
              [invalid]="false"
              [size]="'m'"
              [placeholder]="'additional description'"
            >
            </fui-input-field>
          </fui-form-control-layout>
        </div>
      </div>
    </div>

    <div class="sub-container">
      <div class="form matter">
        <div class="lock-wrap">
          <span class="title">Which matter?</span>
          <div class="checkbox">
            <input type="checkbox" />
            <span class="title">Lock</span>
          </div>
        </div>
        <div class="input">
          <fui-combo-box
            [leftIcon]="'search'"
            [invalid]="false"
            [message]="'Matter is required!'"
            [singleSelection]="true"
            [size]="'m'"
            [placeholder]="'by Number, Project, Client'"
            [optionValue]="[]"
            [selectedValue]="[]"
          />
        </div>
      </div>
      <div class="form matter">
        <div class="lock-wrap">
          <span class="title">Date</span>
          <div class="checkbox">
            <input type="checkbox" />
            <span class="title">Lock</span>
          </div>
        </div>
        <div class="input">
          <fui-date-picker
            format="YYYY/DD/MM"
            [message]="'Date is required!'"
          />
        </div>
      </div>
      <div class="form duration">
        <span class="title">Duration</span>
        <div class="input">
          <fui-time-selection [message]="'Duration is required!'" />
        </div>
      </div>
    </div>
  </div>
  <fui-button-icon
    [size]="'m'"
    [type]="'button'"
    [option]="'iconText'"
    [text]="'Add Timesheet'"
    [style]="'filled'"
    [color]="'primary'"
    [icon]="'plusInCircleFilled'"
  />
</div>
<fui-toast />
