@import "../../detail-matter.component.scss";

.input-activity {
  height: fit-content;
  display: grid;
}

.container {
  width: 100%;
  .sub-container {
    display: flex;
    margin-top: 5px;
    align-items: end;
    &:last-child {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.checkbox {
  align-items: center;
  display: flex;
}
input {
  margin-right: 5px;
}
.title {
  font-size: small;
}
.title-mb {
  font-size: small;
  margin-bottom: 5px;
}
.input {
  margin-top: 5px;
}

.lock-wrap {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 350px;
}

.form {
  margin-right: 15px;
  width: -webkit-fill-available;
  align-self: baseline;
  &:last-child {
    margin-right: 0px;
  }
}

.create-btn {
  margin-bottom: 2px;
}

.create-btn-min {
  display: none;
}

fui-date-picker {
  border: none;
}
.mention-selector {
  margin: 5px 0px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
