@import "../history-activity.component.scss";
.header-tb {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--fuiColorLightShade, $fuiColorLightShade);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--fuiColorLightShade, $fuiColorLightShade);

  &.first {
    border-bottom-width: 0px;
  }
}

hr {
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
}

.tag-bg {
  background-color: var(--fuiWarningSecondary, $fuiWarningSecondary);
}

.white-bg {
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 3px;
}

.min {
  &-w-100 {
    min-width: 100px;
  }
  &-w-200 {
    min-width: 200px;
  }
}
.w-50 {
  width: 50px;
}
