<div class="mt-20">
  <fui-collapsible-nav-group
    *ngFor="let day of dataTimesheetPerday; let i = index"
    [isCollapsed]="day.show"
  >
    <div
      class="header-tb"
      [ngClass]="[day.show === true ? 'first' : '']"
      header
    >
      <fui-text [textWrap]="'nowrap'" style="min-width: 100px"
        >{{ day.date | date : "EEE" }},
        {{ day.date | date : "d MMM" }}</fui-text
      >
      <fui-horizontal-stack style="min-width: 200px;"
        *ngIf="day.data.length > 0"
        [showPercentage]="'none'"
        [progress]="[
          {
            percentage: calculateTotalDurationTagPercent(day.data)
              .untaggedPercentage,
            color: 'primary'
          },
          {
            percentage: calculateTotalDurationTagPercent(day.data)
              .remainingPercentage,
            color: 'disabled'
          },
          {
            percentage: calculateTotalDurationTagPercent(day.data)
              .taggedPercentage,
            color: 'warning'
          }
        ]"
      />
      <div class="right-util">
        <fui-badge
          [size]="'s'"
          [color]="'hollow'"
          [text]="calculateTotalDurationTag(day.data).untaggedDuration"
        />
        <fui-badge
          *ngIf="calculateTotalDurationTag(day.data).taggedDuration !== '0h 0m'"
          [color]="'warning'"
          [size]="'s'"
          [text]="calculateTotalDurationTag(day.data).taggedDuration"
          [iconShow]="true"
          [icon]="'questionInCircle'"
        />
        <fui-button-icon
          [type]="'button'"
          [option]="'icon'"
          [color]="'text'"
          [fullWidth]="'fit'"
          [icon]="day.show ? 'arrowDown' : 'arrowRight'"
          [style]="'empty'"
          (onClick)="day.show = !day.show"
        />
      </div>
    </div>

    <div body>
      <fui-table
        *ngIf="day.data.length > 0"
        [limit]="0"
        [totalItems]="0"
        [showInfo]="false"
        [pagination]="false"
      >
        <fui-table-head style="width: 50px">
          <input
            type="checkbox"
            [(ngModel)]="day.selectAll"
            [checked]="day.selectAll"
            (change)="toggleSelectAll(day.selectAll, day.data)"
          />
        </fui-table-head>
        <fui-table-head *ngFor="let header of headerTable">
          {{ header }}
        </fui-table-head>
        <fui-table-body *ngFor="let data of day.data">
          <fui-table-body-row [ngClass]="[data.pending ? 'tag-bg' : '']">
            <fui-table-body-data style="width: 50px; min-width: 50px">
              <input
                type="checkbox"
                [disabled]="data.pending"
                [checked]="timesheetSelected.includes(data)"
                (change)="toggleSelectTimesheet(data, i, day.data)"
              />
            </fui-table-body-data>
            <fui-table-body-data>
              <fui-badge
                [text]="data.matter.matter"
                [weight]="'semibold'"
                class="white-bg"
                [color]="'hollow'"
              />
            </fui-table-body-data>
            <fui-table-body-data>
              <fui-text>{{ data.description }}</fui-text>
              <fui-badge
                style="margin-top: 8px; display: flex"
                *ngIf="data.pending"
                [weight]="'semibold'"
                [iconShow]="true"
                [icon]="'user'"
                [size]="'s'"
                [color]="'hollow'"
                class="white-bg"
                [weight]="'semibold'"
                [text]="data.tagBy"
              />
            </fui-table-body-data>
            <fui-table-body-data>
              <fui-text>{{
                convertTimeToAngularFormat(data.duration)
              }}</fui-text>
            </fui-table-body-data>
            <fui-table-body-data>
              <div class="flex-btn">
                <fui-button-icon
                  [type]="'button'"
                  [option]="'icon'"
                  [color]="'primary'"
                  [style]="'secondary'"
                  [fullWidth]="'fit'"
                  [icon]="'pencil'"
                  (onClick)="
                    toggleEditDeleteTimesheet(
                      data.pending ? 'editTag' : 'edit',
                      data
                    )
                  "
                />
                <fui-button-icon
                  *ngIf="!data.pending"
                  [type]="'button'"
                  [option]="'icon'"
                  [color]="'danger'"
                  [style]="'secondary'"
                  [fullWidth]="'fit'"
                  [icon]="'trash'"
                  (onClick)="toggleEditDeleteTimesheet('delete', data)"
                />
              </div>
            </fui-table-body-data>
          </fui-table-body-row>
        </fui-table-body>
      </fui-table>
      <fui-text
        style="margin: 10px 0px; display: flex"
        *ngIf="day.data.length === 0"
        [size]="'s'"
        [color]="'text'"
        [fwStyle]="'italic'"
        >You don't have any time recorded for this period.</fui-text
      >
    </div>
  </fui-collapsible-nav-group>
</div>
