<shared-flyout-simple
  [isOpenFlyout]="isOpenFlyoutContactPerson"
  [titleFlyout]="'Add Contact'"
  (closeOut)="openFlyoutContactPerson()"
>
  <div body>
    <!-- STACKHOLDER  -->
    <div class="form-control">
      <fui-text class="label"> Stackholder </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [placeholder]="'Please select stackholder'"
          [invalid]="false"
          [selectOptions]="[]"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- STACKHOLDER  -->

    <!-- NAME  -->
    <div class="form-control">
      <fui-text class="label"> Name </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'Contact Name'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- NAME  -->

    <!-- EMAIL  -->
    <div class="form-control">
      <fui-text class="label"> Email </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'e.g example@mail.com'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- EMAIL  -->

    <!-- PHONE NUMBER  -->
    <div class="form-control">
      <fui-text class="label"> Phone Number </fui-text>
      <fui-form-control-layout>
        <fui-prepend> FLAG </fui-prepend>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'+62'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- PHONE NUMBER  -->

    <hr />

    <!-- POSITION TYPE  -->
    <div class="form-control mt-20">
      <fui-text class="label"> Position Type </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [placeholder]="'Please position type'"
          [invalid]="false"
          [selectOptions]="[]"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- POSITION TYPE  -->

    <!-- POSITION TITLE  -->
    <div class="form-control">
      <fui-text class="label"> Position Title </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'Person position title'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- POSITION TITLE  -->

    <!-- DEPARTMENT  -->
    <div class="form-control">
      <fui-text class="label"> Departement </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'Person departement'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- DEPARTMENT  -->
  </div>
  <div footer class="flex-between footer-fly">
    <fui-button-icon
      (onClick)="openFlyoutContactPerson()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Cancel'"
    />
    <fui-button-icon
      (onClick)="openFlyoutContactPerson()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'filled'"
      [option]="'text'"
      [text]="'Add Other Stackholder'"
    />
  </div>
</shared-flyout-simple>
