@import "../../app.component.scss";

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.utility {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
  gap: 10px;
}
.utility-2 {
  margin-top: 20px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  gap: 10px;
}

.card {
  margin-top: 30px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  padding: 16px;
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .utility {
    flex-direction: column;
    align-items: start;
  }
  .utility-2 {
    flex-direction: column;
    align-items: start;
    .overflow {
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      padding-bottom: 5px;
    }
  }
}
