.flex-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-sub-custom {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile {
  display: none;
}

@media (max-width: 1000px) {
  .flex-custom {
    display: block;
  }
  .flex-sub-custom {
    margin-bottom: 15px;
    justify-content: space-between;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
