@import "../history-activity.component.scss";

/** Utility Style */
.utility {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.utility.last {
  margin-bottom: 30px;
}
.sub-utility {
  display: flex;
  align-items: center;
  .date-duration {
    display: flex;
    align-items: center;
    fui-text {
      margin: 0px 10px;
    }
    fui-icons {
      &:hover {
        cursor: pointer;
      }
    }
    .date {
      font-weight: bold;
      margin: 3px 10px 0px 0px;
      text-wrap: balance;
    }
  }
  .text {
    margin-right: 15px;
  }
  .clear-all {
    color: var(--fuiColorPrimary, $fuiColorPrimary);
    margin-right: 15px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .badge-filter {
    margin-right: 5px;
  }
}

/** Flyout Config */
.header-flyout {
  padding: 15px;
}
.flyout-body {
  padding: 15px;
}
.form {
  margin-bottom: 15px;
}
.line-hr {
  border-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  margin: 20px 0px 20px 0px;
}
.time-description {
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-flyout {
  padding: 10px;
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  .footer-flyout-btn {
    width: -webkit-fill-available;
    justify-content: end;
    display: flex;
    fui-button-icon {
      margin: 0px 0px 0px 10px;
    }
  }
}
.filter-valid {
  display: flex;
  font-size: small;
  color: var(--fuiColorDanger, $fuiColorDanger);
  margin-top: 8px;
  fui-icons {
    margin-right: 4px;
  }
}

.duration {
  margin-left: 10px;
  fui-badge {
    .content {
      margin-top: 3px;
    }
  }
}

.tootips {
  margin: 5px 0px;
  &:last-child {
    margin: 0px;
  }
}

.label {
  font-size: smaller;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fui-button-icon {
    &:last-child {
      margin-left: 10px;
    }
  }
}
