@import "../../app.component.scss";

.card {
  padding: 25px 30px 25px 30px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 5px;
  margin: 10px 15px 0px 0px;
}

.mt-20 {
  margin-top: 20px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.form-control {
  margin-bottom: 20px;
  .label {
    margin-bottom: 5px;
    display: flex;
  }
}
.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}
.flex-between-f {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
