<shared-page-generic-default
  [title]="'Position'"
  [description]="'Available position for employee'"
  [breadcrums]="link">
  <fui-form-control-layout formsearch>
    <fui-input-field
      [type]="'text'"
      [placeholder]="'Search...'"
      [size]="'m'"
      [invalid]="false">
      <fui-icons
        left-icon
        [label]="'left'"
        [icon]="'search'"
        [size]="'sizem'"
        [color]="'text'" />
    </fui-input-field>
  </fui-form-control-layout>

  <fui-button-icon
    cta
    [type]="'button'"
    [option]="'iconText'"
    [icon]="'plus'"
    [text]="'Add Position'"
    [size]="'m'"
    (onClick)="toggleOpenFlyout('create', true)" />

  <!-- DATA AVAILABLE  -->
  <fui-table-tree
    *ngIf="dataPosition.length > 0"
    content
    [limit]="limit"
    [totalItems]="totalItems"
    [showInfo]="false"
    [pagination]="true"
    (onPageChanges)="onPageChanges($event)">
    <!-- HEADER  -->
    <fui-table-head-tree
      *ngFor="let item of title; let i = index"
      [fieldName]="item"
      [sortFeature]="item !== ''"
      [utils]="{
        index: i,
        dataLength: title.length,
        action: true,
        activeField: sortData ? sortData.fieldName : ''
      }"
      (sortOut)="toggleSort($event)">
      <fui-text [textWrap]="'nowrap'" [weight]="'semibold'">{{ item }}</fui-text>
    </fui-table-head-tree>
    <!-- HEADER  -->

    <!-- LEVEL 1  -->
    <ng-container *ngFor="let item of dataPosition">
      <fui-table-row-tree>
        <fui-table-data-tree [showDropIcon]="false">
          <div class="flex">
            <fui-icons *ngIf="item.lock" [icon]="'lock'" [size]="'sizes'" />
            <fui-text [textWrap]="'nowrap'"> {{ item.name }} </fui-text>
          </div>
        </fui-table-data-tree>
        <fui-table-data-tree [showDropIcon]="false">
          <fui-text [textWrap]="'nowrap'"> {{ item.level }} </fui-text>
        </fui-table-data-tree>
        <fui-table-data-tree [showDropIcon]="false">
          <fui-button-icon
            [disabled]="item.lock"
            [fullWidth]="'fit'"
            [type]="'button'"
            [style]="'secondary'"
            [option]="'icon'"
            [color]="item.lock ? 'disabled' : 'primary'"
            [icon]="'pencil'"
            [size]="'s'"
            (onClick)="toggleOpenFlyout('update', true)"></fui-button-icon>
          <fui-button-icon
            [disabled]="item.lock"
            [fullWidth]="'fit'"
            [color]="item.lock ? 'disabled' : 'danger'"
            [type]="'button'"
            [style]="'secondary'"
            [option]="'icon'"
            [icon]="'trash'"
            [size]="'s'"
            (onClick)="toggleModalDelete({ name: item.name, status: true })"></fui-button-icon>
        </fui-table-data-tree>
      </fui-table-row-tree>
    </ng-container>
    <!-- LEVEL 1  -->
  </fui-table-tree>
  <!-- DATA AVAILABLE  -->

  <!-- EMPTY MESSAGE  -->
  <shared-empty-data content [dataLength]="dataPosition.length" />
  <!-- EMPTY MESSAGE  -->
</shared-page-generic-default>

<!-- FLYOUT  -->
<shared-flyout-simple
  [isOpenFlyout]="openFlyout"
  [titleFlyout]="createUpdate === 'create' ? 'Add Position' : 'Update Position'"
  (closeOut)="toggleOpenFlyout('create', false)">
  <div body>
    <!-- NAME  -->
    <div class="mb-15">
      <fui-text class="label">Position Name</fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [placeholder]="'Director, Associates, etc'"
          [type]="'text'"
          [size]="'m'"
          [invalid]="false"
          [formControlField]="positionNameForm"></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- NAME  -->

    <!-- LEVEL  -->
    <div class="mb-15">
      <fui-text class="label">Level</fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [placeholder]="'Select level'"
          [size]="'m'"
          [invalid]="false"
          [formControlField]="levelForm"
          [selectOptions]="levelOption"></fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- LEVEL  -->
  </div>

  <div footer class="flex-between">
    <fui-button-icon
      [type]="'button'"
      [option]="'text'"
      [text]="'Cancel'"
      [style]="'empty'"
      (onClick)="toggleOpenFlyout('create', false)" />
    <fui-button-icon
      *ngIf="createUpdate === 'create'"
      [type]="'button'"
      [option]="'iconText'"
      [text]="'Save'"
      [icon]="'save'"
      (onClick)="toggleUpdateCreateData('create', false)" />
    <fui-button-icon
      *ngIf="createUpdate === 'update'"
      [type]="'button'"
      [option]="'iconText'"
      [text]="'Update'"
      [icon]="'pencil'"
      (onClick)="toggleUpdateCreateData('update', false)" />
  </div>
</shared-flyout-simple>
<!-- FLYOUT  -->

<!-- MODAL DELETE  -->
<shared-modal-delete
  [openModalDelete]="openModalDelete"
  (actionOut)="toggleModalDelete($event)" />
<!-- MODAL DELETE  -->
