@import "../../app.component.scss";

.container {
  display: flex;
  align-items: center;
  .group {
    display: flex;
  }
}
.title {
  text-wrap: nowrap;
}
.toggle-clear {
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  margin: 0px 15px;
  text-wrap: nowrap;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.scroller {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding: 3px 0px;
  fui-badge {
    margin: 0px 5px 0px 5px;
    &:first-child {
      margin: 0px 5px 0px 0px;
    }
    &:last-child {
      margin: 0px 0px 0px 5px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    display: block;
  }
  .scroller {
    margin-top: 10px;
  }
  :host {
    width: -webkit-fill-available;
  }
}
