<div class="container" *ngIf="checkFilter()">
  <div class="group">
    <p class="title">Applied Filters</p>
    <p class="toggle-clear" (click)="clearAllFilter()">Clear All</p>
  </div>
  <div class="scroller">
    @for (item of filterApplied; track $index) {
    <fui-badge
      *ngIf="item.status"
      [color]="'text'"
      [size]="'sizem'"
      [isBadgeIcon]="true"
      [iconPosition]="'end'"
      [icon]="'cross'"
      [sizeIcon]="'sizes'"
      (onClickBadge)="clearFilterPerItem(item)"
      >{{ item.name }}</fui-badge
    >
    }
  </div>
</div>
