<shared-skeleton [active]="loading">
  <!-- SIMPLE UTILITY TABLE  -->
  <shared-table-utility-simple
    [nextBtn]="currentDate > endDate ? true : false"
    [prevBtn]="filterApplied.length === 0"
    [startDate]="startDate"
    [endDate]="endDate"
    [duration]="calculateTotalDuration(dataTimesheet)"
    (actionOut)="toggleUtility($event)"
  />
  <!-- SIMPLE UTILITY TABLE  -->

  <!-- FILTER APPLIED -->
  <shared-filter-applied
    class="mb-15"
    [filterApplied]="filterApplied"
    (actionOut)="toggleClearFilter($event)"
  />
  <!-- FILTER APPLIED -->

  <!-- MATTER MOVE -->
  <shared-move-matter
    *ngIf="timesheetSelected.length > 0"
    [listMatters]="[]"
    [totalItemSelected]="timesheetSelected.length"
    (actionOut)="moveTimesheet($event)"
  />
  <!-- MATTER MOVE -->

  <div class="wrap">
    <!-- TABLE WITHOUT FILTER -->
    <app-table-without-filter
      *ngIf="filterApplied.length === 0"
      [startDate]="startDate"
      [endDate]="endDate"
      [dataTimesheet]="dataTimesheet"
      [timesheetSelected]="timesheetSelected"
      (actionOut)="toggleEditDeleteTimesheet($event.action, $event.data)"
      (selectionOut)="toggleSelection($event)"
    />
    <!-- TABLE WITHOUT FILTER -->

    <!-- TABLE WITH FILTER-->
    <app-table-filter
      class="container-table"
      *ngIf="filterApplied.length > 0"
      [page]="page"
      [limit]="limit"
      [totalItems]="totalItems"
      [dataTimesheet]="dataTimesheet"
      [timesheetSelected]="timesheetSelected"
      (actionOut)="toggleEditDeleteTimesheet($event.action, $event.data)"
      (selectionOut)="toggleSelection($event)"
    />
    <!-- TABLE WITH FILTER-->
  </div>
</shared-skeleton>

<!-- FLYOUT CREATE TIMESHEET -->
<shared-flyout-timesheet
  [showFeeEarnerForm]="false"
  [title]="'Add Timesheet'"
  [isOpenFlyout]="isOpenCreateFlyout"
/>
<!-- FLYOUT CREATE TIMESHEET -->

<!-- EDIT TIMESHEET FLYOUT -->
<shared-flyout-timesheet
  [showFeeEarnerForm]="false"
  [enableMatterForm]="false"
  [title]="'Update Timesheet'"
  [isOpenFlyout]="isOpenEditFlyout"
  [timesheet]="timesheetEditSelected"
  [actionButton]="'update'"
  [showCheckLockMatter]="false"
  [showCheckLockDate]="false"
  [note]="'* Conduct desk research & prepare summary on licensing regulation.'"
  [listActivities]="converterActivityOpt()"
  [listMatters]="converterMatterOpt()"
  (closeOut)="toggleUtility('edit')"
/>
<!-- EDIT TIMESHEET FLYOUT -->

<!-- EDIT TAG FLYOUT -->
<shared-flyout-timesheet
  [showFeeEarnerForm]="false"
  [enableMatterForm]="false"
  [title]="'Update Timesheet'"
  [isOpenFlyout]="isOpenEditTagFlyout"
  [actionButton]="'updateTag'"
  [showCheckLockMatter]="false"
  [timesheetSelected]="timesheetEditSelected"
  [showCheckLockDate]="false"
  [note]="'* Conduct desk research on licensing agreement with JJ.'"
  [listActivities]="converterActivityOpt()"
  [listMatters]="converterMatterOpt()"
  (closeOut)="toggleUtility('editTag')"
/>
<!-- EDIT TAG FLYOUT -->

<!-- FILTER TIMESHEET  -->
<shared-flyout-simple
  [isOpenFlyout]="isOpenFilterFlyout"
  [titleFlyout]="'Filter'"
  (closeOut)="toggleUtility('filter')"
  [size]="'m'"
>
  <div body>
    <!-- DATE FORM  -->
    <div class="form">
      <fui-text>Date</fui-text>
      <div class="time-description">
        <fui-date-range
          [dateFormat]="'DD-MM-YYYY'"
          [startDateControl]="startDateForm"
          [endDateControl]="endDateForm"
          (onChangeStartDate)="watchDateChange('start', $event)"
          (onChangeEndDate)="watchDateChange('end', $event)"
        />
      </div>
      <span
        class="filter-valid"
        *ngIf="startDateForm.value === '' || endDateForm.value === ''"
      >
        <fui-icons [icon]="'iInCircle'" [color]="'danger'" [size]="'sizes'" />
        Date range is required!
      </span>
      <span
        class="filter-valid"
        *ngIf="validatorStartEndFilter(startDateForm.value, endDateForm.value)"
      >
        <fui-icons [icon]="'iInCircle'" [color]="'danger'" [size]="'sizes'" />
        the start date can't exceed the end date!
      </span>
    </div>
    <!-- DATE FORM  -->

    <!-- MATTER FORM  -->
    <div class="form">
      <fui-text>Matter</fui-text>
      <div class="time-description">
        <fui-combo-box
          [comboxForm]="searchMatterForm"
          [size]="'m'"
          [placeholder]="'Matter'"
          [optionValue]="converterMatterOpt()"
          [selectedValue]="selectedMatter"
        />
      </div>
    </div>
    <!-- MATTER FORM  -->

    <hr class="line-hr" />

    <!-- DESC FORM  -->
    <div class="form">
      <fui-text>Time Description</fui-text>
      <div class="time-description">
        <fui-form-control-layout>
          <fui-input-field
            [formControlField]="descriptionForm"
            [placeholder]="'e.g Meeting with client'"
            [type]="'text'"
            [size]="'m'"
            [invalid]="false"
          />
        </fui-form-control-layout>
      </div>
    </div>
    <!-- DESC FORM  -->
  </div>

  <!-- FOOTER FLYOUT FILTER  -->
  <div class="footer-flyout" footer>
    <fui-button-icon
      [fullWidth]="'fit'"
      [type]="'button'"
      [option]="'text'"
      [style]="'secondary'"
      [text]="'Cancel'"
      [size]="'m'"
      [color]="'text'"
      (onClick)="toggleUtility('filter')"
    />
    <div class="group-flex">
      <fui-button-icon
        [fullWidth]="'fit'"
        [type]="'button'"
        [option]="'text'"
        [style]="'secondary'"
        [text]="'Clear Filter'"
        [size]="'m'"
        [color]="'text'"
        (onClick)="toggleClearFilter()"
      />
      <fui-button-icon
        [fullWidth]="'fit'"
        [type]="'button'"
        [option]="'iconText'"
        [style]="'filled'"
        [text]="'Apply Filter'"
        [size]="'m'"
        [color]="'primary'"
        [icon]="'filter'"
        (onClick)="toggleFilter()"
      />
    </div>
  </div>
  <!-- FOOTER FLYOUT FILTER  -->
</shared-flyout-simple>
<!-- FILTER TIMESHEET  -->

<!-- MODAL DELETE  -->
<shared-modal-delete
  [openModalDelete]="isModalDelete"
  [title]="'Delete Timesheet'"
  (actionOut)="toggleCancelDeleteTimesheet($event)"
/>
<!-- MODAL DELETE  -->

