<div class="utility">
  <!-- RIGHT UTIL  -->
  <div class="sub-utility">
    <p class="title">Showing 1-10 of 45</p>
    <b>Expense </b>
  </div>
  <!-- RIGHT UTIL  -->

  <!-- LEFT UTIL  -->
  <div class="sub-utility">
    <!-- REFRESH UTIL  -->
    <div class="action-btn">
      <fui-icons [color]="'primary'" [icon]="'refresh'" />
      <p class="text-btn-primary">Refresh</p>
    </div>
    <!-- REFRESH UTIL  -->

    <!-- REFRESH UTIL  -->
    <div class="action-btn">
      <fui-icons [color]="'text'" [icon]="'inputOutput'" />
      <p class="text-btn-text">Move</p>
    </div>
    <!-- REFRESH UTIL  -->

    <!-- REFRESH UTIL  -->
    <div class="action-btn">
      <p class="text-btn-text">Write-off</p>
    </div>
    <!-- REFRESH UTIL  -->

    <!-- REFRESH UTIL  -->
    <div class="action-btn">
      <fui-icons [color]="'text'" [icon]="'download'" />
      <p class="text-btn-text">Download</p>
    </div>
    <!-- REFRESH UTIL  -->
  </div>
  <!-- LEFT UTIL  -->
</div>
<hr />
<div class="overflow">
  <div class="table">
    <!-- HEADER TABLE  -->
    <div class="table-row header">
      <div class="table-cell">
        <input type="checkbox" />
      </div>
      <div class="table-cell" *ngFor="let item of headerTable">
        <div class="head-title">{{ item }}</div>
      </div>
    </div>
    <!-- HEADER TABLE  -->

    <!-- BODY TABLE  -->
    <div class="table-row">
      <div class="table-cell">
        <input type="checkbox" />
      </div>
      <div class="table-cell">
        <fui-badge [color]="'success'" [size]="'m'"
          ><b>Collected</b></fui-badge
        >
        <p class="text-wrap">Jacob Jones</p>
      </div>
      <div class="table-cell">24 Jan 23</div>
      <div class="table-cell">PO000001</div>
      <div class="table-cell">
        <fui-badge [color]="'ghost'" [size]="'m'"
          ><b>GADM-General Administration</b></fui-badge
        >
        <p class="text-wrap">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatu
        </p>
      </div>
      <div class="table-cell">1</div>
      <div class="table-cell">USD 200.00</div>
      <div class="table-cell">
        <p class="text-wrap">00001/INV/2024 Base - Base Corporation</p>
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        <input type="checkbox" />
      </div>
      <div class="table-cell">
        <fui-badge [color]="'warning'" [size]="'m'"
          ><b>Written-off</b></fui-badge
        >
        <p class="text-wrap">Dianne Russell</p>
      </div>
      <div class="table-cell">24 Jan 23</div>
      <div class="table-cell">PO000001</div>
      <div class="table-cell">
        <fui-badge [color]="'ghost'" [size]="'m'"
          ><b>GADM-General Administration</b></fui-badge
        >
        <p class="text-wrap">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatu
        </p>
      </div>
      <div class="table-cell">1</div>
      <div class="table-cell">USD 200.00</div>
      <div class="table-cell">
        <p class="text-wrap">00001/INV/2024 Base - Base Corporation</p>
      </div>
    </div>
    <!-- BODY TABLE  -->
  </div>
</div>
<fui-pagination [size]="'sizes'" [totalItems]="10" />
