<div class="card">
  <div class="row-head">
    <h1 class="title">5889-1 Matter Project Name</h1>
    <fui-button-icon
      [fullWidth]="'fit'"
      (onClick)="gotoPage()"
      [type]="'button'"
      [option]="'icon'"
      [color]="'primary'"
      [style]="'secondary'"
      [icon]="'boxesHorizontal'"
    />
  </div>
  <div class="row-sub">
    <div class="badge-group">
      <fui-badge
        [color]="'ghost'"
        [iconShow]="true"
        [icon]="'node'"
        [iconSize]="'sizes'"
        [size]="'m'"
      >
        <p class="desc">Ministry of Republic Indonesia</p>
      </fui-badge>
      <fui-badge [color]="'ghost'" [size]="'l'"> +2 others </fui-badge>
    </div>
  </div>
  <div class="row-desc">
    <p class="desc">
      Phasellus accumsan imperdiet tempor. Cras tincidunt, arcu nec eleifend
      porttitor, orci est vehicula Phasellus accumsan imperdiet tempor. Cras
      tincidunt, arcu nec eleifend porttitor, orci est vehicula Phasellus
      accumsan imperdiet tempor. Cras tincidunt, arcu nec eleifend porttitor,
      orci est vehicula
    </p>
  </div>
  <div class="hr">
    <hr width="140" />
  </div>

  <div
    class="row-sub"
    [ngStyle]="{
      visibility: type === 1 || type === 2 || type === 3 ? 'visible' : 'hidden'
    }"
  >
    <div
      class="billble"
      [ngStyle]="{
        visibility:
          type === 1 || type === 2 || type === 3 ? 'visible' : 'hidden'
      }"
    >
      <p class="detail left">Partner in Charge</p>
      <p class="detail right">(BS) Brooklyn Simmons</p>
    </div>
    <div
      class="billble"
      [ngStyle]="{
        visibility: type === 1 || type === 2 ? 'visible' : 'hidden'
      }"
    >
      <p class="detail left">Unbilled</p>
      <p class="detail right">USD 25,500.00</p>
    </div>
    <div
      class="billble"
      [ngStyle]="{
        visibility: type === 1 || type === 2 ? 'visible' : 'hidden'
      }"
    >
      <p class="detail left">Uncollected</p>
      <p class="detail right">USD 3,500.00</p>
    </div>
    <div
      class="billble"
      [ngStyle]="{ visibility: type === 1 ? 'visible' : 'hidden' }"
    ></div>
  </div>

  <hr />
  <div class="row-foot">
    <fui-badge [color]="'hollow'" [size]="'s'" [text]="'Billable'" />
    <fui-badge [color]="'hollow'" [size]="'s'" [text]="'Hourly'" />
    <fui-badge
      [color]="
        type === 1
          ? 'success'
          : type === 2
          ? 'warning'
          : type === 3
          ? 'danger'
          : 'default'
      "
      [size]="'s'"
      [text]="
        type === 1
          ? 'Active'
          : type === 2
          ? 'Complete'
          : type === 3
          ? 'Pending'
          : 'Closed'
      "
    />
    <fui-badge
      [iconShow]="true"
      [color]="'hollow'"
      [iconPosition]="'start'"
      [icon]="'timeRefresh'"
      [size]="'s'"
      [iconSize]="'sizes'"
      [text]="'3 Jan 24'"
    />
  </div>
</div>
