@import "../my-matter.component.scss";

.small-txt {
  font-size: small;
}
.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  border: none;
  border-top: 1px solid var(--fuiColorLightShade, $fuiColorLightShade);
}
