<div class="utility block">
  <div class="sub-utility block">
    <div class="date-duration">
      <fui-button-icon
        *ngIf="!filterDate"
        [type]="'button'"
        [option]="'icon'"
        [icon]="'arrowLeft'"
        [style]="'secondary'"
        [color]="'text'"
        (onClick)="moveDate(-5)"
      />
      <p class="date" *ngIf="!filterDate">
        {{ startDate | date : "d MMMM yyyy" }} -
        {{ endDate | date : "d MMMM yyyy" }}
      </p>
      <p class="date" *ngIf="filterDate">
        {{ startDateForm.value | date : "d MMMM yyyy" }} -
        {{ endDateForm.value | date : "d MMMM yyyy" }}
      </p>
      <fui-button-icon
        *ngIf="endDate < currentDate && !filterDate"
        [type]="'button'"
        [option]="'icon'"
        [icon]="'arrowRight'"
        [style]="'secondary'"
        [color]="'text'"
        (onClick)="moveDate(5)"
      />
      <div class="duration">
        <fui-badge
          [color]="'ghost'"
          [size]="'sizem'"
          [isBadgeIcon]="true"
          [icon]="'clock'"
          [iconPosition]="'start'"
        >
          <div class="content">
            {{ calculateTotalDuration(dataTimesheet) }}
          </div>
        </fui-badge>
      </div>
    </div>
  </div>
  <div class="desktop">
    <fui-button-icon
      [type]="'button'"
      [option]="'iconText'"
      [style]="'secondary'"
      [text]="'Filter'"
      [size]="'m'"
      [color]="'text'"
      [icon]="'filter'"
      [iconSide]="'left'"
      (onClick)="toggleOpenFlyout()"
    />
  </div>
</div>

<!-- Flyout -->
<fui-flyout
  [zIndex]="2"
  [open]="isOpenFlyout"
  [flyoutSize]="'s'"
  [flyoutPadding]="'s'"
>
  <fui-flyout-header (onCloseFlyout)="toggleCloseFlyout()">
    <div class="header-flyout">
      <h2>Filter</h2>
    </div>
  </fui-flyout-header>
  <fui-flyout-body>
    <div class="flyout-body">
      <div class="form">
        <label for="desc" class="label">Date</label>
        <div class="time-description">
          <fui-date-range
            [startDateControl]="startDateForm"
            [endDateControl]="endDateForm"
            (onChangeStartDate)="changeStartDate($event)"
            (onChangeEndDate)="changeEndDate($event)"
          />
        </div>
        <span
          class="filter-valid"
          *ngIf="startDateForm.value === '' || endDateForm.value === ''"
        >
          <fui-icons [icon]="'iInCircle'" [color]="'danger'" [size]="'sizes'" />
          Date range is required!
        </span>
        <span class="filter-valid" *ngIf="invalidStartEndDate()">
          <fui-icons [icon]="'iInCircle'" [color]="'danger'" [size]="'sizes'" />
          the start date cannot exceed the end date!
        </span>
      </div>
      <div class="form">
        <label for="desc" class="label">Matter</label>
        <div class="time-description">
          <fui-combo-box
            (selection)="selectionMatter($event)"
            [comboxForm]="searchMatterForm"
            [size]="'m'"
            [placeholder]="'Matter'"
            [optionValue]="optionMatter"
            [selectedValue]="selectedMatter"
          />
        </div>
      </div>
      <hr class="line-hr" />
      <div class="form">
        <label for="desc" class="label">Time Description</label>
        <div class="time-description">
          <fui-form-control-layout>
            <fui-input-field
              [formControlField]="descriptionForm"
              [placeholder]="'Description'"
              [type]="'text'"
              [size]="'m'"
              [invalid]="false"
            />
          </fui-form-control-layout>
        </div>
      </div>
    </div>
  </fui-flyout-body>
  <fui-flyout-footer [isFlyoutFooterCustom]="true">
    <div class="footer-flyout">
      <fui-button-icon
        (onClick)="clearFiltersAll()"
        [type]="'button'"
        [option]="'text'"
        [style]="'secondary'"
        [text]="'Cancel'"
        [size]="'m'"
        [color]="'text'"
      />
      <div class="footer-flyout-btn">
        <fui-button-icon
          (onClick)="clearFilters()"
          [type]="'button'"
          [option]="'text'"
          [style]="'secondary'"
          [text]="'Clear Filters'"
          [size]="'m'"
          [color]="'primary'"
        />
        <fui-button-icon
          [type]="'button'"
          [disabled]="
            startDateForm.value === '' ||
            endDateForm.value === '' ||
            invalidStartEndDate()
          "
          [option]="'iconText'"
          [style]="'filled'"
          [text]="'Apply Filter'"
          [size]="'m'"
          [color]="
            startDateForm.value === '' ||
            endDateForm.value === '' ||
            invalidStartEndDate()
              ? 'disabled'
              : 'primary'
          "
          [icon]="'filter'"
          [iconSide]="'left'"
          (onClick)="applyFilterAction()"
        />
      </div>
    </div>
  </fui-flyout-footer>
</fui-flyout>
<!-- Flyout -->
