<fui-flyout
  [zIndex]="2"
  [open]="isOpenFlyout"
  [flyoutSize]="'s'"
  [flyoutPadding]="'s'"
>
  <!-- HEADER FLYOUT -->
  <fui-flyout-header (onCloseFlyout)="toggleCloseFlyout()">
    <div class="header-flyout">
      <h2>Matter Filter</h2>
    </div>
  </fui-flyout-header>
  <!-- HEADER FLYOUT -->

  <!-- BODY FLYOUT -->
  <fui-flyout-body>
    <div class="body-flyout">
      <!-- STANDARD FILTER -->
      <div class="standard-filter">
        <!-- FORM CLIENT NAME -->
        <div for="form" class="label-form">Client Name</div>
        <fui-combo-box
          [leftIcon]="'search'"
          [comboxForm]="clientNameForm"
          [optionValue]="clientNameOption"
          [selectedValue]="clientNameSelected"
          [placeholder]="'Type client name'"
        />
        <!-- FORM CLIENT NAME -->

        <!-- FORM Matter/Sub-matter Number -->
        <div for="form" class="label-form">Matter/Sub-matter Number</div>
        <fui-combo-box
          [leftIcon]="'search'"
          [comboxForm]="matterForm"
          [optionValue]="matterOption"
          [selectedValue]="matterSelected"
          [placeholder]="'Search by matter number'"
        />
        <!-- FORM Matter/Sub-matter Number -->

        <!-- FORM PROJECT NAME -->
        <div for="form" class="label-form">Project Name</div>
        <div class="form-group">
          <fui-form-control-layout class="child-form-adv mr-10">
            <fui-select-field
              [disabled]="true"
              [invalid]="false"
              [size]="'m'"
              [selectOptions]="selectOption"
            >
            </fui-select-field>
          </fui-form-control-layout>

          <fui-form-control-layout class="child-form">
            <fui-input-field
              [type]="'text'"
              [formControlField]="projectNameForm"
              [invalid]="false"
              [size]="'m'"
              [placeholder]="'Type matter description'"
            >
            </fui-input-field>
          </fui-form-control-layout>
        </div>
        <!-- FORM PROJECT NAME -->

        <!-- FORM MATTER DESCRIPTION -->
        <div for="form" class="label-form">Matter Description</div>
        <div class="form-group">
          <fui-form-control-layout class="child-form-adv mr-10">
            <fui-select-field
              [disabled]="true"
              [invalid]="false"
              [size]="'m'"
              [selectOptions]="selectOption"
            >
            </fui-select-field>
          </fui-form-control-layout>

          <fui-form-control-layout class="child-form">
            <fui-input-field
              [formControlField]="matterDescriptionForm"
              [type]="'text'"
              [invalid]="false"
              [size]="'m'"
              [placeholder]="'Type matter description'"
            >
            </fui-input-field>
          </fui-form-control-layout>
        </div>
        <!-- FORM MATTER DESCRIPTION -->
      </div>
      <!-- STANDARD FILTER -->

      <!-- HR HALF  -->
      <hr class="half-hr" />
      <!-- HR HALF  -->

      <!-- ADVANCE FILTER -->
      <fui-collapsible-nav-group
        class="collapsible"
        [isCollapsed]="isCollapsible"
      >
        <!-- HEADER AND TOGGLE  -->
        <div header class="header-collapsible" (click)="toggleCollapsible()">
          <p class="label-form">Advance Filter</p>
          <fui-icons [icon]="isCollapsible ? 'arrowDown' : 'arrowRight'" />
        </div>
        <!-- HEADER AND TOGGLE  -->

        <!-- BODY AND TOGGLE  -->
        <div body>
          <div class="wrap-advance-filter">
            <!-- MATTER CATEGORY FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form mt-0">Billability</div>
              <fui-combo-box
                [comboxForm]="billabilityForm"
                [optionValue]="billabilityOption"
                [selectedValue]="billabilitySelected"
                [placeholder]="'Select matter category'"
              />
            </div>
            <!-- MATTER CATEGORY FORM -->

            <!-- PRACTICE GROUP FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Practice Group</div>
              <fui-combo-box
                [comboxForm]="practiceGroupForm"
                [optionValue]="practiceGroupOption"
                [selectedValue]="practiceGroupSelected"
                [placeholder]="'Select practice group'"
              />
            </div>
            <!-- PRACTICE GROUP FORM -->

            <!-- PRACTICE AREA FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Practice Area</div>
              <fui-combo-box
                [comboxForm]="practiceAreaForm"
                [optionValue]="practiceAreaOption"
                [selectedValue]="practiceAreaSelected"
                [placeholder]="'Select practice area'"
              />
            </div>
            <!-- PRACTICE AREA FORM -->

            <!-- MATTER TYPE FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Matter Type</div>
              <fui-combo-box
                [comboxForm]="matterTypeForm"
                [optionValue]="matterTypeOption"
                [selectedValue]="matterTypeSelected"
                [placeholder]="'Select matter type'"
              />
            </div>
            <!-- MATTER TYPE FORM -->

            <!-- MATTER STATUS FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Matter Status</div>
              <fui-combo-box
                [comboxForm]="matterStatusForm"
                [optionValue]="matterStatusOption"
                [selectedValue]="matterStatusSelected"
                [placeholder]="'Select matter status'"
              />
            </div>
            <!-- MATTER STATUS FORM -->

            <!-- FEE STRUCTURE FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Fee Structure</div>
              <fui-combo-box
                [comboxForm]="feeStructureForm"
                [optionValue]="feeStructureOption"
                [selectedValue]="feeStructureSelected"
                [placeholder]="'Select fee structure'"
              />
            </div>
            <!-- FEE STRUCTURE FORM -->

            <!-- MATTER PIC FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Partner In Charge (PIC)</div>
              <fui-combo-box
                [comboxForm]="partnerInChargeForm"
                [optionValue]="partnerInChargeOption"
                [selectedValue]="partnerInChargeSelected"
                [placeholder]="'Select matter PIC'"
              />
            </div>
            <!-- MATTER PIC FORM -->

            <!-- MATTER MEMBERS FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Matter Members</div>
              <fui-combo-box
                [comboxForm]="matterMembersForm"
                [optionValue]="matterMembersOption"
                [selectedValue]="matterMembersSelected"
                [placeholder]="'Select matter members'"
              />
            </div>
            <!-- MATTER MEMBERS FORM -->

            <!-- UNBILLED AMOUNT HIGHER OR EQUAL TO FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">
                Unbilled Amount (R3) higher or equal to
              </div>
              <fui-form-control-layout class="full-width">
                <fui-prepend>
                  <div class="prepend-title">USD</div>
                </fui-prepend>
                <fui-input-field
                  [formControlField]="unbilledAmountForm"
                  [type]="'text'"
                  [invalid]="false"
                  [size]="'m'"
                  [placeholder]="'Specify the unbilled amount'"
                >
                </fui-input-field>
              </fui-form-control-layout>
            </div>
            <!-- UNBILLED AMOUNT HIGHER OR EQUAL TO FORM -->

            <!-- CREATION DATE FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Creation Date</div>
              <fui-date-range
                [position]="'top'"
                [dateFormat]="'DD-MM-YYYY'"
                [startDateControl]="completionDateStartForm"
                [endDateControl]="completionDateEndForm"
              />
            </div>
            <!-- CREATION DATE FORM -->

            <!-- COMPLETION DATE FORM -->
            <div class="form-group child-form-adv">
              <div for="form" class="label-form">Completion Date</div>
              <fui-date-range
                [position]="'top'"
                [dateFormat]="'DD-MM-YYYY'"
                [startDateControl]="creationDateStartForm"
                [endDateControl]="creationDateEndForm"
              />
            </div>
            <!-- COMPLETION DATE FORM -->

            <div class="scroller"></div>
          </div>
        </div>
        <!-- BODY AND TOGGLE  -->
      </fui-collapsible-nav-group>
      <!-- ADVANCE FILTER -->
    </div>
  </fui-flyout-body>
  <!-- BODY FLYOUT -->

  <!-- FOOTER FLYOUT -->
  <fui-flyout-footer [isFlyoutFooterCustom]="true">
    <div class="footer-flyout">
      <fui-button-icon
        [type]="'button'"
        [option]="'text'"
        [text]="'Cancel'"
        [style]="'secondary'"
        [color]="'text'"
        (onClick)="toggleCloseFlyout()"
      />
      <div class="sub-button">
        <fui-button-icon
          [type]="'button'"
          [option]="'text'"
          [text]="'Clear Filter'"
          [style]="'secondary'"
          [color]="'text'"
          (onClick)="toggleCloseFlyout()"
        />
        <fui-button-icon
          [type]="'button'"
          [icon]="'filter'"
          [option]="'iconText'"
          [text]="'Apply Filter'"
          [style]="'filled'"
          [color]="'primary'"
          (onClick)="toggleCloseFlyout()"
        />
      </div>
    </div>
  </fui-flyout-footer>
  <!-- FOOTER FLYOUT -->
</fui-flyout>
