<div class="card">
  <fui-text class="head-label" [weight]="'semibold'"
    >General Information</fui-text
  >

  <div class="grid-3">
    <!-- MATTER NUMBER  -->
    <div class="form-control">
      <fui-text class="label"> Matter Number </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'Type matter number'"
          [size]="'m'"
        ></fui-input-field>
        <fui-append>
          <fui-icons [color]="'primary'" [icon]="'refresh'" />
        </fui-append>
      </fui-form-control-layout>
    </div>
    <!-- MATTER NUMBER  -->

    <!-- PARENT MATTER  -->
    <div class="form-control">
      <div class="flex-between">
        <fui-text class="label"> Parent Matter </fui-text>
        <div class="checkbox">
          <input
            type="checkbox"
            [checked]="isParentMatter"
            [(ngModel)]="isParentMatter"
          />
          <fui-text [size]="'sizes'" (click)="isParentMatter = !isParentMatter"
            >N/A</fui-text
          >
        </div>
      </div>
      <fui-combo-box
        *ngIf="!isParentMatter"
        [singleSelection]="true"
        [comboxForm]="parentMatterForm"
        [placeholder]="'Type parent matter'"
        [invalid]="false"
        [message]="''"
        [leftIcon]="'search'"
        [optionValue]="[]"
        [selectedValue]="[]"
      />
      <fui-text
        class="fs-italic mt-10"
        [color]="'disabled'"
        *ngIf="isParentMatter"
        >Not Applicable</fui-text
      >
    </div>
    <!-- PARENT MATTER  -->

    <!-- CONFLICT ID  -->
    <div class="form-control">
      <div class="flex-between">
        <fui-text class="label"> Conflict Search ID </fui-text>
        <div class="checkbox">
          <input
            type="checkbox"
            [checked]="isConflictSearchId"
            [(ngModel)]="isConflictSearchId"
          />
          <fui-text
            [size]="'sizes'"
            (click)="isConflictSearchId = !isConflictSearchId"
            >N/A</fui-text
          >
        </div>
      </div>
      <fui-form-control-layout *ngIf="!isConflictSearchId">
        <fui-input-field
          [formControlField]="conflictSearchIdForm"
          [placeholder]="'Intra conflict search ID'"
          [type]="'text'"
          [invalid]="false"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
      <fui-text
        class="fs-italic mt-10"
        [color]="'disabled'"
        *ngIf="isConflictSearchId"
        >Not Applicable</fui-text
      >
    </div>
    <!-- CONFLICT ID  -->
  </div>

  <!-- PROJECT NAME  -->
  <div class="form-control">
    <div class="flex-between">
      <div class="flex-start">
        <fui-text class="label"> Project Name </fui-text>
        <fui-tooltip [position]="'top'" [content]="'Label tooltip'">
          <fui-icons [icon]="'questionInCircle'" [size]="'sizes'" />
        </fui-tooltip>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          [checked]="isProjectName"
          [(ngModel)]="isProjectName"
        />
        <fui-text [size]="'sizes'" (click)="isProjectName = !isProjectName"
          >N/A</fui-text
        >
      </div>
    </div>
    <fui-form-control-layout *ngIf="!isProjectName">
      <fui-input-field
        [formControlField]="projectNameForm"
        [placeholder]="'Type project name'"
        [type]="'text'"
        [invalid]="false"
        [size]="'m'"
      ></fui-input-field>
    </fui-form-control-layout>
    <fui-text class="fs-italic mt-10" [color]="'disabled'" *ngIf="isProjectName"
      >Not Applicable</fui-text
    >
  </div>
  <!-- PROJECT NAME  -->

  <!-- MATTER SHORT DESC  -->
  <div class="form-control">
    <div class="flex-between">
      <div class="flex-start">
        <fui-text class="label"> Matter Short Description </fui-text>
        <fui-tooltip [position]="'top'" [content]="'Label tooltip'">
          <fui-icons [icon]="'questionInCircle'" [size]="'sizes'" />
        </fui-tooltip>
      </div>
      <div class="checkbox" (click)="isMatterShortDesc = !isMatterShortDesc">
        <input
          type="checkbox"
          [checked]="isMatterShortDesc"
          [(ngModel)]="isMatterShortDesc"
        />
        <fui-text [size]="'sizes'">N/A</fui-text>
      </div>
    </div>
    <fui-form-control-layout *ngIf="!isMatterShortDesc">
      <fui-textarea
        [formControlField]="matterShortDescForm"
        [placeholder]="'Add matter short description'"
        [size]="'m'"
        [invalid]="false"
      >
      </fui-textarea>
    </fui-form-control-layout>
    <fui-text
      class="fs-italic mt-10"
      [color]="'disabled'"
      *ngIf="isMatterShortDesc"
      >Not Applicable</fui-text
    >
  </div>
  <!-- MATTER SHORT DESC  -->

  <hr width="300" class="mb-30" />

  <div
    [ngClass]="{
      'grid-2 mt-20': billabilityForm.value !== 'Nonbillable',
      'mt-20': billabilityForm.value === 'Nonbillable'
    }"
  >
    <!-- BILLABILITY  -->
    <div class="form-control">
      <fui-text class="label"> Billability </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [formControlField]="billabilityForm"
          [placeholder]="'Please select billability'"
          [invalid]="false"
          [selectOptions]="billableOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- BILLABILITY  -->

    <!-- MATTER FORM  -->
    <div class="form-control" *ngIf="billabilityForm.value !== 'Nonbillable'">
      <div class="flex-between align-end gap-10">
        <div class="block">
          <fui-text class="label"> Matter Form </fui-text>
          <fui-form-control-layout>
            <fui-input-field
              [formControlField]="matterForm"
              [type]="'text'"
              [invalid]="false"
              [disabled]="true"
              [size]="'m'"
              [placeholder]="'Upload matter form'"
            ></fui-input-field>
          </fui-form-control-layout>
        </div>
        <fui-button-icon
          (onClick)="openFlyoutMatterForm()"
          [style]="'secondary'"
          [type]="'button'"
          [option]="'icon'"
          [icon]="'export'"
        />
      </div>
    </div>
    <!-- MATTER FORM  -->
  </div>

  <div class="grid-2" *ngIf="billabilityForm.value !== 'Nonbillable'">
    <!-- PRACTICE AREA  -->
    <div class="form-control">
      <fui-text class="label"> Practice Matter </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [formControlField]="practiceMatterForm"
          [placeholder]="'Please select practice area'"
          [invalid]="false"
          [selectOptions]="practiceMatterOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- PRACTICE AREA  -->

    <!-- MATTER TYPE  -->
    <div class="form-control">
      <fui-text class="label"> Matter Type </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [formControlField]="matterTypeForm"
          [placeholder]="'Please select matter type'"
          [invalid]="false"
          [selectOptions]="matterTypeOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- MATTER TYPE  -->
  </div>

  <!-- PERSON IN CHARGE  -->
  <div class="form-control" *ngIf="billabilityForm.value === 'Nonbillable'">
    <div class="flex-start">
      <fui-text class="label"> Person in Charge (PIC) </fui-text>
      <fui-tooltip [position]="'top'" [content]="'Label tooltip'">
        <fui-icons [icon]="'questionInCircle'" [size]="'sizes'" />
      </fui-tooltip>
    </div>
    <fui-form-control-layout>
      <fui-input-field
        [formControlField]="personInChargeForm"
        [type]="'text'"
        [invalid]="false"
        [size]="'m'"
      ></fui-input-field>
      <fui-append>
        <fui-icons [icon]="'search'" />
      </fui-append>
    </fui-form-control-layout>
  </div>
  <!-- PERSON IN CHARGE  -->

  <div class="grid-2" *ngIf="billabilityForm.value !== 'Nonbillable'">
    <!-- PARTNER IN CHARGE  -->
    <div class="form-control">
      <div class="flex-start">
        <fui-text class="label"> Partner in Charge (PIC) </fui-text>
        <fui-tooltip [position]="'top'" [content]="'Label tooltip'">
          <fui-icons [icon]="'questionInCircle'" [size]="'sizes'" />
        </fui-tooltip>
      </div>
      <fui-form-control-layout>
        <fui-input-field
          [formControlField]="partnerInChargeForm"
          [readonly]="true"
          [type]="'text'"
          [invalid]="false"
          [size]="'m'"
        ></fui-input-field>
        <fui-append>
          <fui-icons [icon]="'search'" [color]="'primary'" />
        </fui-append>
      </fui-form-control-layout>
    </div>
    <!-- PARTNER IN CHARGE  -->

    <!-- PRM  -->
    <div class="form-control">
      <div class="flex-start">
        <fui-text class="label"> Partner Referal Marketing (PRM) </fui-text>
        <fui-tooltip [position]="'top'" [content]="'Label tooltip'">
          <fui-icons [icon]="'questionInCircle'" [size]="'sizes'" />
        </fui-tooltip>
      </div>
      <fui-form-control-layout>
        <fui-input-field
          [formControlField]="partnerReferalMarketingForm"
          [readonly]="true"
          [type]="'text'"
          [invalid]="false"
          [size]="'m'"
        ></fui-input-field>
        <fui-append>
          <fui-icons [icon]="'search'" [color]="'primary'" />
        </fui-append>
      </fui-form-control-layout>
    </div>
    <!-- PRM  -->
  </div>

  <div class="grid-2 align-end" *ngIf="billabilityForm.value !== 'Nonbillable'">
    <!-- BUSINESS SOURCE  -->
    <div class="form-control">
      <div class="flex-start">
        <fui-text class="label"> Business Source </fui-text>
        <fui-tooltip [position]="'top'" [content]="'Label tooltip'">
          <fui-icons [icon]="'questionInCircle'" [size]="'sizes'" />
        </fui-tooltip>
      </div>
      <fui-form-control-layout>
        <fui-select-field
          [formControlField]="businessSourceForm"
          [size]="'m'"
          [placeholder]="'Select business source'"
          [invalid]="false"
          [selectOptions]="businessSourceOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- BUSINESS SOURCE  -->

    <!-- SECOND BUSINESS SOURCE  -->
    <div class="form-control">
      <fui-form-control-layout>
        <fui-select-field
          [formControlField]="secondBusinessSourceForm"
          [disabled]="
            businessSourceForm.value === '' ||
            businessSourceForm.value === null ||
            businessSourceForm.value === undefined
              ? true
              : false
          "
          [size]="'m'"
          [placeholder]="'Select business source first'"
          [invalid]="false"
          [selectOptions]="secondBusinessSourceOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- SECOND BUSINESS SOURCE  -->
  </div>

  <!-- MATTER MEMBERS  -->
  <div class="grid-1 gap-5">
    <div class="flex align-center">
      <fui-text>Matter Members</fui-text>
      <fui-text [size]="'sizes'" class="border-badge">{{
        selectedEmployeMatterMember.length
      }}</fui-text>
    </div>
    <fui-text [color]="'disabled'"
      >Manage members who will have direct access to the matter</fui-text
    >

    <!-- BADGE MEMBER  -->
    <div class="grid-3 mt-10">
      <div
        class="border-badge"
        *ngFor="let item of selectedEmployeMatterMember"
      >
        <div class="p-8">
          <fui-text>{{ item.name }}</fui-text>
          <fui-text class="flex mt-5">{{ item.position }}</fui-text>
        </div>
      </div>
    </div>
    <fui-text
      class="fs-italic"
      [color]="'disabled'"
      *ngIf="selectedEmployeMatterMember.length === 0"
      >No Available</fui-text
    >
    <!-- BADGE MEMBER  -->

    <fui-button-icon
      (onClick)="openFlyoutManageMember()"
      class="mt-15"
      [style]="'secondary'"
      [color]="'primary'"
      [type]="'button'"
      [option]="'iconText'"
      [icon]="'users'"
      [text]="'Manage Member'"
    />
  </div>
  <!-- MATTER MEMBERS  -->
</div>

<!-- CLIENT INFORMATION  -->
<div class="card mt-20" *ngIf="billabilityForm.value !== 'Nonbillable'">
  <fui-text class="head-label" [weight]="'semibold'"
    >Client Information</fui-text
  >
  <div class="grid-2">
    <!-- CLIENT NAME  -->
    <div class="form-control">
      <div class="flex-start">
        <fui-text class="label"> Client Name </fui-text>
        <fui-tooltip [position]="'top'" [content]="'Label tooltip'">
          <fui-icons [icon]="'questionInCircle'" [size]="'sizes'" />
        </fui-tooltip>
      </div>
      <fui-combo-box
        [comboxForm]="clientNameForm"
        [placeholder]="'Search client name'"
        [invalid]="false"
        [message]="''"
        [leftIcon]="'search'"
        [optionValue]="clientNameOption"
        [selectedValue]="clientNameSelected"
      />
      <fui-button-icon
        (onClick)="openFlyoutStakeholder()"
        class="flex mt-15"
        [style]="'secondary'"
        [color]="'primary'"
        [type]="'button'"
        [option]="'iconText'"
        [icon]="'plusInCircle'"
        [text]="'Add new client'"
      />
    </div>
    <!-- CLIENT NAME  -->

    <!-- CLIENT CONTACT PERSON  -->
    <div class="form-control">
      <div class="flex-between">
        <fui-text class="label"> Client Contact Person </fui-text>
        <div class="checkbox">
          <input
            type="checkbox"
            [checked]="isClientContactPerson"
            [(ngModel)]="isClientContactPerson"
          />
          <fui-text [size]="'sizes'">N/A</fui-text>
        </div>
      </div>
      <fui-form-control-layout *ngIf="!isClientContactPerson">
        <fui-select-field
          [size]="'m'"
          [formControlField]="clientContactPersonForm"
          [disabled]="clientNameSelected.length === 0"
          [placeholder]="'Select contact person'"
          [invalid]="false"
          [selectOptions]="clientContactPersonOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
      <fui-text
        class="fs-italic mt-10"
        [color]="'disabled'"
        *ngIf="isClientContactPerson"
        >Not Applicable</fui-text
      >
      <fui-button-icon
        *ngIf="!isClientContactPerson && clientNameSelected.length > 0"
        (onClick)="openFlyoutContactPerson()"
        class="flex mt-15"
        [style]="'secondary'"
        [color]="'primary'"
        [type]="'button'"
        [option]="'iconText'"
        [icon]="'plusInCircle'"
        [text]="'Add new contact person'"
      />
    </div>
    <!-- CLIENT CONTACT PERSON  -->
  </div>

  <!-- SLIDER  -->
  <shared-slider-card
    [dataSlider]="dataSlider"
    [currentSlideIndex]="currentSlideIndex"
    (slideOut)="slideOut($event)"
  >
    <shared-slider-card-body
      *ngFor="let item of clientData; let i = index"
      [id]="i + 1"
      [current]="currentSlideIndex + 1"
    >
      <div class="card-blue">
        <div class="grid-2">
          <fui-text>Parent/Group Company</fui-text>
          <fui-text>Company's Origin Country</fui-text>
        </div>
        <div class="mt-5 grid-2">
          <fui-text [weight]="'semibold'">{{ item.parent }}</fui-text>
          <fui-text [weight]="'semibold'">{{ item.companyOrigin }}</fui-text>
        </div>
        <div class="mt-20 grid">
          <fui-text>Address</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.address
          }}</fui-text>
        </div>
        <fui-link
          class="mt-20"
          [colorLink]="'primary'"
          [urlLink]="'#'"
          [typeLink]="'coloring'"
          >Change address</fui-link
        >
        <div class="mt-20 grid">
          <fui-text>Entity Type</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.entityType
          }}</fui-text>
        </div>
        <div class="mt-20 grid">
          <fui-text>Industry/Business Sector</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.industry
          }}</fui-text>
        </div>
      </div>
    </shared-slider-card-body>
  </shared-slider-card>
  <!-- SLIDER  -->

  <!-- INSTRUCTING PARTY  -->
  <div class="form-control mt-20">
    <div class="flex-between">
      <fui-text class="label"> Instructing Party </fui-text>
      <div class="checkbox">
        <input
          type="checkbox"
          [checked]="isInstructingParty"
          [(ngModel)]="isInstructingParty"
        />
        <fui-text [size]="'sizes'">N/A</fui-text>
      </div>
    </div>
    <fui-combo-box
      *ngIf="!isInstructingParty"
      [singleSelection]="true"
      [comboxForm]="parentMatterForm"
      [placeholder]="'Type parent matter'"
      [invalid]="false"
      [message]="''"
      [leftIcon]="'search'"
      [optionValue]="[]"
      [selectedValue]="[]"
    />
    <fui-text
      class="fs-italic mt-10"
      [color]="'disabled'"
      *ngIf="isInstructingParty"
      >Not Applicable</fui-text
    >
    <fui-button-icon
      (onClick)="openFlyoutStakeholder()"
      class="flex mt-15"
      [style]="'secondary'"
      [color]="'primary'"
      [type]="'button'"
      [option]="'iconText'"
      [icon]="'plusInCircle'"
      [text]="'Add new instructing party'"
    />
  </div>
  <!-- INSTRUCTING PARTY  -->

  <!-- SLIDER  -->
  <shared-slider-card
    [dataSlider]="dataSlider"
    [currentSlideIndex]="currentSlideIndex"
    (slideOut)="slideOut($event)"
  >
    <shared-slider-card-body
      *ngFor="let item of clientData; let i = index"
      [id]="i + 1"
      [current]="currentSlideIndex + 1"
    >
      <div class="card-blue">
        <div class="grid-2">
          <fui-text>Parent/Group Company</fui-text>
          <fui-text>Company's Origin Country</fui-text>
        </div>
        <div class="mt-5 grid-2">
          <fui-text [weight]="'semibold'">{{ item.parent }}</fui-text>
          <fui-text [weight]="'semibold'">{{ item.companyOrigin }}</fui-text>
        </div>
        <div class="mt-20 grid">
          <fui-text>Address</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.address
          }}</fui-text>
        </div>
        <fui-link
          class="mt-20"
          [colorLink]="'primary'"
          [urlLink]="'#'"
          [typeLink]="'coloring'"
          >Change address</fui-link
        >
        <div class="mt-20 grid">
          <fui-text>Entity Type</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.entityType
          }}</fui-text>
        </div>
        <div class="mt-20 grid">
          <fui-text>Industry/Business Sector</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.industry
          }}</fui-text>
        </div>
      </div>
    </shared-slider-card-body>
  </shared-slider-card>
  <!-- SLIDER  -->
</div>
<!-- CLIENT INFORMATION  -->

<!-- OTHER INFORMATION  -->
<div class="card mt-20" *ngIf="billabilityForm.value === 'Nonbillable'">
  <fui-text class="head-label" [weight]="'semibold'"
    >Other Information</fui-text
  >
  <div class="flex align-center">
    <fui-text>Matter Controllers</fui-text>
    <fui-badge [size]="'sizes'" [color]="'ghost'">5</fui-badge>
  </div>
  <div class="grid-3 mt-10">
    <fui-badge [fullWidth]="true" [color]="'ghost'" [size]="'sizedefault'">
      <div class="text-left">
        <fui-text>Jane Cooper (JC)</fui-text>
        <fui-text class="flex mt-5">Senior Associate</fui-text>
      </div>
    </fui-badge>
    <fui-badge [fullWidth]="true" [color]="'ghost'" [size]="'sizedefault'">
      <div class="text-left">
        <fui-text>Jane Cooper (JC)</fui-text>
        <fui-text class="flex mt-5">Senior Associate</fui-text>
      </div>
    </fui-badge>
    <fui-badge [fullWidth]="true" [color]="'ghost'" [size]="'sizedefault'">
      <div class="text-left">
        <fui-text>Jane Cooper (JC)</fui-text>
        <fui-text class="flex mt-5">Senior Associate</fui-text>
      </div>
    </fui-badge>
  </div>
  <fui-button-icon
    (onClick)="openFlyoutManageController()"
    class="flex mt-15"
    [style]="'secondary'"
    [color]="'primary'"
    [type]="'button'"
    [option]="'iconText'"
    [icon]="'users'"
    [text]="'Manage Controller'"
  />
</div>
<!-- OTHER INFORMATION  -->

<!-- FLYOUT ---------------------- -->

<!-- UPLOAD MATTER FORM  -->
<shared-flyout-simple
  [titleFlyout]="'Upload Matter Form'"
  [isOpenFlyout]="isOpenFlyoutMatterForm"
  (closeOut)="openFlyoutMatterForm()"
>
  <div body>
    <div class="flex">
      <fui-icons [icon]="'folderOpen'" />
      <fui-text>/</fui-text>
      <fui-text>5889</fui-text>
      <fui-text>/</fui-text>
      <fui-text>EL</fui-text>
    </div>
    <div class="mt-10 overflow-hidden">
      <fui-field-filepicker />
    </div>
    <hr width="150" class="mt-20" />
    <div class="mt-20">
      <fui-text class="head-label" [weight]="'semibold'"
        >Document Metadata</fui-text
      >
    </div>
    <!-- LANGUAGE  -->
    <div class="form-control">
      <fui-text class="label"> Language </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [formControlField]="languageForm"
          [size]="'m'"
          [placeholder]="'Please select language'"
          [invalid]="false"
          [selectOptions]="languageOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- LANGUAGE  -->

    <!-- DESCRIPTION  -->
    <div class="form-control">
      <fui-text class="label"> Description </fui-text>
      <fui-form-control-layout>
        <fui-textarea
          [formControlField]="descriptionForm"
          [placeholder]="'Type description'"
          [size]="'m'"
          [invalid]="false"
        >
        </fui-textarea>
      </fui-form-control-layout>
    </div>
    <!-- DESCRIPTION  -->
  </div>
  <div footer class="flex-between footer-fly">
    <fui-button-icon
      (onClick)="openFlyoutMatterForm()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Cancel'"
    />
    <fui-button-icon
      (onClick)="openFlyoutMatterForm()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'filled'"
      [option]="'iconText'"
      [icon]="'export'"
      [text]="'Upload File'"
    />
  </div>
</shared-flyout-simple>
<!-- UPLOAD MATTER FORM  -->

<!-- MANAGE MEMBER  -->
<shared-flyout-simple
  [titleFlyout]="'Manage Members'"
  [size]="'m'"
  [isOpenFlyout]="isOpenFlyoutManageMember"
  (closeOut)="openFlyoutManageMember()"
>
  <div body>
    <div class="selected-fly">
      <div class="flex align-center">
        <fui-text [weight]="'semibold'">Selected</fui-text>
        <fui-text [size]="'sizes'" class="border-badge">{{
          selectedEmployeMatterMember.length
        }}</fui-text>
      </div>

      <!-- BADGE SELECTED  -->
      <div class="grid-3 mt-10">
        <div
          class="border-badge"
          *ngFor="let item of selectedEmployeMatterMember"
        >
          <div class="flex p-8 align-center">
            <div class="">
              <fui-text>{{ item.name }}</fui-text>
              <fui-text class="flex mt-5">{{ item.position }}</fui-text>
            </div>
            <fui-button-icon
              (onClick)="addRemoveMatterMember(item, 'remove')"
              [size]="'s'"
              [type]="'button'"
              [option]="'icon'"
              [icon]="'cross'"
              [style]="'secondary'"
              [color]="'danger'"
            />
          </div>
        </div>
      </div>
      <shared-empty-data
        [title]="'No Employee Selected'"
        [subTitle]="'Please select employee first.'"
        [dataLength]="selectedEmployeMatterMember.length"
      />
      <!-- BADGE SELECTED  -->
    </div>

    <!-- LABEL  -->
    <div class="flex-between mt-20">
      <fui-text [weight]="'semibold'">All Employee</fui-text>
      <div class="checkbox">
        <input
          type="checkbox"
          [checked]="isProjectName"
          [(ngModel)]="isProjectName"
        />
        <fui-text [size]="'sizes'">Include inactive employee</fui-text>
      </div>
    </div>
    <!-- LABEL  -->

    <!-- SEARCH FORM  -->
    <fui-form-control-layout class="flex mt-30">
      <fui-input-field
        [type]="'text'"
        [placeholder]="'Search by name or initials'"
        [invalid]="false"
        [size]="'m'"
      >
        <fui-icons left-icon [icon]="'search'" />
      </fui-input-field>
    </fui-form-control-layout>
    <!-- SEARCH FORM  -->

    <!-- TABLE  -->
    <fui-table
      class="flex mt-20"
      [limit]="10"
      [totalItems]="allEmployeList.length"
      [showInfo]="false"
    >
      <fui-table-head *ngFor="let header of title">
        {{ header }}
      </fui-table-head>
      <fui-table-body *ngFor="let data of allEmployeList">
        <fui-table-body-row *ngIf="!selectedEmployeMatterMember.includes(data)">
          <fui-table-body-data>
            {{ data.name }}
          </fui-table-body-data>
          <fui-table-body-data>
            {{ data.position }}
          </fui-table-body-data>
          <fui-table-body-data style="min-width: 20px; width: 20px">
            <fui-button-icon
              (onClick)="addRemoveMatterMember(data, 'add')"
              [type]="'button'"
              [color]="'primary'"
              [style]="'secondary'"
              [option]="'icon'"
              [icon]="'plusInCircle'"
            ></fui-button-icon>
          </fui-table-body-data>
        </fui-table-body-row>
      </fui-table-body>
    </fui-table>
    <!-- TABLE  -->
  </div>
  <div footer class="flex-between footer-fly">
    <fui-button-icon
      (onClick)="openFlyoutManageMember()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Cancel'"
    />
    <fui-button-icon
      (onClick)="openFlyoutManageMember()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'filled'"
      [option]="'text'"
      [text]="'Add Member'"
    />
  </div>
</shared-flyout-simple>
<!-- MANAGE MEMBER  -->

<!-- MANAGE CONTROLLER  -->
<shared-flyout-simple
  [titleFlyout]="'Manage Matter Controllers'"
  [size]="'m'"
  [isOpenFlyout]="isOpenFlyoutManageController"
  (closeOut)="openFlyoutManageController()"
>
  <div body>
    <div class="selected-fly">
      <div class="flex align-center">
        <fui-text [weight]="'semibold'">Selected</fui-text>
        <fui-badge [size]="'sizes'" [color]="'ghost'">5</fui-badge>
      </div>
      <div class="grid-3 mt-10">
        <fui-badge [fullWidth]="true" [color]="'ghost'" [size]="'sizedefault'">
          <div class="text-left">
            <fui-text>Jane Cooper (JC)</fui-text>
            <fui-text class="flex mt-5">Senior Associate</fui-text>
          </div>
        </fui-badge>
        <fui-badge [fullWidth]="true" [color]="'ghost'" [size]="'sizedefault'">
          <div class="text-left">
            <fui-text>Jane Cooper (JC)</fui-text>
            <fui-text class="flex mt-5">Senior Associate</fui-text>
          </div>
        </fui-badge>
        <fui-badge [fullWidth]="true" [color]="'ghost'" [size]="'sizedefault'">
          <div class="text-left">
            <fui-text>Jane Cooper (JC)</fui-text>
            <fui-text class="flex mt-5">Senior Associate</fui-text>
          </div>
        </fui-badge>
        <fui-badge [fullWidth]="true" [color]="'ghost'" [size]="'sizedefault'">
          <div class="text-left">
            <fui-text>Jane Cooper (JC)</fui-text>
            <fui-text class="flex mt-5">Senior Associate</fui-text>
          </div>
        </fui-badge>
        <fui-badge [fullWidth]="true" [color]="'ghost'" [size]="'sizedefault'">
          <div class="text-left">
            <fui-text>Jane Cooper (JC)</fui-text>
            <fui-text class="flex mt-5">Senior Associate</fui-text>
          </div>
        </fui-badge>
      </div>
    </div>
    <div class="flex-between mt-20">
      <fui-text [weight]="'semibold'">All Employee</fui-text>
      <div class="checkbox">
        <input
          type="checkbox"
          [checked]="isProjectName"
          [(ngModel)]="isProjectName"
        />
        <fui-text [size]="'sizes'">Include inactive employee</fui-text>
      </div>
    </div>
    <fui-form-control-layout class="flex mt-30">
      <fui-input-field
        [type]="'text'"
        [placeholder]="'Search by name or initials'"
        [invalid]="false"
        [size]="'m'"
      >
        <fui-icons left-icon [icon]="'search'" />
      </fui-input-field>
    </fui-form-control-layout>
    <fui-table
      class="flex mt-20"
      [limit]="5"
      [totalItems]="1"
      [showInfo]="false"
    >
      <fui-table-head *ngFor="let header of title">
        {{ header }}
      </fui-table-head>
      <fui-table-body *ngFor="let data of dataContent">
        <fui-table-body-row>
          <fui-table-body-data>
            {{ data.name }}
          </fui-table-body-data>
          <fui-table-body-data>
            {{ data.position }}
          </fui-table-body-data>
          <fui-table-body-data style="min-width: 20px; width: 20px">
            <fui-button-icon
              [type]="'button'"
              [color]="'primary'"
              [style]="'secondary'"
              [option]="'icon'"
              [icon]="'plusInCircle'"
            />
          </fui-table-body-data>
        </fui-table-body-row>
      </fui-table-body>
    </fui-table>
  </div>
  <div footer class="flex-between footer-fly">
    <fui-button-icon
      (onClick)="openFlyoutManageController()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Cancel'"
    />
    <fui-button-icon
      (onClick)="openFlyoutManageController()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'filled'"
      [option]="'text'"
      [text]="'Add Controller'"
    />
  </div>
</shared-flyout-simple>
<!-- MANAGE CONTROLLER  -->

<!-- NEW STAKEHOLDER -->
<shared-flyout-simple
  [titleFlyout]="'Add New Stakeholder'"
  [size]="'s'"
  [isOpenFlyout]="isOpenFlyoutStakeHolder"
  (closeOut)="openFlyoutStakeholder()"
>
  <div body>
    <fui-text [weight]="'semibold'">General Information</fui-text>

    <!-- STAKEHOLDER NAME  -->
    <div class="form-control mt-15">
      <fui-text class="label"> Stakeholder Name </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [formControlField]="stakeholderNameForm"
          [placeholder]="'Type stakeholder name'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- STAKEHOLDER NAME  -->

    <!-- PARENT/GROUP COMPANY  -->
    <div class="form-control">
      <div class="flex-between">
        <fui-text class="label"> Parent/Group Company </fui-text>
        <div class="checkbox">
          <input
            type="checkbox"
            [checked]="isParentGroupCompany"
            [(ngModel)]="isParentGroupCompany"
          />
          <fui-text
            [size]="'sizes'"
            (click)="isParentGroupCompany = !isParentGroupCompany"
            >N/A</fui-text
          >
        </div>
      </div>
      <fui-form-control-layout *ngIf="!isParentGroupCompany">
        <fui-input-field
          [formControlField]="parentGroupCompanyForm"
          [placeholder]="'Type parent/group company'"
          [type]="'text'"
          [invalid]="false"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
      <fui-text
        class="fs-italic mt-10"
        [color]="'disabled'"
        *ngIf="isParentGroupCompany"
        >Not Applicable</fui-text
      >
    </div>
    <!-- PARENT/GROUP COMPANY  -->

    <!-- PARENT/GROUP COMPANY ORIGIN COOUNTRY  -->
    <div class="form-control">
      <fui-text class="label"> Parent/Group Company Origin Country </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [formControlField]="parentGroupCompanyOrigiinCountry"
          [placeholder]="'Please select parent/group company origin country'"
          [invalid]="false"
          [selectOptions]="parentGroupCompanyOrigiinCountryOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- PARENT/GROUP COMPANY ORIGIN COOUNTRY  -->

    <hr />

    <!-- ADDRESS NAME  -->
    <div class="form-control mt-15">
      <fui-text class="label"> Address Name </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [formControlField]="addressNameForm"
          [placeholder]="'e.g Main Office, Headquarters, etc'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- ADDRESS NAME  -->

    <!-- Company NAME  -->
    <div class="form-control mt-15">
      <fui-text class="label"> Company Name </fui-text>
      <fui-form-control-layout>
        <fui-textarea
          [invalid]="false"
          [formControlField]="companyNameForm"
          [placeholder]="'e.g 2118 Thornridge Cir. Syracuse, Connecticut 35624'"
          [size]="'m'"
        ></fui-textarea>
      </fui-form-control-layout>
    </div>
    <!-- Company NAME  -->

    <!-- LOCATION  -->
    <div class="form-control">
      <fui-text class="label"> Location </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [formControlField]="parentGroupCompanyOrigiinCountry"
          [placeholder]="'Please select location'"
          [invalid]="false"
          [selectOptions]="parentGroupCompanyOrigiinCountryOption"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- LOCATION  -->

    <hr />

    <fui-text class="flex mt-20" [weight]="'semibold'"
      >Billing Information</fui-text
    >

    <!-- NPWP NUMBER  -->
    <div class="form-control mt-15">
      <fui-text class="label"> Number NPWP </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [formControlField]="npwpNumberForm"
          [placeholder]="'Type NPWP Number'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- NPWP NUMBER  -->

    <!-- BILLING NAME  -->
    <div class="form-control mt-15">
      <fui-text class="label"> Billing Name </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [formControlField]="billingNameForm"
          [placeholder]="'Type billing name'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- BILLING NAME  -->

    <!-- BILLING ADDRESS  -->
    <div class="flex-between align-center">
      <fui-text> Billing Address </fui-text>
      <div class="checkbox">
        <input
          type="checkbox"
          [checked]="isBillingAddress"
          [(ngModel)]="isBillingAddress"
        />
        <fui-text
          [size]="'sizes'"
          (click)="isBillingAddress = !isBillingAddress"
          >Same as Company Address</fui-text
        >
      </div>
    </div>
    <!-- BILLING ADDRESS  -->

    <div class="mt-20" *ngIf="!isBillingAddress">
      <!-- BILLING ADDRESS NAME  -->
      <div class="form-control mt-15">
        <fui-text class="label"> Billing Address Name </fui-text>
        <fui-form-control-layout>
          <fui-input-field
            [type]="'text'"
            [invalid]="false"
            [formControlField]="billingAddressNameForm"
            [placeholder]="'Type billing address name'"
            [size]="'m'"
          ></fui-input-field>
        </fui-form-control-layout>
      </div>
      <!-- BILLING ADDRESS NAME  -->

      <!-- BILLING ADDRESS  -->
      <div class="form-control mt-15">
        <fui-text class="label"> Billing Address </fui-text>
        <fui-form-control-layout>
          <fui-input-field
            [type]="'text'"
            [invalid]="false"
            [formControlField]="billingAddressForm"
            [placeholder]="'Type billing adrress'"
            [size]="'m'"
          ></fui-input-field>
        </fui-form-control-layout>
      </div>
      <!-- BILLING ADDRESS  -->

      <!-- LOCATION  -->
      <div class="form-control">
        <fui-text class="label"> Location </fui-text>
        <fui-form-control-layout>
          <fui-select-field
            [size]="'m'"
            [formControlField]="locationBillingForm"
            [placeholder]="'Please select location'"
            [invalid]="false"
            [selectOptions]="[]"
          >
          </fui-select-field>
        </fui-form-control-layout>
      </div>
      <!-- LOCATION  -->
    </div>
  </div>

  <div footer class="flex-between footer-fly">
    <fui-button-icon
      (onClick)="openFlyoutStakeholder()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Cancel'"
    />
    <fui-button-icon
      (onClick)="openFlyoutStakeholder()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'filled'"
      [option]="'text'"
      [text]="'Add Client'"
    />
  </div>
</shared-flyout-simple>
<!-- NEW STAKEHOLDER -->

<!-- CONTACK PERSON  -->
<shared-flyout-simple
  [isOpenFlyout]="isOpenFlyoutContactPerson"
  [titleFlyout]="'Add Contact'"
  (closeOut)="openFlyoutContactPerson()"
>
  <div body>
    <!-- STACKHOLDER  -->
    <div class="form-control">
      <fui-text class="label"> Stackholder </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [placeholder]="'Please select stackholder'"
          [invalid]="false"
          [selectOptions]="[]"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- STACKHOLDER  -->

    <!-- NAME  -->
    <div class="form-control">
      <fui-text class="label"> Name </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'Contact Name'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- NAME  -->

    <!-- EMAIL  -->
    <div class="form-control">
      <fui-text class="label"> Email </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'e.g example@mail.com'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- EMAIL  -->

    <!-- PHONE NUMBER  -->
    <div class="form-control">
      <fui-text class="label"> Phone Number </fui-text>
      <fui-form-control-layout>
        <fui-prepend> FLAG </fui-prepend>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'+62'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- PHONE NUMBER  -->

    <hr />

    <!-- POSITION TYPE  -->
    <div class="form-control mt-20">
      <fui-text class="label"> Position Type </fui-text>
      <fui-form-control-layout>
        <fui-select-field
          [size]="'m'"
          [placeholder]="'Please position type'"
          [invalid]="false"
          [selectOptions]="[]"
        >
        </fui-select-field>
      </fui-form-control-layout>
    </div>
    <!-- POSITION TYPE  -->

    <!-- POSITION TITLE  -->
    <div class="form-control">
      <fui-text class="label"> Position Title </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'Person position title'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- POSITION TITLE  -->

    <!-- DEPARTMENT  -->
    <div class="form-control">
      <fui-text class="label"> Departement </fui-text>
      <fui-form-control-layout>
        <fui-input-field
          [type]="'text'"
          [invalid]="false"
          [placeholder]="'Person departement'"
          [size]="'m'"
        ></fui-input-field>
      </fui-form-control-layout>
    </div>
    <!-- DEPARTMENT  -->
  </div>
  <div footer class="flex-between footer-fly">
    <fui-button-icon
      (onClick)="openFlyoutContactPerson()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Cancel'"
    />
    <fui-button-icon
      (onClick)="openFlyoutContactPerson()"
      [type]="'button'"
      [color]="'primary'"
      [style]="'filled'"
      [option]="'text'"
      [text]="'Add Other Stackholder'"
    />
  </div>
</shared-flyout-simple>
<!-- CONTACK PERSON  -->
