<div class="card">
  <fui-text class="head-label" [weight]="'semibold'"
    >General Information</fui-text
  >

  <!-- 3 FORM CONTROL  -->
  <div class="grid-3">
    <shared-form-control
      [label]="'Matter Number'"
      [type]="'text'"
      [append]="{ type: 'icon', icon: 'refresh', color: 'primary' }"
    />
    <shared-form-control
      [leftIcon]="'search'"
      [label]="'Parent Matter'"
      [type]="'search'"
      [checkbox]="{
        label: 'N/A',
        model: false,
      }"
    />
    <shared-form-control
      [label]="'Conflict Search ID'"
      [type]="'text'"
      [checkbox]="{
        label: 'N/A',
        model: false,
      }"
    />
  </div>
  <!-- 3 FORM CONTROL  -->

  <!-- PROJECT NAME  -->
  <shared-form-control
    class="mt-15"
    [label]="'Project Name'"
    [labelTooltip]="'label'"
    [type]="'text'"
    [checkbox]="{
    label: 'N/A',
    model: false,
  }"
  />
  <!-- PROJECT NAME  -->

  <!-- Matter Short Description  -->
  <shared-form-control
    class="mt-15"
    [label]="'Matter Short Description'"
    [type]="'textarea'"
    [checkbox]="{
    label: 'N/A',
    model: false,
  }"
  />
  <!-- Matter Short Description  -->

  <!-- BILLABILITY & MATTER FORM  -->
  <div class="grid-2 mt-15">
    <shared-form-control
      [label]="'Billability'"
      [type]="'combo-box'"
      [rightIcon]="'arrowDown'"
    />
    <div class="flex gap-5 align-end">
      <shared-form-control
        [label]="'Matter Form'"
        [type]="'text'"
        [disabled]="true"
      />
      <fui-button-icon
        [type]="'button'"
        [option]="'icon'"
        [icon]="'export'"
        [style]="'secondary'"
      />
    </div>
  </div>
  <!-- BILLABILITY & MATTER FORM  -->

  <!-- PRACTICE AREA & MATTER TYPE  -->
  <div class="grid-2 mt-15">
    <shared-form-control
      [label]="'Practice Area'"
      [type]="'combo-box'"
      [rightIcon]="'arrowDown'"
    />
    <shared-form-control
      [label]="'Matter Type'"
      [type]="'combo-box'"
      [rightIcon]="'arrowDown'"
    />
  </div>
  <!-- PRACTICE AREA & MATTER TYPE  -->

  <!-- PIC & PRM  -->
  <div class="grid-2 mt-15">
    <shared-form-control
      [label]="'Partner in Charge (PIC)'"
      [labelTooltip]="'label'"
      [type]="'text'"
      [append]="{ type: 'icon', icon: 'search', color: 'primary' }"
    />
    <shared-form-control
      [label]="'Partner Referral Marketing (PRM)'"
      [labelTooltip]="'label'"
      [type]="'text'"
      [append]="{ type: 'icon', icon: 'search', color: 'primary' }"
    />
  </div>
  <!-- PIC & PRM  -->

  <!-- BUSINESS SOURCE  -->
  <div class="grid-2 align-end mt-15">
    <shared-form-control
      [label]="'Business Source'"
      [type]="'combo-box'"
      [rightIcon]="'arrowDown'"
    />
    <shared-form-control
      [type]="'text'"
      [disabled]="true"
    />
  </div>
  <!-- BUSINESS SOURCE  -->

  <!-- MATTER MEMBER  -->
  <div class="grid-2 mt-15 flex-between">
    <fui-text class="label">Matter Members (5)</fui-text>
    <fui-text class="label" [color]="'primary'">Manage Members</fui-text>
  </div>
  <div class="grid-2 mt-10">
    <fui-badge
      [color]="'ghost'"
      [fullWidth]="true"
      [size]="'sizexl'"
      [isBadgeIcon]="false"
    >
      <div class="grid">
        <fui-text>Jacob Jones (JJ)</fui-text>
        <fui-text>Senior Associate</fui-text>
      </div>
    </fui-badge>
    <fui-badge
      [color]="'ghost'"
      [fullWidth]="true"
      [size]="'sizexl'"
      [isBadgeIcon]="false"
    >
      <div class="grid">
        <fui-text>Jacob Jones (JJ)</fui-text>
        <fui-text>Senior Associate</fui-text>
      </div>
    </fui-badge>
    <fui-badge
      [color]="'ghost'"
      [fullWidth]="true"
      [size]="'sizexl'"
      [isBadgeIcon]="false"
    >
      <div class="grid">
        <fui-text>Jacob Jones (JJ)</fui-text>
        <fui-text>Senior Associate</fui-text>
      </div>
    </fui-badge>
    <fui-badge
      [color]="'ghost'"
      [fullWidth]="true"
      [size]="'sizexl'"
      [isBadgeIcon]="false"
    >
      <div class="grid">
        <fui-text>Jacob Jones (JJ)</fui-text>
        <fui-text>Senior Associate</fui-text>
      </div>
    </fui-badge>
  </div>
  <!-- MATTER MEMBER  -->

  <!-- CLIENT NAME & CLIENT CONTACT PERSON  -->
  <div class="mt-20">
    <fui-text class="head-label" [weight]="'semibold'"
      >Client Information</fui-text
    >
    <div class="grid-2">
      <div class="form-control">
        <div class="flex-start">
          <fui-text class="label">Client Name</fui-text>
          <fui-icons [icon]="'questionInCircle'" [size]="'sizexs'" />
        </div>
        <fui-combo-box
          [leftIcon]="'search'"
          [optionValue]="[]"
          [selectedValue]="[]"
        />
        <fui-button-icon
          class="flex mt-5"
          [type]="'button'"
          [option]="'iconText'"
          [icon]="'plusInCircle'"
          [text]="'Add new client'"
          [color]="'ghost'"
          [style]="'secondary'"
        />
      </div>
      <div class="form-control">
        <div class="flex-between">
          <fui-text class="label">Client Contact Person</fui-text>
          <div class="checkbox">
            <input type="checkbox" name="" id="" />
            <fui-text [size]="'sizes'">N/A</fui-text>
          </div>
        </div>
        <fui-combo-box
          [leftIcon]="'search'"
          [optionValue]="[]"
          [selectedValue]="[]"
        />
        <fui-button-icon
          class="flex mt-5"
          [type]="'button'"
          [option]="'iconText'"
          [icon]="'plusInCircle'"
          [text]="'Add new client'"
          [color]="'ghost'"
          [style]="'secondary'"
        />
      </div>
    </div>
  </div>
  <!-- CLIENT NAME & CLIENT CONTACT PERSON  -->

  <!-- SLIDER  -->
  <shared-slider-card
    [dataSlider]="dataSlider"
    [currentSlideIndex]="currentSlideIndex"
    (slideOut)="slideOut($event)"
  >
    <shared-slider-card-body
      *ngFor="let item of clientData; let i = index"
      [id]="i + 1"
      [current]="currentSlideIndex + 1"
    >
      <div class="card-blue">
        <div class="grid-2">
          <fui-text>Parent/Group Company</fui-text>
          <fui-text>Company's Origin Country</fui-text>
        </div>
        <div class="mt-5 grid-2">
          <fui-text [weight]="'semibold'">{{ item.parent }}</fui-text>
          <fui-text [weight]="'semibold'">{{ item.companyOrigin }}</fui-text>
        </div>
        <div class="mt-20 grid">
          <fui-text>Address</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.address
          }}</fui-text>
        </div>
        <fui-link
          class="mt-20"
          [colorLink]="'primary'"
          [urlLink]="'#'"
          [typeLink]="'coloring'"
          >Change address</fui-link
        >
        <div class="mt-20 grid">
          <fui-text>Entity Type</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.entityType
          }}</fui-text>
        </div>
        <div class="mt-20 grid">
          <fui-text>Industry/Business Sector</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.industry
          }}</fui-text>
        </div>
      </div>
    </shared-slider-card-body>
  </shared-slider-card>
  <!-- SLIDER  -->

  <!-- 2 FORM CONTROL  -->
  <div class="grid-2 mt-20">
    <div class="form-control">
      <div class="flex-between">
        <div class="flex-start">
          <fui-text class="label">Instructing Party</fui-text>
          <fui-icons [icon]="'questionInCircle'" [size]="'sizexs'" />
        </div>
        <div class="checkbox">
          <input type="checkbox" name="" id="" />
          <fui-text [size]="'sizes'">N/A</fui-text>
        </div>
      </div>
      <fui-form-control-layout>
        <fui-input-field
          [formControlField]="matterNumberForm"
          [placeholder]="'object/event'"
          [type]="'text'"
          [size]="'m'"
          [invalid]="matterNumberForm.invalid && matterNumberForm.dirty"
        >
          <fui-icons
            left-icon
            [label]="'right'"
            [icon]="'search'"
            [size]="'sizem'"
            [color]="'text'"
          />
          <fui-icons
            *ngIf="matterNumberForm.invalid && matterNumberForm.dirty"
            right-icon
            [label]="'right'"
            [icon]="'alert'"
            [size]="'sizem'"
            [color]="'danger'"
          />
        </fui-input-field>
        <fui-validator-field
          validator
          [message]="'Object/Event is required!'"
        />
      </fui-form-control-layout>
      <fui-button-icon
        class="flex mt-5"
        [type]="'button'"
        [option]="'iconText'"
        [icon]="'plusInCircle'"
        [text]="'Add new instructing party'"
        [color]="'ghost'"
        [style]="'secondary'"
      />
    </div>
  </div>
  <!-- 2 FORM CONTROL  -->

  <!-- SLIDER  -->
  <shared-slider-card
    [dataSlider]="dataSlider"
    [currentSlideIndex]="currentSlideIndex"
    (slideOut)="slideOut($event)"
  >
    <shared-slider-card-body
      *ngFor="let item of clientData; let i = index"
      [id]="i + 1"
      [current]="currentSlideIndex + 1"
    >
      <div class="card-blue">
        <div class="grid-2">
          <fui-text>Parent/Group Company</fui-text>
          <fui-text>Company's Origin Country</fui-text>
        </div>
        <div class="mt-5 grid-2">
          <fui-text [weight]="'semibold'">{{ item.parent }}</fui-text>
          <fui-text [weight]="'semibold'">{{ item.companyOrigin }}</fui-text>
        </div>
        <div class="mt-20 grid">
          <fui-text>Address</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.address
          }}</fui-text>
        </div>
        <fui-link
          class="mt-20"
          [colorLink]="'primary'"
          [urlLink]="'#'"
          [typeLink]="'coloring'"
          >Change address</fui-link
        >
        <div class="mt-20 grid">
          <fui-text>Entity Type</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.entityType
          }}</fui-text>
        </div>
        <div class="mt-20 grid">
          <fui-text>Industry/Business Sector</fui-text>
          <fui-text [weight]="'semibold'" class="mt-5">{{
            item.industry
          }}</fui-text>
        </div>
      </div>
    </shared-slider-card-body>
  </shared-slider-card>
  <!-- SLIDER  -->
</div>
