@import "../../../app.component.scss";

.tabs {
  margin: 20px 0px;
}
.back-link {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  &:hover {
    span {
      text-decoration: underline;
    }
  }
  fui-icons {
    margin-right: 5px;
  }
}
.card-content {
  padding: 20px 15px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  border-radius: 5px;
}

.grid {
  display: grid;
  fui-text {
    margin-top: 30px;
    margin-bottom: 10px;
    &:last-child {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}

.flex {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.filter-title {
  padding: 4px 6px;
  width: fit-content;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    background-color: var(--fuiColorLightShade, $fuiColorLightShade);
    font-size: 11px;
    padding: 2px 3px;
    border-radius: 3px;
    margin-left: 5px;
    text-decoration: none;
    &.accent {
      color: var(--fuiColorEmptyShade, $fuiColorEmptyShade);
      background-color: var(--fuiColorAccent, $fuiColorAccent);
    }
  }
}

.flex-filter {
  display: flex;
  flex-wrap: wrap;
  .mb-15 {
    margin-bottom: 15px;
  }
}

.overflow {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.mt {
  &-5 {
    margin-top: 5px;
  }
  &-10 {
    margin-top: 10px;
  }
  &-20 {
    margin-top: 20px;
  }
  &-25 {
    margin-top: 25px;
  }
  &-30 {
    margin-top: 30px;
  }
  &-35 {
    margin-top: 35px;
  }
  &-40 {
    margin-top: 40px;
  }
}

.mb {
  &-10 {
    margin-bottom: 10px;
  }
  &-15 {
    margin-bottom: 15px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-25 {
    margin-bottom: 25px;
  }
}

.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.grid {
  &-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  &-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
.gap {
  &-10 {
    gap: 10px;
  }
  &-20 {
    gap: 20px;
  }
  &-30 {
    gap: 30px;
  }
}
.col-span-2 {
  grid-column: span 2;
}

.flex-label {
  display: flex;
  gap: 5px;
}
.flex-label-gap-10 {
  display: flex;
  width: inherit;
  gap: 10px;
}

.flex-badge-general {
  display: flex;
  gap: 10px;
}

.grid-1-custom {
  display: grid;
  grid-template-columns: minmax(250px, 1fr);
}

.text-overflow {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}
.w-350 {
  width: 350px;
}

.flex-row-20 {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
