<fui-modal [open]="openModalDelete">
  <fui-modal-header [iconCloseShow]="false" (onCloseModal)="closelModalDelete()">
    <div class="container-title">
      <div class="bg-icon">
        <fui-icons
          [color]="'danger'"
          [size]="'sizexxl'"
          [icon]="'questionInCircle'"
        />
      </div>
      <div class="title-modal">
        <fui-text [color]="'text'" [weight]="'bold'" [size]="'sizel'">
          {{ title }}
        </fui-text>
      </div>
    </div>
  </fui-modal-header>
  <fui-modal-body>
    <div class="modal">
      <fui-text>{{ desc }}</fui-text>
    </div>
  </fui-modal-body>
  <fui-modal-footer [isCustomModalFooter]="true">
    <div class="foot">
      <fui-button-icon
        (onClick)="closelModalDelete()"
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="btnCancel"
        [style]="'secondary'"
        [color]="'text'"
        [shadow]="true"
      />
      <fui-button-icon
        (onClick)="deleteAction()"
        [size]="'m'"
        [type]="'button'"
        [option]="'text'"
        [text]="btnContinue"
        [style]="'filled'"
        [color]="'danger'"
        [shadow]="true"
      />
    </div>
  </fui-modal-footer>
</fui-modal>
